[2018-06-21 15:43] lfunkhouser commented on #614
@kgonzago Can you provide additional information on how this change will affect circles, rings, and ellipses in #533

[2018-06-22 12:42] kgonzago commented on #614
@lfunkhouser This feature will not affect those other shapes you mentioned; only lines.

[2018-06-22 13:49] lfunkhouser commented on #614
@kgonzago please provide a level of effort to label the lines along the line drawn.

[2018-06-22 14:23] lfunkhouser commented on #609
n.m. is not a symbol for nautical mile. They symbol for nautical mile is M, NM, or nmi

Removing the `verified `label, and adding back `development `and `qc (manual)`.

[2018-06-24 19:21] dfoll commented on #211
I do not see this behavior happening any more in 10.6.1 with MT 48

[2018-06-25 14:35] csmoore commented on #609
Change made in PR #615

Should look like this with PR - layer label expression change highlighted below:

![image](https://user-images.githubusercontent.com/3090809/41856304-b956a652-7862-11e8-8306-2b64e2541278.png)

[2018-06-25 15:05] dfoll commented on #609
Verified on build 20 of DD. Can test from MT build when it finishes.
![image](https://user-images.githubusercontent.com/5322669/41858359-897a68e2-784e-11e8-933a-0d8146a41004.png)

[2018-07-02 16:54] #609 closed

[2018-07-02 22:30] #593 closed

[2018-07-02 22:30] #607 closed

[2018-07-05 15:28] BobBooth opened #621 "ArcGIS Pro becomes unresponsive after adding multiple DD line input points quick succession"
When first using the Distance and Direction Line tool after having used the visibility tools (RLOS or LLOS on the visibility tab) if you click the input points button and click on the map multiple times in quick succession to add a few points (as if making two or three lines in a hurry), Pro locks up with the Loading Required Layer Package message.

Steps:
1) Add a raster (I used the UTM Zone 10N

[2018-07-05 21:20] lfunkhouser commented on #446
Closing as a non-issue.

[2018-07-05 21:20] #446 closed

[2018-07-05 21:52] dfoll commented on #592
it does this now for FC and SHP, exporting the same symbology to kmz is a limitation

[2018-07-05 21:52] #592 closed

[2018-07-05 21:54] dfoll commented on #465
graphics drawn with the widget as of 6.1 have labels

[2018-07-05 21:54] #465 closed

[2018-07-05 22:46] lfunkhouser commented on #621
I'm not able to reproduce this issue. Tested on ArcGIS Pro 2.1 (MT 3.0.0.75) and ArcGIS Pro 2.2 (MT 3.0.0.76) Closing.

[2018-07-05 23:07] lfunkhouser commented on #552
@BobBooth I agree. Setting scale-dependent rendering would make for a cleaner map display at a super zoomed out scale.

[2018-07-06 14:23] BobBooth commented on #621
I'm still seeing it.  It seems to happen after you've used the Visibility tools (both RLOS and LLOS). I suspect some sort of GDB locking issue.
It is sort of like https://github.com/Esri/visibility-addin-dotnet/issues/290 in that respect.
LLOS:
![image](https://user-images.githubusercontent.com/3801392/42383764-3b12d6d8-8106-11e8-8e29-23d54057b4c4.png)
RLOS:
![image](https://user-images.githubuser

[2018-07-06 16:31] lfunkhouser commented on #621
@BobBooth Please update the original description for clarity with the listed steps to reproduce.

[2018-07-06 16:42] BobBooth commented on #621
@lfunkhouser - done

[2018-07-15 22:20] dfoll commented on #437
this needs to be further clarified or closed. radials are always drawn equally spaced around the circumference of the circle. what would the case be that we would enter a directional value for radials?

[2018-07-15 22:24] dfoll commented on #244
The documentation that went out for the July release covers three cases:
- [interactively](http://solutions.arcgis.com/defense/help/distance-direction/workflows/create-lines-interactively.htm) in that you are only clicking
- [from known coordinates](http://solutions.arcgis.com/defense/help/distance-direction/workflows/create-lines-from-known-coordinates.htm)
- [using distance and bearing](http://s

[2018-07-15 23:32] lfunkhouser commented on #244
Closing. Documentation satisfies the various inputs. Distance and Direction uses "interactively" like core ArcGIS Pro does for interactive feature input. i.e. draw input features interactively on the map which become inputs to the tool.

[2018-07-15 23:32] #244 closed

[2018-07-16 13:00] BobBooth commented on #437
The GP tool does output a bearing field
![image](https://user-images.githubusercontent.com/3801392/42759835-545f5db4-88d6-11e8-8722-abdf741c2213.png)
that is specified in degrees for the radials features.
The addin does not add this field for the features it creates in Pro by default, nor the feature class exported from the graphics in ArcMap.
![image](https://user-images.githubusercontent.com/380

[2018-07-16 17:06] dfoll commented on #437
I stand corrected. What we really need, to make this issue something we can move forward with, is for someone on the team, to identify all of these areas where angular unit is displayed, or is a parameter, to make sure we offer the degrees/mils choice in those places. Also need to identify areas that we should have this information but are missing it, for example @BobBooth pointed out that if you

[2018-08-14 22:50] lfunkhouser opened #622 "Issue used to copy CT labels"
_From @lfunkhouser on August 14, 2018 22:50_

_Copied from original issue: Esri/coordinate-conversion-addin-dotnet#515_

[2018-08-14 22:51] lfunkhouser commented on #622
This issue was moved to Esri/military-tools-desktop-addins#64

[2018-08-14 22:51] #622 closed

[2018-08-21 00:52] topowright commented on #601
From the traffic above and the testing today I think this issue needs to be closed based on the work that was done by @CTLocalGovTeam. The sr lock file is removed after ArcMap is closed. @csmoore has added the idea above that this issue will only be addressed by closing ArcMap. Closing this as verified based on those ideas.

[2018-08-29 05:26] topowright opened #624 "Add support for Cumulative to the Rings tab"
#### Background
Currently the Distance and Direction widget has a support for creating cumulative rings from a given cetnerpoint.
![image](https://user-images.githubusercontent.com/5488313/44767035-061a9800-ab11-11e8-8284-feedb83e144a.png)

##### Current State
Adding the cumulative feature to the addin will allow our users to do a workflow in desktop that currently can only be done in the web.
Thi

[2018-08-29 14:51] topowright commented on #407
@dfoll I feel that now we write directily to features in the addin we should be able to close this. Can you close this if you feel the same way or explain what work we would need to do to address this issue being that we currently have all actions writing to a feature class?

[2018-08-29 15:13] topowright commented on #235
@dfoll I do not think this is an issue that we should address. We would expect the users to always put in a starting point. I feel like this can be closed.

[2018-08-29 22:31] #209 closed

[2018-08-29 22:33] #211 closed

[2018-08-29 22:38] lfunkhouser commented on #235
A start point is required to draw a line. Closing.

[2018-08-29 22:38] #235 closed

[2018-08-29 22:42] lfunkhouser commented on #236
User gets a "Point is out of bounds" warning. Closing.

[2018-08-29 22:42] #236 closed

[2018-08-30 15:58] topowright commented on #226
Since we have moved to features this issue is now non reproducible. Closing
![image](https://user-images.githubusercontent.com/5488313/44863749-cea40c80-ac32-11e8-8ad0-84dd555bf484.png)

[2018-08-30 15:58] #226 closed

[2018-08-30 16:57] lfunkhouser commented on #330
Not enough information or an understood use case. It is not understood which start points would go with which end point and there would be additional information needed for each center point for circle, rings, ellipses. Will not address at this time.

[2018-08-30 16:57] #330 closed

[2018-08-30 17:28] lfunkhouser commented on #345
Radius/Diameter input is grayed out when the Distance Calculator is active. A user can change the units but not interact with the measurement. Closing. This is functioning as designed.

[2018-08-30 17:28] #345 closed

[2018-08-30 17:31] #404 closed

[2018-08-30 17:32] lfunkhouser commented on #405
Closing. Won't fix. The behavior in the web will not be reproduced in Desktop.

[2018-08-30 17:32] #405 closed

[2018-08-30 17:32] topowright commented on #404
The experience that we have in the web will not behave the same way in the desktop application.

[2018-08-30 17:57] topowright commented on #406
We are not going to do this based on the level of effort and it is the current design.

[2018-08-30 17:58] #406 closed

[2018-08-30 17:58] topowright commented on #407
We are not going to do this based on the level of effort and it is the current design.

[2018-08-30 17:58] #407 closed

[2018-08-30 18:09] topowright commented on #437
Closing this issue. This has been implemented.

[2018-08-30 18:10] #437 closed

[2018-08-30 18:43] topowright commented on #478
Closing this issue based on the current design implemented when we started using features instead of graphics.

[2018-08-30 18:44] topowright commented on #480
Closing this issue being that we will not enable 3D on this add-in.

[2018-08-30 18:44] #480 closed

[2018-08-30 18:46] lfunkhouser commented on #501
Closing. There isn't enough information or a defined use case to toggle the labels on/off.

[2018-08-30 18:46] #501 closed

[2018-08-30 19:02] lfunkhouser commented on #522
This is non-reproducible. Features are being drawn instead of graphics. Clicking the Clear button will clear the features from the map.

[2018-08-30 19:02] #522 closed

[2018-08-30 19:04] #478 closed

[2018-08-30 19:08] lfunkhouser commented on #614
Closing. Current implementation will not be updated at this time.

[2018-08-30 19:08] #614 closed

[2018-08-30 19:16] lfunkhouser commented on #539
@BobBooth Provide an example of a widget for reference that has this functionality. @kgonzago this will move to the other repo if we will address this.

[2018-08-30 19:34] BobBooth commented on #539
@lfunkhouser - the Smart Editor widget behaves this way.
https://nationalsecurity.esri.com/portal/apps/webappviewer/index.html?id=e09c068208384f1fb8542344c7b50c1c

![image](https://user-images.githubusercontent.com/3801392/44874702-0bd7c100-ac6a-11e8-9f52-33c0991716b7.png)

[2018-08-30 20:57] kgonzago commented on #539
@BobBooth @lfunkhouser Map navigation by design is disabled during line, circle, ellipse or range ring creation. We can look into implementing it if map navigation is needed; should be an easy LOE.

[2018-08-30 21:17] lfunkhouser opened #625 "Generate polygons for rings"
_From @sindizzy on August 15, 2018 0:49_

As always thank you so much for a great product!
When we generate ellipses, circles, range rings I would vote for them to be created as a polygon rather than a polyline. Quite often I need to add a fill to the ellipse and as a polyline you can't do that. I believe the reason for this was so all geometry could be saved to one feature class. I think, as a us

[2018-08-30 23:37] topowright opened #626 "Cumulative"

[2018-08-30 23:38] topowright opened #627 "Updating the Range Rings functionality"
Range Rings needs to support four custom workflows that currently are supported in the widget, which can be found here:

http://esrifederal.maps.arcgis.com/apps/webappviewer/index.html?id=08c8e2eee1284a4682fe5b8db66fba8f

Those workflows are
**Interactive**
Allowing the user to select the range rings by clicking on the map
**Fixed**
User can select or input a center point and then create a set num

[2018-08-30 23:39] topowright commented on #627
@saip I would like to discuss this functionality further. Lets set up a time to talk this coming week.

[2018-08-30 23:45] #626 closed

[2018-08-30 23:48] topowright commented on #621
@CTLocalGovTeam now that we are using the same default project database the open edit session that ArcGIS Pro has by default is possibly creating this issue. We need to make sure when we are done with analysis we have to make sure to save the edits. This should be enough.

[2018-09-06 19:34] BobBooth commented on #601
This was addressed by Cybertech - the shapefile name is now unique, so KMZ can be made in spite of lock file, which is removed when ArcMap closes.
@lf

[2018-09-10 18:31] #601 closed

[2018-09-18 14:53] topowright commented on #548
We need to update this issue to identify exactly where the fix needs to be applied.

[2018-09-18 15:03] topowright commented on #312
Closing this issue all work for ArcMap and ArcGIS Pro will be done in issue #311

[2018-09-18 15:04] #312 closed

[2018-09-18 16:01] dfoll commented on #311
updated issue body, based on this [comment](https://github.com/Esri/distance-direction-addin-dotnet/issues/312#issuecomment-422430641) to clarify what we want in this enhancement, so this can be worked on by someone not intimately familiar with the add-in or widget

[2018-09-20 12:03] topowright commented on #210
Looking at this closer I do see a bit of a lag in the circle updating; however, the performance is not hindering use. Also, I do not understand a use case where the user would need to draw a circle capturing the world extent. The output would not be useful based on the radius being larger than the earth it self when drawing is complete. Closing this issue as won't fix.

[2018-09-20 12:03] #210 closed

[2018-09-21 21:34] topowright commented on #196
@saip if we can provide the user with functionality that allowed the input start point to change the input end point format what would the level of effort be for that capability? Based on that information will decide if we want to tackle this enhancement. FYI @lfunkhouser @dfoll

[2018-09-21 21:46] topowright commented on #527
@saip I am able to replicate this issue with ArcMap 10.7 and ArcMap 10.6.1

[2018-09-25 16:34] topowright commented on #196
This is a no fix based on the level of effort and the return added value being too low.

[2018-09-25 16:34] #196 closed

[2018-10-03 16:37] topowright commented on #280
Due to the limitation of core software this will not be fixed. We will not support drawing a feature across the IDL as a featureclass.  The graphics will be able to persist we will just not support feature creation.

[2018-10-03 16:38] #280 closed

[2018-10-03 16:44] topowright commented on #527
Currently multiple users are not able to replicate this issue. @lfunkhouser can you take a closer :eyes:

[2018-10-10 10:18] lfunkhouser opened #629 "Distance and Direction 6.4/January Update"
List of issues planned to be fixed for the January release

[2018-10-10 10:42] lfunkhouser opened #630 "Distance and Direction 6.3/September Update"
List of issues to be addressed for the September release of DD and Military Tools for ArcGIS 3.2

[2018-10-10 10:45] lfunkhouser commented on #630
Implemented and released in September Distance and Direction and Military Tools for ArcGIS 3.2

[2018-10-10 10:45] #630 closed

[2018-10-15 13:17] topowright commented on #625
Giving the user the ability to choose the geometry output for circles, ellipses, and polygons could be the path forward for this issue. For ease of use each ring would be a single feature. No unionization of features would happen automatically.

[2018-10-15 19:45] dfoll commented on #624
@topowright @kgonzago @lfunkhouser build 12  in ....\Commercial\Solutions\DefenseSolutions\DistanceAndDirection\Testing can be used to test this functionality

[2018-10-15 19:45] dfoll commented on #573
@topowright @kgonzago @lfunkhouser build 12  in ....\Commercial\Solutions\DefenseSolutions\DistanceAndDirection\Testing can be used to test this functionality

[2018-10-15 19:46] dfoll commented on #548
@topowright @kgonzago @lfunkhouser build 12  in ....\Commercial\Solutions\DefenseSolutions\DistanceAndDirection\Testing can be used to test this functionality

[2018-10-15 19:46] dfoll commented on #452
@topowright @kgonzago @lfunkhouser build 12  in ....\Commercial\Solutions\DefenseSolutions\DistanceAndDirection\Testing can be used to test this functionality

[2018-10-15 19:46] dfoll commented on #450
@topowright @kgonzago @lfunkhouser build 12  in ....\Commercial\Solutions\DefenseSolutions\DistanceAndDirection\Testing can be used to test this functionality

[2018-10-15 19:46] dfoll commented on #311
@topowright @kgonzago @lfunkhouser build 12  in ....\Commercial\Solutions\DefenseSolutions\DistanceAndDirection\Testing can be used to test this functionality

[2018-10-15 21:59] dfoll commented on #452
This is the symbology from ArcMap with build 12
![image](https://user-images.githubusercontent.com/5322669/46980841-bbd28380-d08a-11e8-918f-fb7ebfcd6c79.png)

If this is a limitation of ArcMap, we should mark this as won't fix and close.

[2018-10-16 13:45] kgonzago commented on #624
Drop-down list with options:

![image](https://user-images.githubusercontent.com/6391826/47020785-1e2d9180-d128-11e8-934e-520e6d7d32a2.png)

[2018-10-16 13:47] kgonzago commented on #624
Cumulative Testing:
![image](https://user-images.githubusercontent.com/6391826/47020972-76649380-d128-11e8-91b9-efe8c6a66d31.png)

[2018-10-16 13:59] kgonzago commented on #624
When selecting either `Cumulative` or `Origin` from the ring analysis type drop-down list, you will need to provide distances first before supplying a coordinate. If a user tries to create a point on the map without supplying distances, they will receive this message:
![image](https://user-images.githubusercontent.com/6391826/47021747-0820d080-d12a-11e8-9190-f26363739e4a.png)

[2018-10-16 14:16] dfoll commented on #548
There is still a problem with this on the Line tab in ArcMap. All tabs in Pro work correctly, and the Circle, Ellipse and Ring tab work correctly in ArcMap.

Line tab does not draw in ArcMap:
1. Select From: Distance and Bearing
2. Enter a starting point
3. Enter a distance/length of 10,000
4. Enter an angle of 32
_preview draws_
5. Change the distance/length to 20,000 by deleting the 1 and typing

[2018-10-16 14:35] dfoll commented on #311
This new functionality should be added to the Military Tools 3.3 cms release topic as well

[2018-10-16 14:36] dfoll commented on #624
This new functionality should be added to the Military Tools 3.3 cms release topic as well

[2018-10-16 14:54] dfoll commented on #450
I am ready for someone to doc review this

[2018-10-16 15:03] kgonzago commented on #311
Drop-down list with options:

![image](https://user-images.githubusercontent.com/6391826/47020785-1e2d9180-d128-11e8-934e-520e6d7d32a2.png)

`Origin` Testing:
![image](https://user-images.githubusercontent.com/6391826/47021949-867d7280-d12a-11e8-8e37-47357148bf56.png)

[2018-10-16 15:31] BobBooth commented on #450
@dfoll
I checked, and the issue is correctly mentioned in the DD January 2019 and Military Tools January 2019 pages in the Issues Addressed tables.

[2018-10-16 15:36] kgonzago commented on #311
![image](https://user-images.githubusercontent.com/6391826/47028600-aff0cb00-d137-11e8-8374-2faa9674c429.png)
Screenshot for unequal distances for rings.

[2018-10-16 15:45] csmoore commented on #452
@dfoll here is the ArcMap help topic that mentions limitations in Layer to KML tool:

http://desktop.arcgis.com/en/arcmap/10.5/manage-data/kml/creating-kml-in-arcgis-for-desktop.htm

"Layer Symbology" row of this table: http://desktop.arcgis.com/en/arcmap/10.5/manage-data/kml/creating-kml-in-arcgis-for-desktop.htm#ESRI_SECTION1_1526893BE9924595BBEC586CAFC97B0B

[2018-10-16 15:53] topowright commented on #452
@CTLocalGovTeam has came back with the approach that this cannot be fixed inside of ArcMap. They belive that it is a known limitation of ArcMap. Currently we are looking for documentation that supports this.

[2018-10-16 16:02] dfoll commented on #452
http://desktop.arcgis.com/en/arcmap/10.3/manage-data/kml/creating-kml-in-arcgis-for-desktop.htm

States that simple symbology from a feature layer can be used for kml symbology. Do we need to implement something to save to a feature layer first instead of exporting directly to kml?

[2018-10-16 19:59] kgonzago commented on #624
I will work on the workflow topic for this issue

[2018-10-16 20:38] dfoll opened #632 "Range rings creation method drop-down menu should have a label"
#### Background
Distance and Direction Rings tab has a drop-down menu for the type of rings you want to create, however this drop-down has no label to it

#### Current behavior
![image](https://user-images.githubusercontent.com/5322669/47045429-a2434180-d147-11e8-83b1-1c711fd5edd6.png)

#### Expected behavior
The drop-down should have a label to it, the same way that the other inputs do

![image](

[2018-10-16 20:43] dfoll opened #633 "Line creation method drop-down menu should have a label"
#### Background
Distance and Direction Line tab has a drop-down menu for the type of line you want to create, however this drop-down has no label to it

#### Current behavior
![image](https://user-images.githubusercontent.com/5322669/47046138-5396a700-d149-11e8-8528-a58c1d728915.png)

#### Expected behavior
The drop-down should have a label to it, the same way that the other inputs do

[2018-10-16 21:14] BobBooth opened #634 "Out of bounds clicks for Lines tab interactive construction not handled correctly"
In Pro, the Distance and Direction addin is not handling "out of bounds" clicks when interactively constructing lines.
I can click in the Pacific, zoom out to see the western edge of the basemap, drag a line across it, and click in the whitepace outside of the basemap extent. Should get an "out of bounds" message, but do not. The line is created with incorrect "nan" length.
![image](https://user-i

[2018-10-17 15:47] BobBooth commented on #452
There is an example here that may be useful:
http://edndoc.esri.com/arcobjectsonline/componenthelp/esriCore/IUniqueValueRenderer_Example.htm

[2018-10-17 16:49] BobBooth opened #635 "Cannot drag row to bottom in Range Rings Distances table"
In the new multiple distances table, when creating range rings from "Origin" or "Cumulative", the rows in the table should permit you to drag a distance to a new position in the table.
Sometimes when you click on a row and drag it up or down, the row will move up. Sometimes it will not.
To reproduce:
1. Click Rings tab.
2. Click Origin.
3. Add a series of distance values (5 of them, for example).

[2018-10-17 17:13] BobBooth commented on #624
@kgonzago and I just added the workflow topic and republished to solutionsdev and the PDF. revoved the Doc CMS and QC Doc tags.

[2018-10-17 17:16] BobBooth commented on #311
@kgonzago and I just added the workflow step and republished to solutionsdev and the PDF.
Removing Doc CMS and QC Doc tags.

[2018-10-17 20:50] BobBooth commented on #311
I believe the Doc Website tag can be removed after https://github.com/ArcGIS/arcgis-solutions-website/pull/7237 is merged.

[2018-10-17 20:51] BobBooth commented on #624
I believe the Doc Website tag can be removed after https://github.com/ArcGIS/arcgis-solutions-website/pull/7237 is merged.

[2018-10-18 15:34] BobBooth commented on #311
This is impeded - needs review and merge by @dfoll or @topowright who are not available.

[2018-10-18 15:34] BobBooth commented on #624
This is impeded - needs review and merge by @dfoll or @topowright who are not available.

[2018-10-19 19:43] #573 closed

[2018-10-23 19:54] dfoll commented on #311
Reviewed and merged

[2018-10-23 19:55] dfoll commented on #624
Reviewed and merged

[2018-10-25 16:47] sindizzy commented on #625
That's great.

[2018-10-26 21:04] BobBooth opened #636 "Distance and Direction range rings tab values are cleared (except for Number of Rings) on creation"
#### Current behavior
When creating range rings with radials using the Origin or Cumulative methods, if I set a center-point, add distances, type a value for the number of radials, and hit Enter to execute the creation of the rings, the rings and radials are created correctly, but the value is cleared (set back to 0) in the Number of Radials box, but not in the distance boxes.
![image](https://use

[2018-10-29 13:44] lfunkhouser commented on #450
@topowright Why v 10.6 for ArcMap? Has Jenkins/build machine been updated for Pro 2.3?

[2018-10-29 16:32] dfoll commented on #452
@CTLocalGovTeam was this sample helpful in determining if there can be a way forward on this issue?

[2018-11-02 13:47] #624 closed

[2018-11-02 13:48] #311 closed

[2018-11-02 13:49] #548 closed

[2018-11-02 13:49] lfunkhouser commented on #450
Updated label to v 10.3.1.

[2018-11-02 13:50] #450 closed

[2018-11-02 14:10] lfunkhouser commented on #452
@saip and @CTLocalGovTeam please identify if the sample provided by @BobBooth can be used to move forward on this issue?

[2018-11-05 13:10] dfoll commented on #452
spoke with @CTLocalGovTeam this morning. They do not have documentation that this is not supported, it just is not working for them. They have asked us to reach out to the core team to ask if we we can track down any further information about why this does not work.

[2018-11-05 19:34] dfoll commented on #621
MT build 126 or later should be able to be used to test this

[2018-11-05 19:49] dfoll commented on #621
I cannot replicate this with MT build 126. @BobBooth  can you please try to repro with MT build 126. And see if this is no longer happening, given you  originally experienced this? If it looks to be fixed, we can proceed with the doc tasks

[2018-11-05 20:22] BobBooth commented on #621
@dfoll - I cannot replicate this on MT build 126. I think OK to proceed with the doc tasks.

[2018-11-21 15:08] dfoll commented on #452
@CTLocalGovTeam I am revisiting this issue, trying to get this closed out. Unfortunately most discussions about the development on this issue took place before I assumed my current role. In this [comment](https://github.com/Esri/distance-direction-addin-dotnet/issues/452#issuecomment-395752459) @csmoore  proposed possible solution. Can it be confirmed that steps 2/3 do not work?

If steps 2/3 were

[2018-11-28 00:52] csmoore commented on #452
@dfoll @saip

Calling ApplySymbologyFromLayer with the layer files from @BobBooth [above](https://github.com/Esri/distance-direction-addin-dotnet/issues/452#issuecomment-395790115) seemed to work for me (I tested on ArcMap 10.6.1).

I made changes to support this in branch: https://github.com/Esri/distance-direction-addin-dotnet/tree/csm/%23452-export-kml-arcmap  -  in case you want to see if you

[2018-11-28 06:17] saip commented on #452
@dfoll @csmoore We have tried opening the exported kmz on https://www.google.com/maps and it does not retain the symbology(this was what we used when we tried last time). We have also tested it both on ArcGIS Earth and Google Earth and it looks good with the output generated from both 10.3.1 and 10.6.1 ArcMap versions.

Code changes and test results from the addin look good too in Google Earth and

[2018-11-28 12:43] dfoll commented on #452
@csmoore can you please do a PR for this

[2018-11-28 13:21] csmoore commented on #452
PR #638 created.

I do see the KML line styles not being retained in Google Maps - it looks like Google Maps data import doesn't import the line styles so good to know that we shouldn't use it to test - but we should be able to use ArcGIS Pro/Earth or Google Earth.

Google Maps Import:
![image](https://user-images.githubusercontent.com/3090809/49154071-7a6a0080-f2e5-11e8-87e3-9de07c2d160e.png)

[2018-11-29 14:30] dfoll commented on #452
Build 15 was created from @csmoore branch, to test

[2018-11-29 14:47] dfoll commented on #452
![image](https://user-images.githubusercontent.com/5322669/49229440-82946f80-f3bb-11e8-8ec1-2ae6ddf6dc9a.png)

Looks good when building from this [branch](https://github.com/Esri/distance-direction-addin-dotnet/tree/csm/%23452-export-kml-arcmap). @csmoore and @saip have also said they tested from this branch and looks good. Will merge to dev and build again.

[2018-11-29 14:50] dfoll commented on #452
This was listed as a known issue in Sept 2018... For January 2019 it was already removed (which is correct) but should be added as an issue addressed for both DD and MT january releases

[2018-11-29 15:02] dfoll commented on #452
build 16 was built from dev after the merge

[2018-11-30 16:20] dfoll commented on #552
@lfunkhouser @BobBooth wondering what we want to do with this one. This was listed as a known issue in sept, it is not listed in january. my opinion is that this issue would be resolved with an enhancement, but is not actually a known issue. question is do we include it as a known issue for jan or not?

[2018-11-30 19:15] dfoll commented on #452
Documentation has been updated on DEV and in the builds for the pdf for this issue if someone wants to verify.

[2018-12-05 00:52] BobBooth commented on #452
I see the issue in solutionsdev for DD and MT.  Also in both PDFs. This is verified.

[2018-12-05 18:41] lfunkhouser commented on #552
Not a bug. Added feature enhancement for cleaner map display. @dfoll agree that this should be removed from Jan and not listed as a known issue.

[2018-12-05 18:43] #452 closed

[2018-12-05 18:44] lfunkhouser commented on #629
Sign-off for delivery on 12/5/2018

[2018-12-05 18:44] #629 closed

[2018-12-14 18:30] BobBooth commented on #621
Military Tools What's new
Moved Issue 621 from know issues to issues addressed. h

Distance and Direction January 2019
Moved Issue 621 from know issues to issues addressed.

[2018-12-18 18:56] dfoll commented on #621
verified @BobBooth changes in pdf and of dev pages. noticed the navigation.yml for DD needed updated while I was there, created [PR](https://github.com/ArcGIS/arcgis-solutions-website/pull/7348).

[2018-12-19 02:43] lfunkhouser opened #639 "Add gradian as an angle unit of measure"
From GeoNet, https://community.esri.com/thread/225811-military-analyst-geodesy-graphic-tool

Enhance angle unit of measure to include the gradian. Also known as gon, grad, and grade. The international standard symbol for this unit is "gon". Other symbols include "gr", "grd", and "g".

The gradian is 1/400 of a turn (360 degrees).

Use cases: surveying, used in France

[2018-12-20 20:43] #621 closed

[2019-01-03 14:00] csmoore commented on #636
This is the behavior of all the other tabs - that all of the values are cleared when you hit enter - so this change might be inconsistent with that behavior

[2019-01-03 14:03] csmoore commented on #635
I saw this behavior with the Sept, 2018 release also - it seems like the behavior is you can't drag an item to the last row

[2019-01-03 14:11] csmoore commented on #627
This issue looks like it was addressed in PR #631 - that added fixed/cumulative options to rings tab

[2019-01-09 15:51] BobBooth commented on #527
This appears to be working correctly now. Tested switching between Web Mercator and WGS84 Geographic, was able to draw lines, circles, ellipses in ArcMap 10.3.1 with the 1/7/19 build of Military Tools.

[2019-01-11 16:31] kgonzago commented on #527
After more testing of this issue, here are the versions that work and don't:

Works in:
1. 10.3.1
2. 10.4
3. 10.5

Does not work in:
1. 10.5.1
2. 10.6
3. 10.6.1

[2019-01-11 16:46] kgonzago commented on #527
FYI @lfunkhouser, further discussions are needed to properly handle this issue.

[2019-01-11 21:03] lfunkhouser commented on #527
Add workaround documentation for 10.5.1-10.6.1 for this release. Issue will be addressed for next release.

[2019-01-14 16:25] #627 closed

[2019-01-14 22:49] BobBooth commented on #527
Added workaround sentence to DD and MT Resources doc.

[2019-01-15 15:41] BobBooth commented on #527
Moving from In Progress to March release backlog, because the work-around instructions have been added to the doc for January release.  We will look at fixing the actual problem in 10.5.1+ in the March release.

[2019-01-23 16:14] BobBooth opened #642 "Distance and Direction Line construction method should be tracked with an attribute"
The Distance and Direction add-in allows you to create Geodetic, Great Elliptic, and Loxodrome lines in the same map, and then export them to a feature class.  After the lines are created (and exported) there is no way to track what type of line/construction method was used.
We should track this by adding another attribute to the lines schema and populate it with the construction method for each l

[2019-01-24 18:24] csmoore commented on #547
This issue was noticed again during January 2019 release testing. The title and issue comments were updated (sorry if that impacted the doc @dfoll @BobBooth )

[2019-02-05 21:22] BobBooth opened #644 "Distance and Direction rounds input coordinate values to two decimal places"
Distance and direction input coordinate text box is rounding coordinate values to two decimal places (behind the scenes... values look right in box, but are rounded in output geometry) this happens on all tabs that create point locations (start points for Distance and Bearing lines, center points of circles, ellipses, rings.
For example, if you enter:
-121.842673,36.589155
it gets rounded to
-121.

[2019-02-09 00:01] lfunkhouser opened #645 "Create sectors"
ATP 3-21.8
INFANTRY PLATOON AND SQUAD

SECTION V – RANGE CARD AND SECTOR SKETCHES
Pg B-25(485)  -  B-31(491)

[2019-02-16 00:07] lfunkhouser commented on #539
This issue was moved to ArcGIS/solutions-defense-widgets#209

[2019-02-16 00:07] #539 closed

[2019-02-21 15:10] csmoore commented on #644
This was an issue in Coordinate Conversion Library call GetCoordinateString that was addressed in a PR in that repo https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/576

This issue can be tested after that PR is merged and D&D add is rebuilt

[2019-02-21 19:34] csmoore commented on #632
Addressed in PR: #646
Should look like this after PR:

![image](https://user-images.githubusercontent.com/3090809/53191666-667b2580-35da-11e9-9ec6-0f5006459afe.png)

[2019-02-21 19:35] csmoore commented on #633
Addressed in PR: #646
Should look like this after PR:

![image](https://user-images.githubusercontent.com/3090809/53190537-d20fc380-35d7-11e9-927c-b6aa55e9899e.png)

[2019-02-21 19:59] BobBooth commented on #644
Tested from DD Dev after merging CC RE#576, this issue is fixed on ArcGIS Pro 2.3:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/6ae4e09c-2394-4d80-83a0-f6dc9c34c649)
and on ArcMap 10.3.1:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/d360d5dc-b676-46c1-9421-cd9bb2f0b73a)

[2019-02-21 21:18] BobBooth commented on #644
I have updated the doc to include, on the Resources tab, a Distance and Direction March 2019 page, listing the issue addressed. Also updated the PDF and the MT Resources for March 2019.
Nav on DD will work after YAML edits and DD will be listed in the What's New after PR (https://github.com/ArcGIS/arcgis-solutions-website/pull/7549) gets merged by @dfoll

[2019-02-21 21:41] BobBooth commented on #644
Added checklist test for this issue, PR here:
https://github.com/ArcGIS/solutions-defense-test-catalog/pull/200
@dfoll

[2019-02-21 21:43] BobBooth commented on #644
Leaving Doc tag on until tab nav is working.
Removing QC- manual tag, as I built it from Dev and check, it was working.

[2019-02-21 22:31] BobBooth commented on #644
Tab nav issue is now fixed.  Only waiting on the PR to be merged for What's New content to show up.

[2019-02-22 16:48] csmoore commented on #634
While testing this with an existing Pro project I got the dreaded "Spatial Index Grid Size" error that we have seen previously in Pro with lpkxs ( https://github.com/Esri/military-features-data/issues/287 ) - not sure if this is a new issue at Pro 2.3, but will write a new issue for this:

![image](https://user-images.githubusercontent.com/3090809/53256757-9f78d000-3696-11e9-83e3-cc1ef7913aa8.png)

[2019-02-22 16:56] dfoll opened #647 "Clear and Save As buttons should have a hover action"
### Current behavior
The `Clear` and `Save As` buttons on the Distance and Direction pane do not have a hover action to indicate to the user that those buttons will do something when clicked. They do have tooltips that appear.

### Expected behavior
Requesting that they also have a hover action that occurs to help the user understand that the button does something when clicked. These buttons shoul

[2019-02-22 17:12] csmoore opened #648 "Using add-in with existing ArcGIS Pro project at a different scale causes "Spatial Index Grid Size" error"
Repro steps:

1. Create a new Pro project
2. Zoom into the Monterey Peninsula
3. Create a line, circle, ring the approximate size of the peninsula
4. Exit Pro (Save the Project)
5. Run Pro and open the previously created project
6. Zoom to world scale
7. Attempt to create a line at world scale
8. "Spatial Index Grid Size is Invalid" Error is reported and line can't be created

![image](https://use

[2019-02-22 17:12] dfoll opened #649 "Rename Clear and Save As buttons"
### Current behavior
Distance and Direction has `Clear` and `Save As` buttons, The same functionality on the Coordinate Conversion pane are named `Clear All` and `Export`. Requesting a change to match Coordinate Conversion.

### Expected behavior
Rename `Clear` and `Save As` buttons to `Clear All` and `Export`

[2019-02-22 19:21] BobBooth commented on #632
Built from dev. The Ring type dropdown control now has a label.
ArcGIS Pro 2.3
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/4c7a9775-322d-46df-99db-b85e3e526c9a)
and in ArcMap 10.3.1
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/fe36ef7a-8692-4c17-bdfa-4d5f6a0471bf)

[2019-02-22 19:47] BobBooth commented on #633
Built Dev, this is fixed:
ArcGIS Pro 2.3:
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/3de23042-642f-4bc3-aa44-f08679e02f08)
ArcMap 10.3.1
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/478582e2-e3e4-4f9f-8504-1bb9aadae776)

[2019-02-22 20:13] BobBooth commented on #633
This is fixed on dev
![image.png](https://images.zenhubusercontent.com/5a0f051b8a75884b9087dbee/e9f7c6a2-5064-489f-a2d6-eb849d7be61b)

[2019-02-22 20:27] BobBooth commented on #644
The doc is now current on Dev.

[2019-02-22 21:03] lfunkhouser commented on #648
Need to check on previous version of Pro to see if this is a Pro 2.3 change.

[2019-02-24 17:16] lfunkhouser opened #666 "BUG-000120038 The Military Tools Distance and Direction tool does not work in a .mxd file if it contains data projected to British National Grid."
<div><div>
<span><b>Salesforce ID:</b> <a href="https://qamonitor/SFTriage?sfid=BUG-000120038">BUG-000120038</a></span><br/>
<span><b>Salesforce Submitter:</b> Margaret Maher</span><br/>
<span><b>Salesforce Submit Date:</b> 2/12/2019 3:37 AM</span><br/>
<span><b>Salesforce Bug Type:</b> Failure/Error</span><br/>
<span><b>Salesforce Severity:</b> Medium</span><br/>
<span><b>Repro Data:</b> \\esri.c

[2019-02-25 15:57] #632 closed

[2019-02-25 15:57] #633 closed

[2019-02-25 15:57] #644 closed

[2019-02-25 23:42] csmoore commented on #634
Addressed in PR #650

[2019-02-27 17:28] dfoll commented on #634
Built
- Solutions\DefenseSolutions\DistanceAndDirection\March2019\Dev\44 and
- Solutions\DefenseSolutions\MilitaryToolsForArcGIS\March2019\Dev\216
for testing

Doc updated
- Solutions\DefenseSolutions\DistanceAndDirection\March2019\Dev\44
- https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/march-2019-distance-and-direction.htm
- Solutions\DefenseSolutions\MilitaryToolsForAr

[2019-02-27 17:28] dfoll commented on #634
@BobBooth ready for doc qc

[2019-02-27 17:37] BobBooth commented on #634
Verified issue in tables on solutions dev MT and DD and in PDFs for each.

[2019-03-06 23:15] lfunkhouser commented on #594
More info needed - steps to reproduce and expected behavior required

[2019-03-06 23:30] #634 closed

[2019-03-07 00:04] lfunkhouser commented on #649
Research to see if standard way/terminology is used across Pro

[2019-03-19 21:40] BobBooth opened #651 "ArcGIS Pro crashes when you add a point with Distance and Direction on Pro 2.1"
Open ArcGIS Pro (2.1) with latest (3.4.0.226) MT addin (or DD 4.1.1.48) with a new map.
Open Distance and direction.
Click the Map point tool (on Line or Circle tabs).
Click on the map.
Pro crashes.

Does not affect Circle or Ellipse tabs.
Does not affect Pro 2.3
Does not affect Pro 2.2

[2019-03-19 21:41] BobBooth commented on #651
@csmoore @dfoll @kgonzago @lfunkhouser - crash with DD on Pro 2.1

[2019-03-19 21:45] csmoore commented on #651
I see the problem (that was introduced in [this PR/line](https://github.com/Esri/distance-direction-addin-dotnet/pull/650/files#diff-b7a999da509b42d8a917fa9a2a002aa3R689) with some odd behavior on 2.1 - map point clicks don't seem to have same SR as the map) and will PR in a bit

[2019-03-19 21:58] dfoll commented on #651
confirming now, so i can understand when we look at it to see the fix

[2019-03-19 21:58] csmoore commented on #651
Addressed in PR #652

[2019-03-19 22:08] dfoll commented on #651
Solutions\DefenseSolutions\DistanceAndDirection\Testing\csm-651-crash-on-map-point-tool-2-1\28   to test fix

[2019-03-19 22:18] dfoll commented on #651
with Solutions\DefenseSolutions\DistanceAndDirection\Testing\csm-651-crash-on-map-point-tool-2-1\28 i'm not seeing the above behavior on 2.1 (but i did not repro for myself before installing this build). @BobBooth what are you finding?

[2019-03-19 22:21] dfoll commented on #651
i went back and installed the old version and observed the crash, then installed testing\...\28  and confirmed it is fixed... merging and building to dev

[2019-03-19 22:27] dfoll commented on #651
Solutions\DefenseSolutions\DistanceAndDirection\March2019\Dev\49
is built to test before we
1. ask for another version to be signed
2. build into MT

[2019-03-19 22:31] dfoll commented on #651
Dev\49 looks good. going to rebuild MT then try to get another version of DD and MT signed

[2019-03-19 22:35] BobBooth commented on #651
@dfoll  Dev\49  worked for me.

[2019-03-19 22:38] dfoll commented on #651
Solutions\DefenseSolutions\MilitaryToolsForArcGIS\March2019\Dev\227 exists now  to test the MT build

[2019-03-19 22:44] BobBooth commented on #651
@dfoll  MT Dev 227 works.

[2019-03-19 22:44] dfoll commented on #651
MT 227 and DD 49 both work for me

[2019-03-19 22:45] dfoll commented on #651
going to send both off to ask to have them signed again

[2019-03-25 09:38] #651 closed

[2019-04-01 14:37] dfoll commented on #625
This is something that will make #438 doable as well

[2019-04-09 14:02] dfoll commented on #636
`CT-Awaiting response` because it is unclear from this issue what exactly we are asking @CTLocalGovTeam to do for us

[2019-04-09 14:07] dfoll commented on #645
`CT-Awaiting response` because this needs planned, prototyped and demoed for @CTLocalGovTeam

[2019-04-09 20:58] sindizzy commented on #625
Yes my use case is aviation. We generate what's called Area of Operations circles and other similar features. They essentially show a geoelllipse from a center (an airport or a waypoint) at a specified distance (typically a radius in NM). We then use a fill color to denote where operations are allowed. The fill makes them stand out as opposed to just a perimeter.

[2019-04-17 11:27] dfoll commented on #636
@lfunkhouser I want to push this issue to later in the future, as the team still doesn't have a consistent idea across the board of how we want the add-ins to behave. Thoughts?

[2019-04-17 15:06] dfoll commented on #625
@saip is awaiting response about what final implementation would look like for this fix. I think we may need to do better design on this one before we hand it over

[2019-04-18 15:49] dfoll commented on #625
@sindizzy your use case is pretty clear. One question for you. In your case is there a requirement to continue to draw rings as polylines? The change we are considering in this case is to switch rings entirely from polyline to polygon instead of offering an option to draw rings as polylines or polygons

[2019-04-18 19:20] sindizzy commented on #625
For my case I generate range rings only as polygons. This is something that the Military Analyst did before it was sunsetted. In the past we did generate the rings as polylines **ONLY** because you couldn't label the polygon on the perimeter. The workaround was to generate them as polylines. With Maplex now being part of ArcMap and possibly Pro there is no need for me to create the rings as polyli

[2019-04-19 14:46] dfoll commented on #625
@sindizzy thanks for the response. Good feedback to know you need to be able to label on the perimeter of the polygons. Will keep this in mind as we proceed with design for this

[2019-05-10 14:00] dfoll commented on #639
#657  has a .lpkx that should have the required changes to the Arcade scripts for lines and ellipses

[2019-05-31 15:54] csmoore commented on #648
Testing this on 2.4 and I am experiencing some lockups loading the layer package and activating the Map Tool at full extent (I don't see this on my 2.2 machine) - so investigating this

[2019-05-31 16:14] ljuru opened #660 "User should be presented with warning when using invalid names to export"
## Background
An issue was created (#385) to warn a user when they are using an invalid feature class name, but it only catches some of the cases.

## Current behavior
If you enter a special character `*,&,!,(,<` in any portion of the name, you are presented with a warning.
![image](https://user-images.githubusercontent.com/50921068/58720200-5f587600-8386-11e9-8dca-31e85be550f9.png)

If you start

[2019-05-31 21:48] csmoore commented on #648
On Pro 2.4.19901 I am seeing an issue where when I try to draw the first graphic, the map zooms to full extent and then when I manually zoom back to the original area, 3 graphics are draw.
@saip can you try this on your latest Pro build?

![image](https://user-images.githubusercontent.com/3090809/58736451-eda31b00-83cb-11e9-94b7-bf5039789802.png)

[2019-06-05 18:42] ljuru opened #661 "Incorrect axes labels for ellipses in ArcGIS Pro"
### Current Behavior
This bug was discovered while doing Certification Testing for the Distance and Direction add in for ArcGIS Pro 2.4.

### Repro steps:
0. Install ArcGIS Pro 2.4 + Distance and Direction Addin 4.1.2.68
1.  Using the Distance and Direction Tool to create an ellipse (either by using the map point tool or manually entering the values)
2. Select Semi for the Ellipse Type drop-down b

[2019-06-06 21:14] csmoore commented on #608
Seeing the "Nautical Miles" correctly in PR #658

![image](https://user-images.githubusercontent.com/3090809/59067055-9810b780-887e-11e9-81c6-71a5b8001d61.png)

[2019-06-06 21:37] csmoore commented on #648
@saip - @ljuru and I stepped through the repro steps in the original issue on Pro 2.4.19921 on 2 different machines but we are still seeing the lockup issue [mentioned previously](https://github.com/Esri/distance-direction-addin-dotnet/issues/648#issuecomment-497762117) - can you try this?

[2019-06-07 12:13] csmoore commented on #635
Verified that with PR #658 dragging from bottom (and other) rows work as expected now in ArcMap and Pro

[2019-06-07 12:47] csmoore commented on #639
Verified with #658 in ArcMap (10.6.1) and Pro (2.4.19921)

![image](https://user-images.githubusercontent.com/3090809/59104681-2711e400-8900-11e9-91e0-142276bc7a45.png)

![image](https://user-images.githubusercontent.com/3090809/59104885-b3bca200-8900-11e9-8b71-9692ae0ccf57.png)

[2019-06-07 12:52] csmoore commented on #647
Verified with #658 in ArcMap (10.6.1) and Pro (2.4.19921)

![image](https://user-images.githubusercontent.com/3090809/59105252-91775400-8901-11e9-8a44-bdbcd454cf04.png)

[2019-06-11 13:58] csmoore commented on #648
Verified that with PR #658 the error is not received - still investigating a possible deadlock issue on 2.4 unrelated to this PR

[2019-06-11 20:33] csmoore commented on #648
I was able to reproduce the lockup issue outside of the D&D addin, so I do not believe it is related to our addin and we will pass these repro-steps onto the Pro team (both @dfoll and I repro'd this issue)

Repro Steps:

1. Open the Pro Package provided in Pro 2.4 (tested on version after 2.4.19921) - ["Test-DD-Lockup.ppkx.zip"](https://github.com/Esri/distance-direction-addin-dotnet/files/3278445

[2019-06-12 19:57] csmoore commented on #661
Addressed in PR #664 - should behave the same in Pro and ArcMap now (i.e. the label shown is the "full" axes values)

Pro and ArcMap for same values used for both "full"(left) and "semi"(right) inputs:
Pro:
![image](https://user-images.githubusercontent.com/3090809/59381685-0693c080-8d2a-11e9-9683-8b14f94de8e0.png)

ArcMap:
![image](https://user-images.githubusercontent.com/3090809/59381656-f4b21d

[2019-06-13 16:47] lfunkhouser commented on #661
@ljuru @csmoore Was this just on Pro 2.4 and introduced new at MT 3.5? or was this an issue in previous versions of Pro/MT?

[2019-06-13 16:50] ljuru commented on #661
@lfunkhouser I noticed the issue was in Pro 2.3 as well.

[2019-06-13 16:54] csmoore commented on #661
I should have mentioned in my comments - it looked like this issue may have been present since we switched the graphics to features (June, 2018)

[2019-06-14 15:06] dfoll commented on #661
![image](https://user-images.githubusercontent.com/5322669/59518738-52627900-8e94-11e9-8c61-1ff93c78c257.png)
![image](https://user-images.githubusercontent.com/5322669/59518746-58585a00-8e94-11e9-998b-f74c1d08bb7a.png)
![image](https://user-images.githubusercontent.com/5322669/59518753-5db5a480-8e94-11e9-837b-3000ada690e3.png)

[2019-06-14 15:40] dfoll commented on #661
### Doc work:
- [ ] Update What's new page
   - [ ] MT section
   - [ ] Distance and Direction section
- Update DD homepage
- Update DD Resources
- Update MT Resources
- Publish DD Resources tab
- Publish MT Resources tab
- Publish DD pdf
- Publish MT Release notes (pdf)

[2019-06-14 19:29] dfoll commented on #661
-
- https://solutionsdev.arcgis.com/defense/help/military-tools/resources/june-2019-military-tools-for-arcgis.htm
-
-

[2019-06-14 20:53] williamscraigm commented on #648
Core issue logged as https://devtopia.esri.com/ArcGISPro/text/issues/1876

[2019-06-18 20:44] dfoll commented on #661
removed G-qc verify because i forgot to do it when i made [this comment](https://github.com/Esri/distance-direction-addin-dotnet/issues/661#issuecomment-502145076)

[2019-06-18 20:55] dfoll commented on #661
Doc [PR](https://github.com/ArcGIS/arcgis-solutions-website/pull/7833) is still open

[2019-06-19 15:34] lfunkhouser commented on #661
PR has been approved and merged.

[2019-06-19 17:12] lfunkhouser commented on #503
This issue is back with the latest version of dev

[2019-06-19 19:45] dfoll commented on #639
### Doc updates:
- added to What's New under both DD and MT [PR](https://github.com/ArcGIS/arcgis-solutions-website/pull/7876)
- added to DD june release
- added to MT june release

[2019-06-19 19:46] dfoll commented on #639
G - Doc (CMS) can be removed when end of day publishing/building tasks are completed.

[2019-06-19 20:08] dfoll commented on #608
- DD june release topic updated
- MT june release topic updated

[2019-06-19 20:09] dfoll commented on #608
G-Doc (CMS) label can be removed when publishing/building tasks are completed

[2019-06-19 20:31] dfoll commented on #635
- updated DD june 2019 release topic
- updated MT june 2019 release topic

[2019-06-19 20:32] dfoll commented on #635
G- Doc (CMS) can be removed when publishing/building  tasks are completed

[2019-06-19 20:56] dfoll commented on #639
- https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/june-2019-distance-and-direction.htm
https://solutionsdev.arcgis.com/defense/help/military-tools/resources/june-2019-military-tools-for-arcgis.htm
 - \\...\DefenseSolutions\DistanceAndDirection\Dev\88\
- \\...\DefenseSolutions\MilitaryToolsforArcGIS\Dev\307\

[2019-06-19 20:59] dfoll commented on #608
- https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/june-2019-distance-and-direction.htm
https://solutionsdev.arcgis.com/defense/help/military-tools/resources/june-2019-military-tools-for-arcgis.htm
 - \\...\DefenseSolutions\DistanceAndDirection\Dev\88\
- \\...\DefenseSolutions\MilitaryToolsforArcGIS\Dev\307\

[2019-06-19 21:00] dfoll commented on #635
- https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/june-2019-distance-and-direction.htm
https://solutionsdev.arcgis.com/defense/help/military-tools/resources/june-2019-military-tools-for-arcgis.htm
 - \\...\DefenseSolutions\DistanceAndDirection\Dev\88\
- \\...\DefenseSolutions\MilitaryToolsforArcGIS\Dev\307\

[2019-06-19 23:02] csmoore opened #667 "Entering Lat/Lon Points for line in Web Mercator map produces inaccurate results and a crash in ArcMap"
This issue was found while certification testing #503

1. Start ArcMap with a new project, add the Topographic basemap (any map in Web Mercator will work)
2. On the Lines Tab
3. Enter the following coordinate in the Starting Point: 37.5 -122.8
4. Enter the following coordinate in the Ending Point: 37.5 -125.0
5. Press Enter

Result: Crash

Expected Result: Line in Pacific near San Francisco coast

[2019-06-19 23:03] csmoore commented on #503
This is a new issue discoved while testing #503 - Opened #667 with the specifics of this new issue.

[2019-06-19 23:03] #503 closed

[2019-06-19 23:39] ljuru opened #668 ""Point is out of bounds" message does not appear for south outside extent in ArcMap"
## Current Behavior
This bug was discovered while doing Certification Testing for the Distance and Direction add in for ArcMap 10.7.1.

![image](https://user-images.githubusercontent.com/50921068/59807941-e5454e00-92ae-11e9-8295-08bf79dd361a.png)

2. Repro steps:

0. Install ArcMap 10.7.1 + Distance and Direction Addin 2.3.2.88
1. Add a Web Mercator basemap
2. Zoom out so whitespace shows around b

[2019-06-20 00:17] csmoore commented on #667
Addressed in PR #669

[2019-06-20 14:50] lfunkhouser commented on #667
Was this also an issue at 10.4-10.6? Need to test on all supported versions. Adding `doc` labels.

[2019-06-20 16:03] lfunkhouser commented on #661
Verified doc updates on solutionsdev for MT and DD and PDFs for MT (dev build 3.5.0.308) and DD (dev build (88).

[2019-06-20 16:05] lfunkhouser commented on #639
Verified doc updates on solutionsdev for MT and DD and PDFs for MT (dev build 3.5.0.308) and DD (dev build (88).

[2019-06-20 16:08] lfunkhouser commented on #635
Verified doc updates on solutionsdev for MT and DD and PDFs for MT (dev build 3.5.0.308) and DD (dev build (88).

[2019-06-20 16:08] lfunkhouser commented on #608
Verified doc updates on solutionsdev for MT and DD and PDFs for MT (dev build 3.5.0.308) and DD (dev build (88).

[2019-06-20 17:01] dfoll commented on #647
@lfunkhouser is this something you want to put in the doc? no sweat either way, just seems minor, and not previously listed as a known issue

[2019-06-21 18:54] #661 closed

[2019-06-21 18:55] #647 closed

[2019-06-21 18:59] #608 closed

[2019-06-21 18:59] #635 closed

[2019-06-21 18:59] #639 closed

[2019-06-21 20:22] dfoll commented on #648
We believe this was fixed in Pro 2.4 final. We believe this only needs to be confirmed as fixed and then listed as an issue addressed

[2019-06-21 20:32] dfoll commented on #667
This needs verified from testing branch
Listed as an issue addressed
Find out where else this might have been an issue

[2019-06-22 14:04] dfoll commented on #648
### ArcGIS Pro 2.4.0 b1 (19489) + DD build 91
- could not reproduce problem with repro steps in the original issue, but could reproduce the problem with the repro steps in [this comment](https://github.com/esri/distance-direction-addin-dotnet/issues/648#issuecomment-501011875)

### ArcGIS Pro 2.4.0. +DD build 91
-

[2019-06-22 14:45] dfoll commented on #648
certification test updated in [this pr](https://github.com/ArcGIS/solutions-defense-test-catalog/pull/222)

[2019-06-22 15:05] dfoll commented on #648
- https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/june-2019-distance-and-direction.htm
- \\...\DefenseSolutions\DistanceAndDirection\Dev\92\
-
-

[2019-06-24 13:59] dfoll commented on #667
On 10.4.1 this was not causing a crash, but was exhibiting odd behavior. The given repro points were drawing a line across the prime meridian from the origin near san francisco. Confirmed with DD build 93 (created from [this branch](https://github.com/Esri/distance-direction-addin-dotnet/tree/csm-667-crash-on-enter-line-tab) that the results are as expected and match ArcGIS Pro.

![image](https://

[2019-06-24 14:49] dfoll commented on #667
- https://solutionsdev.arcgis.com/defense/help/military-tools/resources/june-2019-military-tools-for-arcgis.htm
- \\...\DefenseSolutions\MilitaryToolsforArcGIS\Dev\313\
- https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/june-2019-distance-and-direction.htm
- \\...\DefenseSolutions\DistanceAndDirection\Dev\95\

[2019-06-24 20:43] lfunkhouser commented on #648
Verified in issues addressed for DD and MT on staging
Verified in PDFs in dev builds of DD 95 and MT 313

[2019-06-24 20:43] #648 closed

[2019-06-25 03:29] lfunkhouser commented on #667
Doc verified on dev builds DD 95 and MT 314 and solutionsstg

[2019-06-25 03:29] #667 closed

[2019-07-22 13:11] dfoll commented on #666
### Synopsis:
The Military Tools Distance and Direction tool does not work in a .mxd file if it contains data projected to British National Grid.
Steps to Repro:
1]  Open "Copy_of_ESRI Sample Map.mpk", which contains several layers of data, including one layer, OS_Open_Raster basemap, which is projected to British National Grid (BNG).
In the Distance and Direction dialog, attempt to create a line.

[2019-07-26 15:33] csmoore opened #672 "Opening saved .mxd with add-in from file explorer causes ArcMap crash"
While testing a fix for this issue: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/626

I noticed that the same problem that was fixed in CC for this issue:
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/427 also exists with the DD addin:

1. Install the stand-alone add-in on ArcGIS (tested on 10.6.1) (Note: problem seems to also exists with MilitaryTools addi

[2019-07-26 19:00] csmoore commented on #672
Addressed in PR #673

[2019-07-29 17:39] dfoll commented on #672
Observed reported behavior with released build

[2019-07-30 14:36] dfoll commented on #672
- [x] update October resources topic
- [ ] publish  DD Resources
- [ ] publish MT Resources
- [ ] publish pdf
- [ ] publish MT release notes pdf
- [ ] build .zip

[2019-07-30 14:42] dfoll commented on #672
### Doc review:
- [ ] [Distance and Direction October Resources]()
- [ ] [Distance and Direction homepage]()
- [ ] Distance and Direction build location
- [ ] [Military Tools October Resources]()
- [ ] Military Tools build location
- [ ] [Defense What's new]()

[2019-07-31 21:52] csmoore commented on #527
This issue is resolved with the released addin on 10.7.1.

This issue was similar to https://github.com/Esri/visibility-addin-dotnet/issues/327 ,
https://github.com/Esri/visibility-addin-dotnet/issues/327#issuecomment-516572086 but no changes were needed to the D&D addin.

[2019-08-01 14:16] csmoore commented on #672
**Distance and Direction October Resources** (Release Notes added bug to table)

![image](https://user-images.githubusercontent.com/3090809/62296423-074cf700-b43d-11e9-95ac-098b9688f82b.png)

**Distance and Direction homepage** - Added to Release Table

**DistanceAndDirection.pdf** - added bug to table:

![image](https://user-images.githubusercontent.com/3090809/62300378-ade8c600-b444-11e9-96f8-b4

[2019-08-01 16:18] dfoll commented on #527
For our supported range of versions (10.4.1-10.7.1) I only found this to be reproducible on 10.6-10.6.1. Added the specific version number to the known issue.

- [Distance and Direction October Resources](https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/october-2019-distance-and-direction.htm)
- \DefenseSolutions\DistanceAndDirection\October2019\Dev\104\
- [Military Tools

[2019-08-02 16:05] dfoll commented on #527
|ArcMap Version|Military Tools Version|Reproducible|
|---|---|---|
|10.4.1|3.5/317| |
|10.4.1|3.5/317| |
|10.4.1|3.5/317| |
|10.4.1|3.5/317| |
|10.4.1|3.5/317| |
|10.4.1|3.5/317| |
|10.4.1|3.5/317| |

[2019-08-02 17:45] dfoll commented on #527
Ready to qc the doc and move to done

[2019-08-02 18:47] csmoore commented on #527
Doc verified (D&D 105, MT 329) :

1. Distance and Direction October Resources

![image](https://user-images.githubusercontent.com/3090809/62391190-25e0ea00-b532-11e9-80d3-e0a6e0ee5120.png)

2. D&D pdf:

![image](https://user-images.githubusercontent.com/3090809/62391944-237f8f80-b534-11e9-90fe-bb684e9ce393.png)

3.  Military Tools October Resources

![image](https://user-images.githubusercontent.c

[2019-08-09 12:43] dfoll commented on #668
need to provide some images to @saip  of exactly where the clicks were. there will be some whitespace tolerance where the cursor may be outside the map, but will not register as outside of the map extent

[2019-08-09 12:48] dfoll commented on #666
@CTLocalGovTeam is having some issues repro-ing this issue. it is requested that our team confirm it can be reproduced.

[2019-08-12 15:27] mfunk opened #674 "Holistic testing: sketching blocks GUI thread"
From Pro Intel Holistic testing on 8/9/2019:

onenote:///\\tahoe\holistic\ArcGISProfessional\Srinivas\Pro_v2_5\ProInternalHolistic_v2_5\August2019\Friday_08_09_2019.one#Pro%20for%20Intel&section-id={F5163543-00ED-4E04-962A-EF349811C6D0}&page-id={495373F4-9079-4A22-A025-E02A20F312F4}&end

Row 5, Tester Max:
![image](https://user-images.githubusercontent.com/3093182/62876896-c6759d80-bcda-11e9-89b5-

[2019-08-12 15:28] dfoll commented on #668
@saip this is a screenshot of where I am able to draw lines with Distance and Direction. I was only able to draw these lines on the "bottom"/south of the map ... trying to place any points just barely off the edge to the north, east, or west gave the warning that the point was out of bounds. You can tell from how the graphics draw, where the "border" ends, but it is much larger than on the other t

[2019-08-12 16:07] mfunk opened #675 "Holistic Testing: Loading layer package prompts Save Project As"
From Holistic Testing 8/9/2019:

onenote:///\\tahoe\holistic\ArcGISProfessional\Srinivas\Pro_v2_5\ProInternalHolistic_v2_5\August2019\Friday_08_09_2019.one#Pro%20for%20Intel&section-id={F5163543-00ED-4E04-962A-EF349811C6D0}&page-id={495373F4-9079-4A22-A025-E02A20F312F4}&end

Row 17, Tester Kory K.

![image](https://user-images.githubusercontent.com/3093182/62879651-77326b80-bce0-11e9-8070-4877925c

[2019-08-12 16:47] mfunk opened #676 "Holistic Testing: Distance and Direction Select Output dialog is not dark-theme compliant"
From Holistic Testing on 8/9/2019:

onenote:///\\tahoe\holistic\ArcGISProfessional\Srinivas\Pro_v2_5\ProInternalHolistic_v2_5\August2019\Friday_08_09_2019.one#Pro%20for%20Intel&section-id={F5163543-00ED-4E04-962A-EF349811C6D0}&page-id={495373F4-9079-4A22-A025-E02A20F312F4}&end

Row 30, Tester Max:

![image](https://user-images.githubusercontent.com/3093182/62882129-13ab3c80-bce6-11e9-97f6-f32e5061

[2019-08-12 20:13] Dbarnes1 commented on #676
similar to https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/562

[2019-08-14 15:03] csmoore opened #677 "Holistic Testing: Possible Hang On New Pro Project when other Project Open"
During the end of holistic on 8/9, tester was able to a hang app while attempting to open up a project template after already working in an existing project.

To Reproduce: The hang is hard to reproduce, but these steps were performed:

1. open a project in Pro
2. navigate to the project page and click "New" project.
3. click on one of the default project templates.
4. App hangs

Versions:
Pro 2.5

[2019-08-14 15:13] csmoore commented on #677
PR #678 created to refactor code based on call stack and feedback on issue (I wasn't able to repro issue though)

[2019-08-16 14:08] dfoll commented on #666
As written I could not repro this by explicitly following the steps. We have seen a known limitation in the past when dealing with [graphics and changing the data frame coordinate system](http://qamonitor/qacommon/crlookup.aspx?cr=BUG-000114828) on versions 10.5.1- 10.7.  If there are some other implied steps for this repro case that were not explicitly stated, this is likely related/the same issu

[2019-08-16 20:30] dfoll commented on #666
I will be reaching out to Margaret to get more info

[2019-08-19 15:04] #672 closed

[2019-08-19 15:04] #527 closed

[2019-08-19 23:26] dfoll commented on #666
I reached out to Margaret and she vaguely remembered working on this issue, but did not recall specifics. We could not repro together. the only case we could repro was when we changed the coordinate system of the data and encountered [this core issue](http://qamonitor/qacommon/crlookup.aspx?cr=BUG-000114828). I zipped up a map package that is saved in British National Grid, showing that if you don

[2019-08-22 17:02] mfunk opened #679 "Holistic Testing: Distance And Direction hang during testing"
From Holistic Testing on 8/21/2019:

onenote:#Pro%20for%20Intel&section-id={D2B9C2CB-C409-49FE-BD29-E67A4221D850}&page-id={495373F4-9079-4A22-A025-E02A20F312F4}&end&base-path=tahoe\holistic\ArcGISProfessional\Srinivas\Pro_v2_5\ProInternalHolistic_v2_5\August2019\Wednesday_08_21_2019.one

Row 2, Tester Dan Lee:

Daniel   Lee | IcapHang.   Pro hanged when I tried to run Turn Map into Layout task. It

[2019-09-06 14:16] dfoll commented on #649
looks good

![image](https://user-images.githubusercontent.com/5322669/64434775-4f3fe900-d08f-11e9-843a-8b941e7d7984.png)

[2019-09-06 19:04] dfoll commented on #649
- [ ] [Defense What's new page](https://solutionsdev.arcgis.com/defense/what-is-new/) [PR8015](https://github.com/ArcGIS/arcgis-solutions-website/pull/8015) must be merged and built first
- [ ] [Distance and Direction October Resources](https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/october-2019-distance-and-direction.htm)
- [ ] \DefenseSolutions\DistanceAndDirection\Oct

[2019-09-06 19:05] dfoll commented on #660
- [ ] [Distance and Direction October Resources](https://solutionsdev.arcgis.com/defense/help/distance-direction/resources/october-2019-distance-and-direction.htm)
- [ ] \DefenseSolutions\DistanceAndDirection\October2019\Dev\108\
- [ ] [Military Tools for ArcGIS October Resources](https://solutionsdev.arcgis.com/defense/help/military-tools/resources/october-2019-military-tools-for-arcgis.htm)
- [

[2019-09-13 13:53] lfunkhouser commented on #110
Closing. No known use case or clear requirements.

[2019-09-13 13:53] #110 closed

[2019-09-13 14:00] lfunkhouser commented on #438
Possibly a GP solution

[2019-09-13 14:03] lfunkhouser commented on #547
Workaround: Use ArcGIS Pro.

[2019-09-13 14:03] #547 closed

[2019-09-13 14:13] lfunkhouser commented on #551
Closing. Expected behavior for using this projection in the issue. Recommendation - use different projection for this case.

[2019-09-13 14:13] #551 closed

[2019-09-13 14:21] lfunkhouser commented on #552
Will not address.

[2019-09-13 14:21] #552 closed

[2019-09-13 14:34] lfunkhouser commented on #594
Closing, as designed. User may wish to create a new FC and new feature dataset. Closing until further requirements are presented.

[2019-09-13 14:34] #594 closed

[2019-09-13 14:37] lfunkhouser commented on #636
Closing. Current functions as designed across the tabs. Will revisit when we look at the entire add-in behavior.

[2019-09-13 14:37] #636 closed

[2019-09-13 14:42] #666 closed

[2019-09-13 14:45] lfunkhouser commented on #668
User is able to click outside the extent to the south of a web mercator basemap. Other projections do not allow user to click outside the extent to the south of the basemap. This is only in ArcMap and not a showstopper. Workaround: Do not click outside the extent.

[2019-09-13 14:45] #668 closed

[2019-09-13 14:47] lfunkhouser commented on #674
Add progress bar for more than 15 rings.

[2019-09-13 14:59] lfunkhouser commented on #679
Changes in PR #678 to this method for hang issue #677 Once merged, @mfunk would you please retest this?

[2019-09-16 22:55] lfunkhouser commented on #675
@mfunk Can you provide specific steps to reproduce? I'm not getting prompted to Save Project As...

1. Open ArcGIS Pro for Intelligence
2. Select New Blank Map Template
3. Accept Default values for Name and Location in Create a New Project dialog > Click OK
4. Open Distance and Direction tool from Inquiry section of Map ribbon
5. Leave default values for Line Type (Geodetic) and From: (Points)
6.

[2019-09-17 16:54] dfoll commented on #677
PR merged

[2019-09-18 15:36] lfunkhouser commented on #675
Closing. Unable to reproduce the issue using the workflow I provided.

[2019-09-18 15:36] #675 closed

[2019-09-18 17:21] #677 closed

[2019-09-20 15:04] lfunkhouser commented on #660
doc QC'd
@dfoll can you confirm the build you tested on and add the verified and appropriate application version labels. Issue can be closed after that.

[2019-09-23 13:08] #649 closed

[2019-09-23 13:09] #660 closed

[2019-09-24 22:48] lfunkhouser opened #681 "Center point inputted in DDM format is placed in wrong location"
Center point when entered manually in DDM format results in features drawn at inaccurate locations.

MT build 3.6.342 and Pro 2.5
### Repro steps
1. Add the center point (in DDM format) 40 26.3033N 079 59.5243W
2. Enter 500km radius
3. Press enter

Result:
Circle created off the coast of Chile

Also tested on:
Released version of MT 3.5.0.317 and Pro 2.4 Final
DEV MT 3.6.342 and Pro 2.4 Final:
Ent

[2019-09-24 22:49] lfunkhouser commented on #681
@csmoore could you take a look at this? Seems like a familiar issue, https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/575...

[2019-09-25 20:03] lfunkhouser commented on #681
Retested with 40 26.3033N 079 59.5243W and it is off coast of Chile. Not sure how I got it in Russia as originally written in the issue. But now consistently reproduced in Pacific Ocean off of Chile.

[2019-09-25 20:22] csmoore commented on #681
Thanks for reconfirming - that makes a little more sense since I could not see where [this code had been changed since the last release](https://github.com/Esri/coordinate-conversion-addin-dotnet/commits/dev/source/CoordinateConversion/CoordinateConversionLibrary/Models/CoordinateDDM.cs) and you are correct that this definitely looks like a reoccurrence of https://github.com/Esri/coordinate-conver

[2019-09-26 01:03] csmoore commented on #681
Still looking at this issue - see comment at: https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/575#issuecomment-535283948

[2019-09-26 15:55] csmoore commented on #681
Can retest after:

https://github.com/Esri/coordinate-conversion-addin-dotnet/pull/636
https://github.com/Esri/coordinate-conversion-addin-dotnet/issues/575

[2019-09-30 21:00] dfoll commented on #681
Testing using MT build 346 ArcGIS Pro 2.4

[2019-09-30 21:10] #681 closed

[2019-10-11 13:27] lfunkhouser opened #683 "Holistic testing: Layer package is loaded after points are selected"
![image](https://user-images.githubusercontent.com/3800729/66654994-2e1f6a80-ebf0-11e9-8af9-b349cdda91a6.png)

It'd be nice to load that package when the button is clicked on the ribbon instead.

[2019-11-18 16:55] lfunkhouser commented on #683
Layer package is loaded when user intentionally creates features

[2019-11-18 16:55] #683 closed, assigned to nobody

[2020-01-14 14:55] lfunkhouser opened #684 "Separate ArcMap and ArcGIS Pro code"
To prepare for converting the addin to a Pro-only component going forward, we are making some structural changes to the solution:

1. Removing: ArcMapAddinDistanceAndDirection project/dll
2. Removing: DistanceAndDirectionLibrary project/dll
3. Refactoring the Pro project to remove dependencies on former DistanceAndDirectionLibrary
    a. remove view inheritance
    b. remove no-longer-needed class

[2020-01-27 14:37] sumitzarkar commented on #684
@dfoll  @lfunkhouser

We have commited the code for ticket #684 in the branch [CT-SP1-Ticket684](https://github.com/Esri/distance-direction-addin-dotnet/tree/CT-SP1-Ticket684), this includes the code for following points:
1. Removing: ArcMapAddinDistanceAndDirection project/dll
2. Removing: DistanceAndDirectionLibrary project/dll
3. Refactoring the Pro project to remove dependencies on former Dist

[2020-02-03 14:14] sumitzarkar commented on #684
@dfoll @lfunkhouser @csmoore

We have commited code for following points:
 3. Refactoring the Pro project to remove dependencies on former DistanceAndDirectionLibrary

       b. remove no-longer-needed classes (super/abstract classes)
       c. remove mediator/dispatcher (ex: convert to RelayCommands)

For point 3.c some implementation is work in progress and will be delivered tomorrow. Due to thi

[2020-02-04 16:21] kedarkamat commented on #684
@csmoore @lfunkhouser @dfoll

For point 4 (unit testing): Do you want us to use any specific testing library or Visual Studio unit test framework?

For point 5 (localization): Do you want us to ensure that the view elements render correct for Hebrew and German or simply remove hardcoded strings and enable switching languages?

[2020-02-04 16:37] csmoore commented on #684
@kedarkamat we were planning on using [Moq](https://github.com/moq/moq4) (this would also needed added to the packages.config nuget dependencies).

For 5, we were mainly concerned about hard coded strings in the WPF or message boxes being converted to resources. But if you would like to verify with a just a few resources converted in a small localized resource file that would be great. These value

[2020-02-04 16:49] kedarkamat commented on #684
@csmoore thanks for your inputs. This would help us share the estimates today.

We planned to do the rest of code drop today. However, there's a minor delay. We will be sharing the complete 3.c tomorrow.

[2020-02-06 16:09] sumitzarkar commented on #684
@dfoll @lfunkhouser @csmoore

We have commited code for following points:
3. Refactoring the Pro project to remove dependencies on former DistanceAndDirectionLibrary

           c. remove mediator/dispatcher (ex: convert to RelayCommands)
           d. use Pro styling for Dark Mode support

[2020-02-06 17:11] csmoore commented on #684
Great I will give it a test today.

I'm building/testing on 2.2 & 2.5. One thing I wanted to mention in case anyone else tries to build on 2.5. I did have to make 2 changes to the csproj file in last drop. The TargetFrameworkVersion was expected, but not sure why the ResourceDesigner thing just popped up (it might just be my machine)

[code]

[2020-02-07 11:24] kedarkamat commented on #684
@csmoore On analyzing unit tests using Moq, introducing interface classes and services to test events and properties would need considerable code refactoring. Implementing a test base for all the artefacts (viewmodels/models/helpers) would mean considerable efforts. As discussed in our last call, your expectations for this is basic implementation.

Could you give us a brief idea on what all aspect

[2020-02-07 13:21] csmoore commented on #684
@kedarkamat - I was just thinking about adding tests for the large-grained Pro-XXX-ViewModel classes. My hope was to separate the properties and methods that do not Pro dependencies so they could be unit tested. For example, be able to test CircleViewModel.TravelTimeInSeconds outside of Pro.

But I admit this is a bit vague so if needed I can work on an example and clarification.

[2020-02-08 01:08] csmoore commented on #684
@kedarkamat I did some basic testing (but didn’t get a chance to thoroughly test) but I did want to give some feedback from reviewing the code.

Things look really good and really simplified the code. A few minor things I noticed that would be good improvements while you are still changing the code are:

1.	Remove any files/classes no longer used: ex. Common/Mediator.cs
2.	Move values from Constan

[2020-02-11 01:11] csmoore commented on #684
@kedarkamat - we tested today and the only new issue I noticed that has been introduced is an issue with the feedback line/circle not following the mouse cursor when the point tool is active (there is a significant lag/delay).

The source of this issue seems to be here:

SketchTool.cs - (New) DelayedInvoker vs (previous implementation) DebounceDispatcher

It was a good idea to try this built-in Pr

[2020-02-11 18:08] sumitzarkar commented on #684
@csmoore @dfoll @lfunkhouser
We have commited the code for following points:
 - Implemented I18n
 - Implemented feedback mentioned in https://github.com/Esri/distance-direction-addin-dotnet/issues/684#issuecomment-583680136

[2020-02-11 18:16] sumitzarkar commented on #684
@csmoore @dfoll @lfunkhouser
We have commited the code for UAT feedback  mentioned in https://github.com/Esri/distance-direction-addin-dotnet/issues/684#issuecomment-584437025

[2020-02-11 18:21] sumitzarkar commented on #684
@csmoore @dfoll @lfunkhouser

We have submitted the pull request for this ticket [Pull Request Link](https://github.com/Esri/distance-direction-addin-dotnet/pull/685/)

[2020-02-28 03:19] sumitzarkar commented on #684
@csmoore @dfoll @lfunkhouser

We have update Distance & Direction addin code to incorporate the changes we did in coordinate conversion addin.  [Commit Link](
https://github.com/Esri/distance-direction-addin-dotnet/commit/cec65979c7708bf8dbbbae6fdc4ca9675030004e)

[2020-03-04 15:09] lfunkhouser commented on #684
@OscarVilla1 @csmoore This needs to be tested on our end on Pro 2.6. This is what we are developing this for and needs to be verified on that version.

[2020-03-11 23:01] sumitzarkar commented on #684
@lfunkhouser @csmoore @dfoll

We have implemented code for merging resource dictionaires [commit link](https://github.com/Esri/distance-direction-addin-dotnet/pull/686/commits/3d411c5eee18e0245020ca956c1008e9e508c186)

Combine the 2 resource dictionaries:
     a. `ProAppDistanceAndDirectionModule\Common\MAResourceDictionary.xaml`
     b. `ProAppDistanceAndDirectionModule\ProMAResourceDictionary.xa

[2020-03-23 16:31] csmoore commented on #684
[Verified](https://github.com/ArcGIS/solutions-defense-test-catalog/issues/280)

[2020-03-23 16:31] #684 closed, assigned to nobody

[2020-03-25 17:14] dfoll commented on #648
this issue may have crept back in for arcgis pro 2.6. have not done a ton of research at this point....info for build that made me think this is 2.6.23.681 and  ArcGIS.Desktop.Defense built on 24March. Couldn't immediately repro without spending time dedicated to sitting down and reproing, but i did notice this message. first step will be trying the repro steps in this issue.

[2020-06-22 17:50] dfoll commented on #645
@lfunkhouser  have we brought this one over to devtopia yet? i feel that we should if we have not

[2020-06-22 17:53] dfoll opened #688 "A user must deactivate and reactivate the Map Point Tool after switching line types"
1. Draw a line with `Line Type` set to Geodetic
2. Switch `Line Type` to Loxodrome.

Note that the Map Point Tool button appears to be active but is not responsive on the map frame.

- Noted the same behavior when switching the `From` drop-down
- Noted the same behavior that MPT was not actually staying active in between creating features although the button looked to be enabled.

10.8.1.14362
MT

[2020-06-23 13:16] dfoll opened #689 "Graphics created by DD window left in map between sessions cannot be removed by the DD window in new session"
10.8.1.14362
MT 3.6.1.350

1. From the Military Tools Toolbar, open Distance and Direction window.
2. Create some graphics
3. Save the map.
4. Close ArcMap
5. Double-click the MXD file to reopen ArcMap
6. `Clear All` button on the tab for whatever graphics you created is disabled.
7. Create some more graphics of the same type
8. `Clear All` button is activated.
9. Click `Clear All` note that only

[2021-12-09 17:28] sindizzy commented on #625
Can we get this in the ArcMap extension as well?