[2016-01-29 19:18] dhagens opened #8 "Enhancement - Center Point unit update"
Center Point coordinates should match what the user has selected in Data Frame properties.

[2016-01-29 19:22] dhagens opened #9 "Enhancement - dynamic center point update when diameter is selected"
The center point could dynamically update as the user moves the cursor when Diameter is selected in the drop down.  This will prevent the Center Point location to display a different location than the user initially selected and could be confusing.

[2016-01-29 19:24] dhagens opened #10 "Circles are drawn incorrectly when Kilometers is selected"
Circles are drawn incorrectly when Kilometers is selected in the dropdown.

[2016-01-29 20:18] pshowalter opened #11 "Enhancement: Add choice of units Nautical Miles"
Enhancement: Add choice of  units Nautical Miles. Important for user base.

[2016-01-31 23:44] lfunkhouser opened #12 "Size of drop-down menu"
Decrease the size of the drop-down menus - indicated by the "1" in the screenshot

![geodesyandrange](https://cloud.githubusercontent.com/assets/3800729/12706048/3b36ded8-c831-11e5-9f0b-92f8ad9ad096.jpg)

This enhancement request was from @mcalamito

[2016-02-01 00:00] lfunkhouser opened #13 "Add labels"
Feedback from @mcalamito

Shown by the "2" in the screenshot, add labels:
Type: Geodesic
Start: [coord]
End: [coord]
Distance: [dist]
Bearing: [bear]

![geodesyandrange](https://cloud.githubusercontent.com/assets/3800729/12706164/a626a884-c833-11e5-81f3-b55d3a76a401.jpg)

[2016-02-01 00:03] lfunkhouser opened #14 "Add Tool Tip to button"
Feedback from @mcalamito

Indicated by the "3" in the screenshot, Add Tool Tip to button. i.e. "Map Point Tool" or "Interact with Map"

![geodesyandrange](https://cloud.githubusercontent.com/assets/3800729/12706179/07c72992-c834-11e5-8882-15e133c92870.jpg)

[2016-02-01 00:10] lfunkhouser opened #15 "Consistency with fonts/formats/capitalization"
Feedback from @mcalamito

See "4" in the screenshot as an example. The "D" in degrees should be capitalized to maintain consistency.

![geodesyandrange](https://cloud.githubusercontent.com/assets/3800729/12706215/ae3c208e-c834-11e5-96ce-c7e8695d4518.jpg)

[2016-02-01 00:31] lfunkhouser opened #16 "Lower the "Clear Graphics" button"
Feedback from @mcalamito

Lower the "Clear Graphics" button (See "5" in screenshot) and make proper distance between that and the future "Submit" or "OK" button that will be used to create feature layer.

![geodesyandrange](https://cloud.githubusercontent.com/assets/3800729/12706358/eb79f1e4-c837-11e5-9afc-d33059fa1b53.jpg)

[2016-02-01 00:33] lfunkhouser opened #17 "Switch Distance and Bearing text"
From @mcalamito

Switch the text to read "Distance and Bearing" - this is how it is listen in the input form

![geodesyandrange1](https://cloud.githubusercontent.com/assets/3800729/12706375/411ebbac-c838-11e5-8767-21ecc272d596.jpg)

[2016-02-01 00:37] lfunkhouser opened #18 "Do not automatically add ".00" after user input"
From @mcalamito

When a distance of "8" is typed in the input box, it automatically adds the ".00"

Recommendation is to populate the input field with user input only. Do not auto-populate with ".00" after input.
![geodesyandrange2](https://cloud.githubusercontent.com/assets/3800729/12706398/ce6e396a-c838-11e5-9bf4-593f9fac1b24.jpg)

[2016-02-01 00:46] lfunkhouser opened #19 "Distance input field auto-populates and changes the entered value"
From @mcalamito
If the input "8.00" is deleted entirely and a new number is typed, such as "89", the number will be 8900.00

There is a huge lag in this typing as well as it is graphically draing a line 8900km

Note, in the screenshot, you can notice the cursor bar after the "89"

Fixing #18 may fix this issue

![geodesyandrange3](https://cloud.githubusercontent.com/assets/3800729/12706424/a85086f

[2016-02-01 00:51] lfunkhouser opened #20 "Original graphic should be cleared if user switches the "From:" option"
From @mcalamito

If the "From:" option is switched, the original graphic should be cleared.

This should follow similar suit for when the user switches tabs from Line to Circle.

If I begin to draw a graphic using "From: Points" and then switch to "From: Bearing and Distance", two graphics are now displayed on the screen.

![geodesyandrange4](https://cloud.githubusercontent.com/assets/3800729/1270

[2016-02-01 00:52] lfunkhouser opened #21 "Add warning when user is about to lose data"
From @mcalamito

If the user has input information in the Lines tab and begins drawing, a warning should be displayed prompting them that loss of data will occur if the tab is switched to Circles.

[2016-02-01 00:55] lfunkhouser opened #22 "Inconsistant size of "Clear Graphic" button"
From @mcalamito

If I switch between From: Points and From: Bearing and Distance, the Clear Graphic button should remain the same size and not change to the size of the "From:" drop-down.

![geodesyandrange5](https://cloud.githubusercontent.com/assets/3800729/12706492/5231d8f4-c83b-11e5-8dad-a679ac8be9c1.jpg)

[2016-02-04 17:19] #11 closed, assigned to nobody

[2016-02-08 19:17] mcalamito opened #29 "Add Labels - Rings"
Center Point: [coord]
Number of Rings: [num]
Distance: [dist]
Number of Radials: [num]

[2016-02-08 19:18] mcalamito opened #30 "Rename Range tab to Rings"
The user is creating rings based on ranges.
The other tabs are labeled based on what the user creates (i.e. lines, circle, ellipse).

[2016-02-08 22:57] mcalamito opened #31 "Allow Manual Input of Information on Ellipse Tab"
Currently, I can only create ellipses by interacting directly on the map. As a user, I need to be able to input the proper parameters (center point, major and minor axis, and orientation).

[2016-02-08 22:58] mcalamito opened #32 "Tool Tip for Map Point Tool on Ellipse Tab"
To keep consistency, all other tabs (Lines, Circle, and Range) have a tool tip for the Map Point Tool.

[2016-02-08 23:03] mcalamito opened #33 "Reduce Size of Ellipse Form"
The Ellipse form is significantly larger than all other forms. A re-arrangement on the Ellipse form will reduce the size. Suggestions include having the label be on the same line as the text box. The user will not be inputting very large numerical values that take up an entire line for input.

Minor Axis - text box
Major Axis - text box
Orientation Angle - text box
Orientation Unit - drop down

[2016-02-08 23:05] mcalamito opened #34 "Create Orientation Bracket/Section"
I like how there is an Axis bracket that compacts the Major and Minor. If this design is staying, we should also create an Orientation bracket as the Angle and Unit both apply to the Orientation.

[2016-02-08 23:08] mcalamito opened #35 "Enable a Scroll Bar When Docking Geodesy Window"
When I dock the Coordinate Tool window, a scroll bar appears to enable me to scroll down to my output coordinates. If I dock my Geodesy window, I have to expand the window in order to see all of the parameters on each tab. This takes up real estate and space in my data frame. Implementing a scroll bar would be a huge asset.

[2016-02-09 15:31] #29 closed, assigned to nobody

[2016-02-09 15:59] #17 closed, assigned to nobody

[2016-02-09 16:00] #30 closed, assigned to nobody

[2016-02-09 16:00] #15 closed, assigned to nobody

[2016-02-09 16:55] #10 closed, assigned to kgonzago

[2016-02-09 21:51] mfunk opened #38 "Getting incorrect number of radials in Range tab"
Testing the **Range** tab while writing up the solutions pages for creating range rings with the Add-in. When I add a number for the radials (I'm assuming as there are no dialog labels for the input boxes yet) I'm getting an incorrect number.

If I type 4, I get 8.
If I type 8, I get 16.
If I type 0, I get 0.
If I type 1, I get 2.
If I type 3, I get 6.

Example: Type 3 but get 6:
![image](https://

[2016-02-09 23:30] mfunk opened #39 "Map Point Tool on Ellipse tab needs tooltip"
The **Map Point Tool** on the **Ellipse** tab needs a tooltip like the other tabs, for example the **Circle** tab:

![image](https://cloud.githubusercontent.com/assets/3093182/12934216/d2a616be-cf41-11e5-86bf-c77bcf06c734.png)

Right now the over over **Map Point Tool** on **Ellipse** doesn't have any tooltip.

[2016-02-10 00:43] pshowalter opened #40 "Geodesy and Range Add-in button needs tooltip"
Geodesy and Range Add-in button needs tooltip.
![geodesy_and_range_tooltip_missing](https://cloud.githubusercontent.com/assets/6842145/12935632/495e7922-cf65-11e5-8968-a3a114f7f095.png)

[2016-02-11 21:14] mcalamito opened #46 "Circle Tab - Diameter Center Point is Not Plotting Properly"
The initial center point preview plots in the correct location. However, after entering in a diameter distance, the center point shifts and is no longer in the original location.

[2016-02-11 21:14] mcalamito opened #47 "Circle Tab - Diameter is not Properly Creating Graphic"
The diameter distance is not calculating and plotting properly.

[2016-02-11 21:35] dhagens opened #48 "Clear Graphics should complete operation"
Not sure how this should work exactly but it should work differently than it currently does.  If the user is in the middle of an operation and they select the Clear Graphics button, it currently draws the graphic but continues to accept the next button click to draw the actual graphic and then removes the previous graphic.  The Clear Graphics button could possibly cancel the entire operation.

[2016-02-11 21:42] dhagens opened #49 "Enhancement - Escape key should clear operation"
As using a tool in ArcMap, the escape key should cancel the current operation

[2016-02-11 21:44] dhagens opened #50 "Clear Graphics doesn't remove Ellipse graphics"
Draw an ellipse graphic.  Go to Line tool and select Clear Graphics.  Ellipse graphic is not removed.

[2016-02-11 21:46] dhagens opened #51 "Flicker when drawing Circle"
Select the Center Point on the map.  When selecting the radius / diameter, there is a vertical line that flickers from the center point

[2016-02-12 14:32] #13 closed, assigned to nobody

[2016-02-12 14:57] dhagens opened #54 "World Mercator does not work with manual input for circle tool"
When manually inputting world Mercator coordinates, an invalid coordinate error is displayed, after entering a valid World Mercator coordinate.

[2016-02-12 16:02] dhagens opened #55 "Invalid radius still produces output"
For manual entry using Circle tool, input UTM coordinates of 42S 271512 3674322

For radius, input value of 120,000abcdef.00 - need to be input one character at a time.  A circle is drawn with radius of 120,000

If you "Clear Graphics" after the above, the graphic is cleared and Center Point and Radius are reset.  If you cut & paste the above radius, and then select 'Clear Graphics', the Center Po

[2016-02-12 18:50] #14 closed, assigned to nobody

[2016-02-12 18:50] #32 closed, assigned to nobody

[2016-02-12 18:50] #39 closed, assigned to nobody

[2016-02-12 19:05] #46 closed, assigned to nobody

[2016-02-12 19:05] #47 closed, assigned to nobody

[2016-02-12 19:56] pshowalter opened #57 "Ellipse tab Unable to type or paste values into Center Point."
Ellipse tab Unable to type or paste values into Center Point.  Map Point Tool working ok.
![image](https://cloud.githubusercontent.com/assets/6842145/13018660/cf279f68-d198-11e5-8add-73ed87cad10a.png)

[2016-02-14 14:54] #57 closed, assigned to nobody

[2016-02-14 15:04] pshowalter opened #59 "Circle - Diameter and Radius producing same size circle with interactive input with Map Point Tool"
Circle - Diameter and Radius producing same size circle with interactive input with Map Point Tool
Set Create Circle From: Radius, click on the "four corners", drag a radius to the "O" in Mexico label.
Now switch to Set Create Circle From: Diameter , click "four corners", drag a diameter to the "O" in Mexico label.  Both circles will be the same size, shouldn't the diameter be half the size of rad

[2016-02-17 14:11] #59 closed, assigned to nobody

[2016-02-22 16:53] pshowalter opened #65 "Distance Calculator on Circle tab - Need to add "Miles" as a choice in Rate section"
Distance Calculator on Circle tab - Need to add "Miles" as a choice in Rate section where the units are selected.  This will allow the mph rate calculation listed in Acceptance Criteria in task.
![image](https://cloud.githubusercontent.com/assets/6842145/13225394/b5ecccca-d95a-11e5-8c99-d781e15b16eb.png)

[2016-02-23 16:46] mfunk opened #66 "Review items for Distance Calculator section of README"
I've got two topics from reviewing the _Create a Circle using the Distance Calculator_ section of the **README.md**:

As it reads now:

[code]
- [ ] The third (3) step is a little confusing in that the instruction ask the user to *"Enter a starting point and the distance of the circles radius by clicking on the map". By asking the user to 1) Enter the starting point and 2) the distance of the circ

[2016-02-24 15:47] pshowalter opened #67 "Distance Calculator - Radius / Diameter not updating properly"
Example is trying to calculate distance traveled in 28 minutes at 60 nautical miles per hour.  Initially have Time: 28 Minutes and Rate: 60 Nautical Mile, and have used Map Point tool to set center. The Radius shows 1680 metes.  Then change the units on time from Minutes to Hours (28 goes to 0.466666), Radius does not update.  In both cases the radius should  be 51781.92 meters or 27.9 Nautical Mi

[2016-02-29 07:04] topowright-zz opened #69 "A complete description for the add-in"
We should have a add-in description

[2016-02-29 07:41] topowright-zz opened #70 "When creating a circle the tool should show a circle not a line"
![image](https://cloud.githubusercontent.com/assets/5488313/13388439/bb7ba6ec-de74-11e5-998b-3f33f6d264cc.png)
This should be a circle not a line.

[2016-02-29 14:50] #38 closed, assigned to nobody

[2016-03-03 20:12] #51 closed, assigned to nobody

[2016-03-03 21:13] #35 closed, assigned to nobody

[2016-03-04 15:03] #67 closed, assigned to nobody

[2016-03-04 16:00] mfunk opened #75 "rename repo?"
We still want to rename the repo to match the tool name updates? From **geodesy-and-range-addin-dotnet**  to **distance-direction-addin-dotnet**?

[2016-03-08 13:27] #70 closed, assigned to nobody

[2016-03-08 17:45] #75 closed, assigned to mfunk

[2016-03-09 18:08] nfeuerstein opened #79 "Can this repo be made public?"
This repo is 'private' so very few people have access to it, can it be shared in the same manner as coordinate conversion?  https://github.com/Esri/coordinate-conversion-addin-dotnet

[2016-03-09 18:29] lfunkhouser opened #80 "Issue - to transfer to another repo to copy labels"
_From @lfunkhouser on March 9, 2016 17:6_

transferring labels to another repo

_Copied from original issue: ArcGIS/solutions-desktop-templates#247_

[2016-03-09 18:30] #80 closed, assigned to nobody

[2016-03-14 16:43] topowright-zz opened #81 "Updates to the UI"
[Military Tools GUI Review.pdf](https://github.com/ArcGIS/distance-direction-addin-dotnet/files/172414/Military.Tools.GUI.Review.pdf)

[2016-03-14 22:28] #69 closed, assigned to topowright

[2016-03-16 05:51] #12 closed, assigned to nobody

[2016-03-16 13:23] #34 closed, assigned to mcalamito

[2016-03-16 13:24] #18 closed, assigned to nobody

[2016-03-16 13:26] #31 closed, assigned to nobody

[2016-03-16 13:51] #19 closed, assigned to nobody

[2016-03-16 18:06] #20 closed, assigned to nobody

[2016-03-17 16:01] pshowalter opened #88 "Enhancement request: Interactive Range Ring creation should be ended with double click"
Interactive Ring creation should be ended with double click, rather than (or in addition to) a second click on the Map Point Tool on the Distance and Direction tool.
This behavior would be more consistent with the ArcMap Draw graphics capability for shapes that require multiple clicks to create, and are completed with a double click (i.e line, polygon).

[2016-03-18 14:27] pshowalter opened #89 "Interactive Range Rings"
While using the Interactive mode to enter various size Range Rings, the Distance and Direction tool shows updates in the "Distance Between Rings" display box.  The value in the "Distance Between Rings" is actually the radius of the ring currently being entered, not the distance between rings.

![image](https://cloud.githubusercontent.com/assets/6842145/13880684/cee5f920-ecf3-11e5-8913-e79c2820aa32

[2016-03-22 12:48] mcalamito opened #90 "Writing Columns and Values from Graphics to Saved Features"
Saving graphics as features (shapefile, feature class, and KML) is crucial, but so is saving the attributes that correspond to these features. The user will be inputting information into the Distance and Direction form or drawing on the map interactively. These values must be present in the attribute table when the graphic is saved to a feature or the user will not have values associated with each

[2016-03-22 20:02] mcalamito opened #92 "Circle, Ellipses, and Rings Must be of Geometry Type Polygon, Not Polyline"
All Circle, Ellipse, and Ring graphics and feature layers (using the Save As button) are creating polylines as their geometries. These geometries must be of type polygon.

[2016-03-22 20:06] mcalamito opened #93 "Disable Clear Graphics and Save As Buttons Until Proper Information is Entered"
Currently, the Clear Graphics and Save As buttons are permanently enabled. I can click Save As and create an empty shapefile or feature class. The Clear Graphics and Save As buttons should only be enabled when the proper information is entered or available. They should be disabled otherwise.

[2016-03-22 20:09] mcalamito opened #94 "Any Way to Remove the Overwrite Warning Message When Creating a New Feature Class"
Is there any way to remove the overwrite existing feature class warning message that pops up when creating a NEW feature class? It is a bit misleading.

[2016-03-22 20:15] mcalamito opened #95 "Do Not Keep Name of Feature as Default Name After Using Save As Dialogue"
Currently, if you save a graphic and give the feature a name, i.e. Lines.shp, it remains Lines.shp if I were to click Save As again.

Each time Save As is clicked and graphics are saved as features, the name should not carry over into the next Save As dialogue session. This could easily cause users to overwrite existing features.

[2016-03-23 19:29] mcalamito opened #98 "Delete TMP LOCK file that is Created After Saving to KMZ"
There is a tmp lock file that gets created in the folder location that the KMZ is saved. This tmp lock file should be deleted after the KMZ is created.

[2016-03-23 19:42] mcalamito opened #99 "Default the KMZ Name to the Name the User Defines"
Currently, the user can define a KMZ name (i.e. Lines.kmz). When I add this kmz into Google Earth, it is given the name featureLayer. Therefore, if I save 3 different kmz files (Lines.kmz, Circles.kmz, Ellipses.kmz) and add them into Google Earth, they will all show up as featureLayer. Do we have any control over the name of the KMZ (not to be mistaken with the file name of the kmz)?

[2016-03-24 19:56] mcalamito opened #101 "Save As KMZ Should Not Prepopulate with a Name"
When I Save As KML, there should not be a prepopulated name. This should follow the same as Save as Shapefile/FC.

[2016-03-24 19:57] mcalamito opened #102 "Save As KMZ Windows Dialogue Should Remember the Last Saved Location During Session"
When I Save As KML, the windows dialogue that pops up should have the location of the last saved KMZ during that session. This is common for Windows dialogues to follow.

[2016-03-25 12:53] #54 closed, assigned to nobody

[2016-03-25 15:26] #99 closed, assigned to nobody

[2016-03-25 15:27] #98 closed, assigned to nobody

[2016-03-25 15:28] #95 closed, assigned to nobody

[2016-03-25 15:29] #94 closed, assigned to nobody

[2016-03-25 16:52] #93 closed, assigned to nobody

[2016-03-28 13:08] #40 closed, assigned to nobody

[2016-03-28 13:14] #88 closed, assigned to nobody

[2016-03-28 13:21] #33 closed, assigned to nobody

[2016-03-28 13:44] #89 closed, assigned to nobody

[2016-03-28 19:23] #101 closed, assigned to nobody

[2016-03-28 19:24] #102 closed, assigned to nobody

[2016-03-28 20:08] #55 closed, assigned to dhagens

[2016-03-28 20:09] #50 closed, assigned to dhagens

[2016-03-29 19:19] topowright opened #110 "Z Aware elements"
When adding starting points or creating features having those features z aware would be a need for some customers and International Distributors.

This could be done by passing a elevation service to add-in thru an option in the properties dialog box.

[2016-04-06 06:09] #16 closed, assigned to topowright

[2016-04-06 06:10] #81 closed, assigned to topowright

[2016-04-06 06:11] #48 closed, assigned to nobody

[2016-04-06 06:28] #66 closed, assigned to topowright

[2016-04-06 06:41] #22 closed, assigned to nobody

[2016-04-06 06:41] #8 closed, assigned to topowright

[2016-04-11 14:30] topowright opened #117 "Versions for add-in"
Versions for add-in

[2016-04-13 14:42] pshowalter opened #119 "ArcMap addin not creating KMZ features when using Save As."
In ArcMap, when using Save As for Lines, Circle, Ellipse, and Rings, a KMZ file of 1KB is produced, but nothing displays when added to GE.  ArcMap Data frame is in Web Mercator.

[2016-04-15 21:09] topowright commented on #119
@dhagens do you think you can take a look at this. Is this a true bug?

[2016-04-15 21:11] topowright commented on #79
This repo is now been made public

[2016-04-15 21:34] topowright commented on #79
@nfeuerstein please verify

[2016-04-15 21:36] topowright commented on #117
verified

[2016-04-15 21:36] #117 closed

[2016-04-19 15:30] nfeuerstein commented on #79
Verified.

[2016-04-19 15:30] #79 closed

[2016-04-21 15:47] dhagens commented on #119
I cannot reproduce the issue.  Will work with @pshowalter to see how he got this to fail.

[2016-04-21 17:13] dhagens commented on #119
I'm not sure what's going on on @pshowalter machine but this functionality works everywhere else.  I tested Line, Circle, Ellipse, and Range Rings and all worked fine on my machine using both a PCS and GCS basemap.  @jmccausland  also tested on his machine with no issues.  @mcalamito also tested on his machine and had no issues.  I will close this bug.

[2016-04-21 17:19] #119 closed

[2016-04-21 17:24] jmccausland commented on #65
@pshowalter please review and verify

[2016-04-21 17:33] pshowalter commented on #65
Time: Seconds, Minutes, Hours - **OK**
Rate: Miles, Meters, KM, Feet, Nautical Miles - per second or per hour **OK**

[2016-04-21 17:33] #65 closed

[2016-04-22 17:28] jmccausland opened #136 "Pro AddIn Line feedback is not geodesic"
At ArcGIS Pro 1.2 and 1.3 the feedback and graphics for Lines will be non geodesic.  This will be available in a future release beyond 1.3

[2016-04-22 17:30] jmccausland opened #137 "Pro AddIn Circle, Ellipse and Rings crashes on version 1.2"
There is a known issue with geodesic ellipse creation at ArcGIS Pro 1.2.  This will be addressed in version 1.3

[2016-04-22 20:14] dhagens commented on #92
@mcalamito, please review

[2016-04-22 20:43] mfunk commented on #137
Came across this testing interactive range rings on Pro 1.2 Final today. :frowning:

[2016-04-25 12:01] mcalamito opened #139 "Author of Addin Should Be "Esri""
Currently, it is "ESRI"  (as is the Visibility Addin). I know it is something little, but trying to follow suit with other Addins and with the Esri marketing practices.

[2016-04-25 12:07] mcalamito commented on #92
@dhagens reviewed and still am producing Polylines.

[2016-04-25 13:10] mcalamito commented on #92
@dhagens tested the new update and verified it is creating polygons. closing ticket. well done.

[2016-04-25 13:10] #92 closed

[2016-04-27 14:59] ACueva commented on #9
This issue was moved to ArcGIS/military-tools-for-arcgis-build#7

[2016-04-27 14:59] #9 closed

[2016-06-02 06:13] topowright opened #146 "Changes to the Map Point Tool"
Change the map point tool to use the 16 bit image not the 32 bit image. This is based on the feedback from graphics.

[2016-06-16 13:03] mcalamito opened #150 "Zoom to Graphic Extent after Graphic Created"
after creating a graphic, the map should be zoomed to graphic extent by default. If the user is drawing within their current extent, they can see their graphic being created. If they are manually inputting parameters and those parameters fall outside their current extent, they should be automatically taken to the graphics extent.

[2016-06-16 13:07] mcalamito opened #151 "Revisit - Graphics Should be Created Without a Fill by Default"
Instead of creating graphics with a fill, I strongly believe graphics should be created without a fill, and allowing the user to add a fill if desired.

Especially in the case of ArcGIS Pro, after creating Range Rings and Saving As KML (Pro can add KML in v1.3), there is currently no way to change the Range Rings to have no fill. Therefore, you cannot see the rings, just a giant filled circle.

[2016-06-16 13:13] mcalamito opened #152 "Snapping to Features When Interacting with Map in ArcMap"
When interacting with map to create center points, end points, etc., snapping to existing features would be a huge workflow asset. It currently works in ArcGIS Pro and is a big enhancement. Having this available in ArcMap is crucial.

[2016-06-16 18:58] jmccausland commented on #152
addressed in #153, verify at the next build

[2016-06-16 19:00] jmccausland commented on #146
These have been updated, please verify and close

[2016-07-01 12:52] dhagens commented on #146
Verified

[2016-07-01 12:52] #146 closed

[2016-07-08 14:25] dhagens commented on #150
@mcalamito, please verify with next Jenkins build.

[2016-07-08 22:26] pshowalter opened #159 "Save As - Select Output - KML - is followed by "Choose Location to create KMZ file" diaglog"
@jmccausland @dhagens

Perhaps use  KMZ  throughout the work flow since we don't offer a straight KML file save.

![image](https://cloud.githubusercontent.com/assets/6842145/16703138/fe72935e-4538-11e6-9896-b8a4ec659476.png)

![image](https://cloud.githubusercontent.com/assets/6842145/16703177/54596680-4539-11e6-83a0-c51cff7aad15.png)

[2016-10-27 21:00] mfunk opened #164 "Distance and Direction labels have way too many decimal places and the label doesn't have spaces"
From Asana PBI Description:

Description:

The labels for the lines created with the Distance and Direction add-in in ArcMap has way too many decimal places.  I'm pretty sure it's measuring to the molecular level.  I would think two decimal places would be sufficient.  The label also should have spaces to make it more legible.

Definition of Done:

Labels for lines created with the Distance and Di

[2016-11-01 21:42] ACueva opened #165 "Distance and Direction widgets throws errors when out of bounds"
This issue is only reproducible in Visual Studio.

Issue: When map is zoomed out and your mouse pointer hovers over a blank area, the following error is thrown:

[code]

[2016-11-01 22:52] topowright opened #166 "Mils to Degrees"
As a user it seems that what is drawn on the screen is off by 90 degrees. When I get the preview feature of my graphic it is not the same as the final graphic. This only happens when a user chooses mils as angle.

[2016-11-01 22:53] topowright commented on #166
@ACueva this is the bug that you found. Good find.

[2016-11-01 23:17] ACueva commented on #166
Not sure procedure.  Assigning to @nfeuerstein to add to backlog.?

[2016-11-01 23:22] ACueva opened #167 "Distance and direction rings need to be more intuiative"
User interface is clunky.  Wasn't sure what I needed to do to make the rings show up.

Process is:
Select center point tool
Click on pointer tool
Click on map
Enter distance between Rings
Enter Number of Radials
Press enter on keyboard

As a user I had no idea that's how I got rings to draw.
Why does the distance between rings default to 0?

Suggest adding "submit" button?

[2016-11-03 15:55] ACueva opened #169 "UTM coordinates always off by 1"
Not sure if this a bug or not.
Whatever value that's entered UTM will always be off by 1.

![coordinateconversion_screencapturedtandpro](https://cloud.githubusercontent.com/assets/3093940/19973625/fbc05832-a1a2-11e6-8914-be610f2766b5.PNG)

In addition, when expected outputs are checked against
http://egeoint.nrlssc.navy.mil/web_geographic_translator/faces/tabbed_transform.jsp
it is also off by 1.

[2016-11-04 14:52] jmccausland commented on #169
@ACueva This should be added to the CC repo.  What version of ArcMap and Pro are you running?  I can't reproduce this issue with your test data at 10.5 Desktop or Pro 1.3.1

[2016-11-04 15:38] ACueva commented on #169
@jmccausland Good call, i'll move this to the right Repo.  If you look at the image above you can see what i'm referring to.  MGRS. USNG both end in 90.  UTM ends with 89.  If we plug that same value into http://egeoint.nrlssc.navy.mil/web_geographic_translator/faces/tabbed_transform.jsp UTM ends in 90.

[2016-11-04 15:40] ACueva commented on #169
This issue was moved to Esri/coordinate-conversion-addin-dotnet#141

[2016-11-04 15:40] #169 closed

[2016-12-02 16:09] nfeuerstein commented on #164
@mfunk was this resolved?

[2016-12-06 20:30] jmhauck opened #171 "Distance and Direction line should be an arrow"
Logged in reference to asana task:

Description:
Given that the tool is called Distance and Direction, the output needs to be an arrow (showing direction) and not just a line.

Definition of Done:
The result calculation (from creating lines of bearing with Distance and Direction widget) is displayed as a legible label on the map along with an arrow (from start to end point).

[2016-12-06 20:31] jmhauck commented on #171
What is currently observed:

![noarrow](https://cloud.githubusercontent.com/assets/2170893/20942360/50a892f4-bbb8-11e6-83fc-11134766b705.png)

[2016-12-06 20:42] jmhauck commented on #171
This is what is observed after the commit above:

![image](https://cloud.githubusercontent.com/assets/2170893/20942672/a378cc50-bbb9-11e6-9902-8f691be14f0b.png)

@nfeuerstein @kgonzago was the expectation that this would involve a change to the text that is displayed as well? If so could I have more details about that part of it?

[2016-12-06 21:19] kgonzago commented on #171
@jmhauck what you implemented is spot on.

[2016-12-06 21:38] jmhauck commented on #171
@kgonzago great!

[2016-12-06 22:06] Dbarnes1 commented on #171
![image](https://cloud.githubusercontent.com/assets/13024357/20945675/0d27222a-bbbd-11e6-8377-836611fec54d.png)
verified fixed in 10.4.1

[2016-12-06 22:50] jmhauck commented on #165
This issue only occurs for some of the display coordinate types.

Additional steps to repro:

1) Launch ArcMap from the Visual Studio solution provided
2) Add > Basemap > Imagery with Labels
3) Zoom out past the extent of the basemaps tiles
4) On the Distance and Direction window click Edit Properties
5) Choose UTM as the Display Coordinate
6) Hover over some of the white space outside of the exte

[2016-12-07 23:43] elinz commented on #171
@jmhauck @kgonzago I reopened this issue. Arrow heads are now being added to circles, ellipses, and rings (and the radials).  The arrow head should only be added to lines created by the Lines tool. This addin was released on the download site today with this issue.

![image](https://cloud.githubusercontent.com/assets/4635490/20991491/b3e47f96-bc93-11e6-963c-6520727fc0c5.png)

[2016-12-08 20:01] #171 closed

[2016-12-12 18:45] pHill5136 opened #176 "Distance Direction produces same ellipse when using semi or full options in pro"
The distance Direction Ellipse tool produces identical ellipses in pro when choosing semi or full options.
Create Semi ellipse
1. Select Semi for ellipse type
2. click on map pointer tool
3. Select a location on map
4. Set 200000 for the major axis
5. Set 100000 for minor axis
6. select 60 degrees for rotation
7. Click enter to create ellipse
Create full ellipse
8.Select full for ellipse type
9. c

[2016-12-14 22:10] lfunkhouser opened #177 "Clear Graphics buttons on Distance and Direction Add-in delete all graphics"
_From @topowright on December 8, 2016 23:6_

Clear Graphics buttons on Distance and Direction Add-in delete all graphics

## Expected Behavior
Each Graphics button only deletes the graphics from that tab

## Current Behavior
All graphics are delted when using the Clear Graphics button

## Possible Solution

## Steps to Reproduce (for bugs)

1.Create graphics on two differnt tabs
2. click the Clear

[2016-12-14 22:11] lfunkhouser opened #178 "Save As does not show text for Distance and Direction"
_From @topowright on December 8, 2016 22:34_

The Distance and Direction Add-in has the ability to save features locally. Currently the text does not show up:

![image](https://cloud.githubusercontent.com/assets/5488313/21030359/0ca8754e-bd96-11e6-8339-f5ba8d8db62b.png)

## Expected Behavior
I would expect to see Save to shapefile, feature class or kml

## Current Behavior
No text is showing up in

[2016-12-14 22:11] lfunkhouser commented on #178
_From @pHill5136 on December 14, 2016 21:49_

@topowright @nfeuerstein Checked this in pro 1.4 build 7179. Labels are appearing in the SaveAs dialog.

[2016-12-14 23:57] nfeuerstein commented on #177
Is this issue closed?  I'm seeing several bugs that were logged in military-tools-for-arcgis that are referenced in this repo.  The referenced bug is closed but this one is still open.  It's confusing.

[2016-12-15 00:00] #137 closed

[2016-12-15 00:01] nfeuerstein commented on #136
At least we can't say we didn't know.  Closing as this is a known issue and will be documented as such.

[2016-12-15 00:01] #136 closed

[2016-12-15 15:30] Dbarnes1 commented on #178
I can also verify this works on Pro 1.4 (I'm still on build 7039). closing issue.

![image](https://cloud.githubusercontent.com/assets/13024357/21229942/2884e610-c298-11e6-8b24-81c25a99c614.png)

[2016-12-15 15:30] #178 closed

[2016-12-15 16:10] elinz commented on #177
@nfeuerstein All of the issues that were in the https://github.com/Esri/military-tools-for-arcgis repo were moved to the individual component repo's since the tools are still individual components.

[2016-12-15 17:38] lfunkhouser opened #180 "Ring radials and Lines are not created as geodetic lines in ArcGIS Pro"
_From @elinz on December 5, 2016 18:51_

The radials are not created as geodetic lines.

We know that at least for 1.2 and 1.3 we can't create geodetic lines so the "Number of Radials" parameter should be hidden/disabled or removed.

![image](https://cloud.githubusercontent.com/assets/4635490/20897769/8e42eb72-bad8-11e6-8a93-bdcaa096d51b.png)

## Expected Behavior

## Current Behavior

## Possible

[2016-12-15 17:38] lfunkhouser commented on #180
_From @kgonzago on December 9, 2016 13:41_

@elinz Can you test this with Pro 1.4? If issue persists, we will have to remove this functionality from the release.

fyi @lfunkhouser

[2016-12-15 17:38] lfunkhouser commented on #180
_From @elinz on December 9, 2016 16:8_

@kgonzago I installed the latest build Military Tools for ArcGIS that i believe was built on 1.3 SDK and I get the same incorrect results.

[2016-12-15 17:38] lfunkhouser opened #181 "Distance And Direction: Radials for rings are not created at the correct length in ArcGIS Pro"
_From @elinz on December 5, 2016 18:45_

When I use the Rings function on the Distance And Direction addin the length of the radials created do not have the correct length. See screenshot below:

![image](https://cloud.githubusercontent.com/assets/4635490/20897633/fb6e6506-bad7-11e6-9ae6-bf2d375d5817.png)

## Expected Behavior

The length of the radials created should match the radius of the outer

[2016-12-15 17:38] lfunkhouser commented on #181
_From @elinz on December 5, 2016 18:58_

We know that at least for 1.2 and 1.3 we can't create geodetic lines so the "Number of Radials" parameter should be hidden/disabled or removed.

[2016-12-15 17:38] lfunkhouser commented on #181
_From @kgonzago on December 5, 2016 20:48_

@nfeuerstein @topowright Should we remove Radials from Distance and Direction Pro 1.2/1.3 entirely?

[2016-12-15 17:38] lfunkhouser commented on #181
_From @nfeuerstein on December 5, 2016 21:17_

@kgonzago - Distance and Direction is dead in 1.2 all together.  For 1.3, we should probably remove radials if there is no way to fix it.  It seems to me that 1.3 doesn't support radials.

[2016-12-15 17:38] lfunkhouser commented on #181
_From @Dbarnes1 on December 5, 2016 21:22_

@nfeuerstein would an alternative to removing radials in 1.3 be to include a known issue about radials not working properly in our documentation? This is what we are currently doing in regards to line creation in the add-in. See this PR: https://github.com/ArcGIS/arcgis-solutions-website/pull/4608/files

[2016-12-15 17:38] lfunkhouser commented on #181
_From @nfeuerstein on December 5, 2016 21:32_

@Dbarnes1 yes, that is an alternative.  The bottom line is that lines aren't supported, we can either document that geodesic lines aren't supported or we can remove the option.  Which is more feasible?

Documenting it puts the onus on the user to understand its not supported, and removing it puts the onus on us.

[2016-12-15 17:38] lfunkhouser commented on #181
_From @Dbarnes1 on December 5, 2016 21:36_

@nfeuerstein I think updating the documentation with a known issue for pro 1.3, and then removing the functionality for lines and radials in pro 1.4 would be the most suitable option considering the current technical limitations.

[2016-12-15 17:38] lfunkhouser commented on #181
_From @nfeuerstein on December 5, 2016 21:40_

Sounds like a plan.  Any issues with that @kgonzago?

[2016-12-15 17:38] lfunkhouser commented on #181
_From @kgonzago on December 9, 2016 13:44_

I like that plan. This is similar to #68. Once issue persists when testing with Pro 1.4, the line and radials will be removed entirely.

[2016-12-15 17:38] lfunkhouser commented on #181
_From @elinz on December 9, 2016 16:11_

@kgonzago I installed the latest build of Military Tools for ArcGIS that I believe was built on 1.3 SDK and the same issue exists.

[2016-12-15 17:39] lfunkhouser opened #182 "Pro 1.2 - Distance and Direction add-in doesn't open"
_From @elinz on November 4, 2016 17:19_

I navigate to the "MILITARY TOOLS" ribbon, click on "Distance and Direction" add-in and no interface for the tool is opened.

## Expected Behavior

The interface for the tool should open when the user clicks on it.

## Current Behavior

I navigate to the "MILITARY TOOLS" ribbon, click on "Distance and Direction" add-in and no interface for the tool is opene

[2016-12-15 21:01] pHill5136 commented on #177
@nfeuerstein @topowright Fixed this. pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/183 . Clear graphics clears only graphics associated with the active tab.

[2016-12-15 21:35] Dbarnes1 commented on #182
@lfunkhouser we never released this on Pro 1.2, so can we close this out?

[2016-12-15 22:35] mfunk commented on #177
Was this for both Pro and ArcMap, or just ArcMap?

[2016-12-15 22:59] mfunk commented on #177
Tested on ArcMap 10.3.1, ArcMap 10.4, and Pro 1.3 and all good.
Need to install Pro 1.4 and test there next.

[2016-12-15 23:02] mfunk commented on #177
Dang it. Tested on 1.4 already, not 1.3. Need to go back and try again on 1.3.

[2016-12-16 15:11] mfunk commented on #177
Good to go.

[2016-12-16 15:36] mfunk commented on #139
@dhagens @pHill5136  @kgonzago
Not sure the exact process to test this. If I go to Add-In Manager and test today's build (12/16/16) then there is a *Created by: Esri* tag. I could assume its the same as "Author" but need to make sure this is correct.

![image](https://cloud.githubusercontent.com/assets/3093182/21268137/5a85fb48-c362-11e6-93c2-a65ca3fc7389.png)

[2016-12-16 17:17] mfunk commented on #151
@dhagens @pHill5136
This is fixed on ArcMap 10.3.1, 10.4, and 10.5. But it is still an issue on Pro 1.4:

[2016-12-16 18:25] mfunk commented on #139
Talked with @kgonzago and this is probably the only thing it could be. Closing this one out.

[2016-12-16 18:25] #139 closed

[2016-12-16 18:28] mfunk commented on #152
Testing this by adding point, line, polgon features to map, then using Map Point tool on each of the four tabs to see if it will snap to features or not and then test with editor snapping settings.

* [ ] ArcMap 10.3.1
* [ ] ArcMap 10.4.1
* [ ] ArcMap 10.5
* [ ] ArcGIS Pro 1.4

[2016-12-16 18:42] nfeuerstein commented on #182
No distance and direction for Pro 1.2 - closing out.

[2016-12-16 18:42] #182 closed

[2016-12-16 18:49] mfunk commented on #152
Looking good so far. What I was expecting is that the tools use the ArcMap snapping environment, and it seems they do as the tool picks up the snapping symbol/layer name (10.3.1 example).
![image](https://cloud.githubusercontent.com/assets/3093182/21274481/504b681e-c37d-11e6-957c-913a179f3a34.png)

[2016-12-16 18:54] elinz opened #184 "Poor tooltip name and description for Distance and Direction addin (ArcMap)"
When I hover over the Distance and Direction addin the following tooltip is displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21274600/ec088732-c37d-11e6-9d61-4cfb336e2ee0.png)

"Show Distance and Direction" - there is no reason to use the verb "Show". Users know that the tool will open or do something.

"Add-in command to show Distance and Direction." - This doesn't help the

[2016-12-16 19:09] elinz opened #185 "Poor tooltip name and description for Distance and Direction addin (ArcGIS Pro)"
When I hover over the Distance and Direction addin the following tooltip is displayed:
![image](https://cloud.githubusercontent.com/assets/4635490/21275099/0f07c8b8-c380-11e6-9439-13499a38ea62.png)

"Show Dockpane" - there is no reason to use the verb "Show". Users know that the tool will open or do something. The name should have the addin name.

"Show Distance and Direction Dockpane" - This does

[2016-12-16 19:13] mfunk commented on #152
Tested against Point, Vertex, Edge, Endpoint with options on and off in Desktop.

[2016-12-16 19:13] #152 closed

[2016-12-16 19:43] mfunk commented on #150
Testing Procedure:
1) Zoom into California (Monterey area).
2) Enter lines/circles/ellipses/range rings around 13SCU7353073185 (Kirtland AFB, Albuquerque, NM)
3) Does it zoom?

* [ ] ArcMap 10.3.1
* [ ] ArcMap 10.4.1
* [ ] ArcMap 10.5
* [ ] ArcGIS Pro 1.4

[2016-12-16 19:55] #150 closed

[2016-12-16 21:30] ACueva commented on #166
Assigning to @pHill5136.  I believe this is the bug you fixed?

[2016-12-16 21:37] mfunk commented on #177
Reopened because PR hasn't gone through yet, but somehow the problem is now gone.

[2016-12-19 14:46] Thargoids commented on #165
I am having trouble recreating this issue with the steps provided.

Config: Windows 8.1, Visual Studio 2013, ArcMap 10.3.1.

[2016-12-19 16:49] pHill5136 commented on #159
Updated labels to read 'KMZ' instead of 'KML' pull request: https://github.com/Esri/distance-direction-addin-dotnet/pull/186

[2016-12-19 16:49] lfunkhouser commented on #166
@pHill5136 Is this issue resolved and ready to be verified?

[2016-12-19 16:50] mfunk commented on #164
Looks good in 10.3.1:
![image](https://cloud.githubusercontent.com/assets/3093182/21320784/14107e92-c5c7-11e6-899f-e43080eed3d1.png)

![image](https://cloud.githubusercontent.com/assets/3093182/21320792/18364d3a-c5c7-11e6-9fbb-7fadf976e66e.png)

![image](https://cloud.githubusercontent.com/assets/3093182/21320803/1b63d59a-c5c7-11e6-9b67-41100c6aff39.png)

And 10.5.1:
![image](https://cloud.githubu

[2016-12-19 17:08] mfunk commented on #180
Still an issue at Pro 1.4

[2016-12-19 17:13] mfunk commented on #110
@topowright Can you describe what the output would be like? Are they expecting 3D range rings that follow the terrain from the surface? I would have assumed if they wanted 3D for many of these features they would have the same elevation and would 'float' over the surface. If they are sampled from the terrain an oblique view would obscure many of the lines/circles/etc.

[2016-12-19 17:14] pHill5136 commented on #151
Updated to empty fill for polygons. Changed outline color to red for graphic to be consistent with rangerings rendering. pull request: https://github.com/Esri/distance-direction-addin-dotnet/pull/187

[2016-12-19 17:17] pHill5136 commented on #151
fyi: @nfeuerstein @dhagens fixed this... pull request: #187

[2016-12-19 17:18] pHill5136 commented on #159
@nfeuerstein fixed this... Updated labels to read 'KMZ' instead of 'KML' pull request: #186

[2016-12-19 18:09] elinz commented on #181
@kgonzago Still an issue at Pro 1.4. See #180.

[2016-12-19 18:39] mfunk commented on #177
So this one is fixed and was done so in an earlier PR than the aforementioned #183. Closing.

[2016-12-19 18:39] #177 closed

[2016-12-19 18:41] pHill5136 commented on #185
@nfeuerstein @elinz Updated tooltip pull request: https://github.com/Esri/distance-direction-addin-dotnet/pull/188

[2016-12-19 21:36] elinz commented on #185
@pHill5136 Tooltip for addin missing description. I'm asking the team if we already have a short description for each of the addin's already written.

[2016-12-19 21:43] mfunk commented on #181
@kgonzago @pHill5136
Just an FYI, none of the Distance and Direction lines are geodesic, this means the **Line** tab features as well as the radials on the **Rings** tab.

![image](https://cloud.githubusercontent.com/assets/3093182/21330097/b0edde3e-c5f0-11e6-8fb4-3a30f80a1ce6.png)

![image](https://cloud.githubusercontent.com/assets/3093182/21330169/087f4b4c-c5f1-11e6-961a-e082ad155749.png)

[2016-12-19 21:57] mfunk commented on #185
Looking good here.
![image](https://cloud.githubusercontent.com/assets/3093182/21330599/0e34ab66-c5f3-11e6-87dc-697fb88c38db.png)

[2016-12-19 22:01] mfunk commented on #151
Checked latest and we are using un-filled symbols:

![image](https://cloud.githubusercontent.com/assets/3093182/21330699/981b2396-c5f3-11e6-9e7a-abf1b72cc514.png)

[2016-12-19 22:01] #151 closed

[2016-12-19 22:02] elinz commented on #185
@pHill5136 @mfunk This is not good. We need a description of what the tool does. I received something from Product management. I'll see if I can condense to a two sentence description.

[2016-12-19 22:02] dfoll opened #189 "Extra Buttons should be removed from the Distance and Direction Add-In in Pro"
These two buttons are visible on the Distance and Direction Add-In ribbon but do not appear to do anything. Talked to @topowright who confirmed that they should not be there. seems the code was removed (or never existed) as they do not do anything, but the buttons never were removed.

![image](https://cloud.githubusercontent.com/assets/5322669/21330680/78702654-c5f3-11e6-97a4-31763526a289.png)

[2016-12-19 22:03] mfunk commented on #159
**Save As** dialog now reads as KMZ and not KML

![image](https://cloud.githubusercontent.com/assets/3093182/21330748/d3a57790-c5f3-11e6-82e9-dcb154ad8e21.png)

[2016-12-19 22:03] #159 closed

[2016-12-19 22:04] dfoll commented on #189
@topowright can you please chime in on this, and confirm one way or the other. There is definitely an issue here, as the buttons do no work, but the question is, are the buttons missing code behind them, or are they supposed to be totally removed.

[2016-12-19 22:04] NatalieCampos opened #190 "Distance and Direction add in ArcMap Doesnt show diameter values"
When using the DD Circle tab and the Diameter option, the graphic labels give radius instead diameter.

![image](https://cloud.githubusercontent.com/assets/5116835/21330674/73b8af28-c5f3-11e6-85c9-952f6c515e61.png)

[2016-12-19 22:06] topowright commented on #189
We removed these buttons from the Coordinate Conversion add-in and should be done on Distance and Direction.
![image](https://cloud.githubusercontent.com/assets/5488313/21330815/4025b72c-c5f4-11e6-8516-dbd87f3b24c3.png)

This is the way that it looks for that add-in

[2016-12-19 22:06] mfunk commented on #185
@elinz do you have an example of a correct one that you can share?

[2016-12-19 22:07] elinz commented on #185
@mfunk I'm trying to come up with one right now.

[2016-12-19 22:07] NatalieCampos opened #191 "Unable to use the DD Rings in ArcMap"
Using the interface to create the range rings of the DD addin, I am unable to generate the rings.  Below is the inputs.
![image](https://cloud.githubusercontent.com/assets/5116835/21330852/68c198e0-c5f4-11e6-8d74-479de59fd24e.png)
Below is a screen capture of my attempt to drop center points.
![image](https://cloud.githubusercontent.com/assets/5116835/21330874/7f59481e-c5f4-11e6-8daf-e383ac59ddbc.

[2016-12-19 22:11] Dbarnes1 commented on #190
@NatalieCampos I'm seeing the same error.

[2016-12-19 22:22] mfunk commented on #166
Tested this with *Orientation* on the **Ellipse** tab. Where I used 4000, 5000, 6000 Mils (full circle is approximately 6283 Mils):

![image](https://cloud.githubusercontent.com/assets/3093182/21331060/753775d0-c5f5-11e6-8559-8f8b0915ed17.png)

Also tested with *Angle* on the **Lines** tab. Here I used 0, 1000, 2000, 3000, 4000 Mils:
![image](https://cloud.githubusercontent.com/assets/3093182/2133

[2016-12-19 22:22] #166 closed

[2016-12-19 22:22] elinz commented on #185
@mfunk @pHill5136 Here is the description part of the tootip that we can use:

"Interactively create geodetic circles, ellipses, range rings, and distance calculations based on time and rate. Created graphics can be saved to feature classes, shapefiles, and KMZ files."

I'll update #184 to reflect a slightly different description for the ArcMap addin.

[2016-12-19 22:23] elinz commented on #184
Here is the description part of the tootip that we can use:

"Interactively create geodetic lines, circles, ellipses, range rings, and distance calculations based on time and rate. Created graphics can be saved to feature classes, shapefiles, and KMZ files."

[2016-12-19 22:35] mfunk opened #192 "Output needs to be identified/labeled in Pro"
For ArcGIS Pro the Distance and Direction tools do not show labels for output graphics the same way that ArcMap does. Now we get the graphics drawn on the map, but no labels to tell about the geometry's construction:
![image](https://cloud.githubusercontent.com/assets/3093182/21331530/bb91f63e-c5f7-11e6-8668-d7adee822228.png)

In ArcMap (10.4.1 in the example below) the tools give us the following

[2016-12-19 22:35] mfunk commented on #164
@nfeuerstein @lfunkhouser
I'm going to suggest that we close this one out, as the problem is resolved in ArcMap, but knowing that the Add-In in Pro doesn't produce any labels at all. This should be a separate issue anyway. Logged this one as #192.

[2016-12-19 22:35] #164 closed

[2016-12-19 22:48] pHill5136 commented on #181
@nfeuerstein @kgonzago I hid the radials label and text box on range rings and commented out the lines tab. pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/193

[2016-12-19 22:49] pHill5136 commented on #180
@nfeuerstein @kgonzago I hid the radials label and text box on range rings and commented out the lines tab. pull request #193

[2016-12-19 23:19] Dbarnes1 opened #194 "Distance Calculator only works once in Circle tab in ArcMap"
I'm struggling to create circles using the Distance Calculator in Distance and Direction. I can create it once by selecting a center point, and then expanding the Distance Calculator and entering a time and speed. However, when I clear graphics and try to create a circle using time and speed again, I run into issues. I can enter time and speed in the distance calculator, but when I click enter a g

[2016-12-19 23:28] pHill5136 commented on #189
@nfeuerstein Removed buttons in Distance Direction pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/195

[2016-12-19 23:39] Dbarnes1 opened #196 "Coordinate format should automatically update based on what you paste. Distance and Direction ArcMap, lines tab."
This issue is more of an enhancement/design decision. If you have a spreadsheet of starting points for lines that you want to draw, and those are in decimal degrees, but the current format in the map (as set in the Edit Properties) is in lat long, the line will draw. BUT the end point won't automatically switch to decimal degrees, and as a result you would see two different coordinate formats in t

[2016-12-20 13:23] Thargoids opened #197 "User is given no indication via cursor icon that Map Point tool is active (ArcMap)"
**Procedure:**
1. In ArcMap click Map Point tool
2. Hover mouse cursor over map

**Result:** the mouse cursor does not change from the standard mouse cursor

**Result expected:** mouse cursor should change to a cursor specific to the Map Point tool to indicate that this particular tool is active (in keeping with standard behaviour in ArcMap when a tool is selected)

[2016-12-20 13:25] rjones0 opened #198 "Entering very large Radius/Diameter when creating a circle causes graphical glitch with multiple lines drawn across map (ArcMap)"
**Procedure:**

1. Add a world background data source in ArcMap
2. Display Circle tab on Distance and Direction addin UI panel
3. Click Map Point tool
4. Click on map to create a point
5. Click in Radius/Diameter text box
6. Enter a 1 and then keep adding zeros

**Result:** From 100000000000 upwards multiple intersecting lines are drawn across map (which presumably is not desired behaviour)

**Res

[2016-12-20 13:30] Thargoids commented on #198
![glitch](https://cloud.githubusercontent.com/assets/24588999/21352223/731bb3ec-c6b8-11e6-8167-bdd404022af1.png)

[2016-12-20 13:31] rjones0 opened #199 "Entering a very large Radius/Diameter value when creating a circle causes Exception to be thrown in Visual Studio (ArcMap)"
**Procedure:**

1. Open solution in Visual Studio
2. Build addin and double click addin to install in ArcMap
3. Start ArcMap
4. In Visual Studio attach to ArcMap process
5. In ArcMap add a world background data source
6. Display Circle tab on Distance and Direction addin UI panel
7. Click Map Point tool
8. Click on map to create a point
9. Click in Radius/Diameter text box
10. Enter a 1 and then k

[2016-12-20 13:33] rjones0 opened #200 "When creating a circle, changing the Radius/Diameter value without first creating a point causes a point to be created that can never be finished as a circle (ArcMap)"
**Procedure:**

1. In ArcMap add a world background data source
2. Display Circle tab on Distance and Direction addin UI panel
3. Click Map Point tool
4. Move mouse over map
5. Click in Radius/Diameter text box (do not **click** on map first)
6. Enter value 1000 into text box

**Result:** a new point is added to the display on the left edge of the map at the point where the mouse left the map wind

[2016-12-20 13:49] rjones0 opened #201 "Adding an ellipse, without clicking on the map to create a point first, causes an ellipse to be created at the place where the mouse left the map (ArcMap)"
**Procedure:**

1. In ArcMap add a world background data source
2. Display Ellipse tab on Distance and Direction addin UI panel
3. Click Map Point tool
4. Move mouse over map but do not click on map
5. Enter values in Major, Minor, Angle text boxes
6. Press Enter

**Result:** Ellipse is created at the point where the mouse left the map. Presumably this is to support user entering point non-interac

[2016-12-20 13:52] rjones0 opened #202 "Adding rings, without clicking on the map to create a point first, causes rings to be created at the place where the mouse left the map (ArcMap)"
**Procedure:**

1. In ArcMap add a world background data source
2. Display Rings tab on Distance and Direction addin UI panel
3. Click Map Point tool
4. Move mouse over map but do not click on map
5. Enter values in Number of Rings, Distance Between Rings, Number of Radials text boxes
6. Press Enter

**Result:** Rings are created at the point where the mouse left the map. Presumably this is to sup

[2016-12-20 15:14] mfunk commented on #181
*Lines* tab is removed:
![image](https://cloud.githubusercontent.com/assets/3093182/21355675/c69e0bd0-c683-11e6-9c9c-0dc8c7c02f0b.png)

And Radials option is removed from **Rings**
![image](https://cloud.githubusercontent.com/assets/3093182/21355705/e1a6ed66-c683-11e6-8fdc-4923049e9ca5.png)

[2016-12-20 15:14] #181 closed

[2016-12-20 15:18] mfunk commented on #189
Extra buttons are no longer present after installing the Distance and Direction Add-In:
![image](https://cloud.githubusercontent.com/assets/3093182/21355837/5f10ee46-c684-11e6-8687-3f7beb01e465.png)

[2016-12-20 15:18] #189 closed

[2016-12-20 15:21] mfunk commented on #185
@pHill5136  Did we make any changes for @elinz suggestions? I'm not seeing any in this morning's build:

![image](https://cloud.githubusercontent.com/assets/3093182/21355995/f60647ce-c684-11e6-87cb-39315a925b91.png)

[2016-12-20 15:23] mfunk commented on #191
@NatalieCampos what coordinate system are those point coordinates in?

[2016-12-20 15:26] Thargoids commented on #190
To hopefully avoid duplication of work - I am unable to assign this issue to myself at present, but am working on it and have a fix imminent.

[2016-12-20 15:41] mfunk commented on #180
@pHill5136 do we keep this one open to address geodetic lines in a future version of Pro, or close it out along with #181 (which seems a duplicate of this one). I'm for keeping this one open with milestone as Version - Deferred.

[2016-12-20 16:26] pHill5136 commented on #180
@mfunk I think keep this one open. I removed the lines tab and hid the radials dialog in range rings per this thread. So I think we will want someone to verify those fixes...

[2016-12-20 16:33] pHill5136 commented on #185
@mfunk @elinz Hmmm. I had a description in there. Seeing the same thing as you guys... will check code...

[2016-12-20 17:00] pHill5136 commented on #185
@mfunk @elinz Updated the description. Pull request: https://github.com/Esri/distance-direction-addin-dotnet/pull/204

[2016-12-20 17:51] mfunk commented on #180
@pHill5136  I verified the other one. Lines tab is gone and Radials is removed from Rings tab.

[2016-12-20 17:55] pHill5136 commented on #176
This is the expected behavior. Closing

[2016-12-20 18:14] mfunk commented on #180
Looking in the Pro SDK API Reference there is reference to CurveType enumeration with members "Geodesic", "GreatElliptic", "Loxodrome", and "NormalSection" in ArcGIS.Core.Geometry Namespace.

https://pro.arcgis.com/en/pro-app/sdk/api-reference/#topic7844.html

This guy is used in GeometryEngine's GeodeticDensifyByLength Method:
https://pro.arcgis.com/en/pro-app/sdk/api-reference/#topic8245.html

F

[2016-12-20 18:26] mfunk commented on #185
Got the latest build from Jenkins and this is what I see:
![image](https://cloud.githubusercontent.com/assets/3093182/21362736/83489592-c69e-11e6-9131-dd938187b1ea.png)

Text reads as

Marking this one as completed.

[2016-12-20 18:26] #185 closed

[2016-12-20 18:33] mfunk commented on #190
Will verify once PR is merged.

[2016-12-20 18:39] pHill5136 commented on #180
@kgonzago @nfeuerstein I hid fields for creating the radial lines. Noticed that since Pro and Arcmap addins share the dialog view that radials are turned off in ArcMap as well. Do we need to make separate viewmodels for rangerings?

[2016-12-20 18:40] pHill5136 commented on #180
@kgonzago @nfeuerstein Sorry I meant to say separate views for range rings?

[2016-12-20 18:46] dfoll opened #205 "Map Point tool is disabled in build 1000"
The functionality of all three tabs still works if you manually enter values for the input coordinates, however trying to do things interactively is not possible because the map point tool is disabled. The button is there and the visual appearance is that it is active, but it does not do anything when you click on it to try to create something interactively.

[2016-12-20 18:49] pHill5136 commented on #190
@mfunk @Thargoids merged this.

[2016-12-20 18:54] elinz commented on #185
@pHill5136 @mfunk Thanks. Looks good.

[2016-12-20 19:21] kgonzago commented on #180
@pHill5136 I believe you do. @jmccausland can provide more insight into this issue.

[2016-12-20 19:27] pHill5136 commented on #167
@nfeuerstein @kgonzago This tool works as designed. After filling all fields the user must hit the Enter key. Do we want to add a submit button or is this best tackled through documentation and adding submit as an enhancement in future version?

[2016-12-20 19:35] nfeuerstein commented on #167
@pHill5136 - addressed through documentation this release, if its not already.

[2016-12-20 19:39] Dbarnes1 commented on #167
@nfeuerstein this is part of documentation right now. Closing

[2016-12-20 19:39] #167 closed

[2016-12-20 19:44] pHill5136 commented on #191
I think this goes to the clicking enter to execute tool once all fields are populated. See issue: https://github.com/Esri/distance-direction-addin-dotnet/issues/167. Handled in documentation. Closing

[2016-12-20 19:44] #191 closed

[2016-12-20 19:50] pHill5136 commented on #194
@Dbarnes1 @nfeuerstein Noticed that repopulating both time and rate makes tool respond. Both fields must be refreshed in no particular order. can this issue be addressed through doc or should we pursue a fix?

[2016-12-20 19:50] jmccausland commented on #180
I would bind the views xaml element visible property to a property in the view model.  Then in each view model since you already have one for each product, set those visibility properties in the view models constructor.  I believe we are already doing this somewhere.

[2016-12-20 19:57] jmccausland commented on #180
ProLineViewModel.cs has an example

`public System.Windows.Visibility LineTypeComboVisibility
        {
            get { return System.Windows.Visibility.Visible; }
        }`

[2016-12-20 20:37] Dbarnes1 commented on #194
@pHill5136 I can get it to work now. A refresh fields button would be really useful for when users aren't properly refreshing both fields. Also, what if I try to create the same size circle multiple times from multiple starting locations. It seems like that bug still exists.

[2016-12-20 23:49] mfunk commented on #190
@Thargoids
Not sure if this was the expected fix or not. When I select *Radius* the output label is **Radius**. When I select *Diameter* it is still labeled as **Radius**, but the distance value is correctly halved, and drawn correctly.
My test:
1) Select **Radius** from dropdown
2) Type "0 0" in Center Point
3) Type 100 in Radius/Diameter
4) Select Kilometers in the dropdown and click Enter
Circl

[2016-12-20 23:58] elinz commented on #190
@mfunk @Thargoids Just installed the latest build (single addin). Followed steps above and things are working the way I would expect...
![image](https://cloud.githubusercontent.com/assets/4635490/21372603/285ed9fa-c6cd-11e6-8446-01b66b4eadc7.png)

[2016-12-21 00:00] dfoll commented on #176
While writing doc, I have been following the workflows in the software to make sure that nothing has changed since the original writing of the doc. I have followed @pHill5136 repro steps and saw the same results (using build 1000).

1. Select Semi for ellipse type
2. Set the center point as "0 0" (using default map coordinates)
3. Set 10 for the major axis
4. Set 3 for minor axis
5. select 0 degre

[2016-12-21 00:02] dfoll commented on #176
NOTE: the minor axis is behaving the same way, i just didn't include screenshots of that because i felt like just showing the major axis behavior illustrated the problem. If this is not clear or there are further questions, please contact me

[2016-12-21 01:17] Thargoids commented on #190
This makes me happy :)

[2016-12-21 14:01] Thargoids commented on #194
The problem appears to be: if values are present in Time and Rate fields before a point is added, the Radius / Diameter field does not update when the point is added. This then causes a problem in code because if the Distance variable (as obtained from Radius / Diameter) is zero, no graphic is drawn.

The problem does not occur on very first usage of the tool, so it seems like the solution could b

[2016-12-21 15:27] Thargoids commented on #194
Looking at this again, I think there is an inconsistency between the Radius / Diameter field being cleared after adding the graphic, whereas the Time / Rate fields remain populated. Surely all three of Radius / Diameter, Time and Rate fields should be cleared, or if Time and Rate are to remain populated then so should Radius / Diameter, because presence of values in Time and Rate provides us with

[2016-12-21 16:24] mfunk commented on #190
Got it...

![image](https://cloud.githubusercontent.com/assets/3093182/21396868/851fcf62-c756-11e6-975f-5498dd3b27f9.png)

[2016-12-21 16:24] #190 closed

[2016-12-21 17:47] Thargoids commented on #198
This issue also occurs with:

Circle tab:
Time field
Rate field

Ellipse tab:
Axis: Major

[2016-12-21 17:53] Thargoids opened #206 "Graphics are not cleared until map is refreshed (ArcMap)"
**Procedure**

1. Create point with Circle tab
2. Enter a value in Radius / Diameter
3. Press Enter
4. Click Clear Graphics

**Result**

Graphics are not cleared from map

**Result expected**

Graphics are cleared from map

[2016-12-21 18:01] rjones0 opened #207 "Preview circle is not updated properly after certain edits to fields (ArcMap)"
**Procedure**

1. With Circle tab create point on map using Map Point Tool
2. Click in Radius / Diameter field and enter a value
3. Select all in Radius / Diameter field
4. Press Delete or backspace

**Result:**

The Radius / Diameter text box is empty, but the preview circle remains visible

**Result expected:**

The preview should disappear because the text box is empty

**Additional:**

Same pr

[2016-12-21 18:16] rjones0 opened #208 "Preview circle updates after changing Time or Rate drop downs even when Time / Rate field is empty (ArcMap)"
**Procedure**

1. Use Map Point Tool from Circle tab to create a point on the map
2. Expand Distance Calculator if not expanded
3. Add values to Time and Rate sufficient to be able to see preview circle
4. Select value in Time field and delete
5. Change the Time drop down

**Result**

The preview circle updates

**Result expected**

The preview circle should not update on change of drop down becau

[2016-12-21 18:18] Thargoids commented on #194
@kgonzago informs me that following creation of the circle, the Time and Rate fields should be cleared along with the Distance field

[2016-12-21 18:28] rjones0 opened #209 "The threshold value for showing an error message against the Radius / Diameter field differs according to whether the value is entered manually or interactively via mouse (ArcMap)"
**Procedure:**

1. With Distance Calculator closed create point on map using Circle tab - Map Point Tool
2. Use mouse to interactively show preview - move the mouse to make the largest preview circle possible, then go beyond the point at which the preview circle disappears
3. Record the value shown in the Radius / Diameter field
4. Click in the Radius / Diameter field
5. Manually add the value rec

[2016-12-21 18:37] rjones0 opened #210 "Preview circle disappears beyond a certain size despite there apparently still being room for expansion (ArcMap)"
**Procedure**

1. Using Map Point Tool on Circle tab, create a point on map
2. Interactively expand this to make it as large as possible

**Result**

The preview circle never shrinks to a point, i.e. it is not possible to create a preview circle that encompasses the entire world

**Result expected**

It seems like it should be possible to continue expanding the circle until it encompasses the whol

[2016-12-21 18:41] rjones0 opened #211 "After creating a point with the Distance Calculator open, hiding the Distance Calculator makes it impossible to finish the circle (ArcMap)"
**Procedure**

1. On Circle tab and with Distance Calculator open, use Map Point Tool to create a point on the map
2. Hide the Distance Calculator

**Result**

The Center Point field is cleared and whatever actions are taken it is not possible to complete the circle that was started by adding the point, yet the point remains visible

**Result expected**

After the Distance Calculator is minimized,

[2016-12-21 18:51] rjones0 opened #213 "Better error message when Distance Calculator Time / Rate fields are empty (ArcMap)"
**Procedure**

1. In Circle tab and with Distance Calculator open, create a point on map using Map Point Tool
2. Delete value from Time field (issue also occurs with Rate field)

**Result**

Red exclamation shown around field, and hovering over field shows message 'Input string was not in a correct format'

**Result expected**

A more accurate error message e.g. 'Enter value' is preferable

[2016-12-21 18:54] rjones0 opened #214 "No error shown when massive values are entered in Time and Rate fields (ArcMap)"
**Procedure**

1. On Circle tab show Distance Calculator if not shown
2. Create point on map using Map Point Tool
3. Click in Time field (or Rate field)
4. Enter a 1 and hold down 0 to keep adding zeros

**Result**

No error message is shown

**Result expected**

Since an error message is shown when the field is empty, it seems reasonable to expect to be warned also when the input number is ridicu

[2016-12-21 23:04] elinz opened #216 "Line tool: starting/ending point parameters do not handle coordinates entered in Longitude Latitude order (ArcMap)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21409338/949a2888-c78e-11e6-8e40-9ea6a21028cc.png)

Tool does not accept coordinates to

[2016-12-21 23:05] elinz opened #217 "Line tool: starting/ending point parameters do not handle coordinates entered in Longitude Latitude order (ArcGIS Pro)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21409407/e911e72a-c78e-11e6-8028-f26dfe6a5958.png)

Tool does not accept coordinates to

[2016-12-21 23:18] elinz opened #218 "Circle tool: Center Point parameter does not handle coordinates entered in Longitude Latitude order (ArcMap)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21409723/a34a1846-c790-11e6-9d73-e2eb9f3294d4.png)

Tool does not accept coordinates to

[2016-12-21 23:19] elinz opened #219 "Circle tool: Center Point parameter does not handle coordinates entered in Longitude Latitude order (ArcGIS Pro)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21409756/d7bc6778-c790-11e6-8304-6965084e9eca.png)

Tool does not accept coordinates to

[2016-12-21 23:58] elinz opened #220 "Ellipse tool: Center Point parameter does not handle coordinates entered in Long Lat order (ArcMap)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410519/3970fdc6-c796-11e6-96db-53d4535bdbc3.png)

Tool does not accept coordinates to

[2016-12-22 00:00] elinz opened #221 "Ellipse tool: Center Point parameter does not handle coordinates entered in Longitude Latitude order (ArcGIS Pro)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410565/7117ca8e-c796-11e6-8ed0-24d8ea68b085.png)

Tool does not accept coordinates to

[2016-12-22 00:06] elinz opened #222 "Rings tool: Center Point parameter does not handle coordinates entered in Long Lat order (ArcMap)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410669/5d8f5404-c797-11e6-8bd9-f9d51cfa4f4c.png)

Tool does not accept coordinates to

[2016-12-22 00:08] elinz opened #223 "Rings tool: Center Point parameter does not handle coordinates entered in Longitude Latitude order (ArcGIS Pro)"
The Coordinate Conversion tool was modified to allow users to enter in coordinates in both Lat Long and Long Lat order. All other tools that allow user to type in coordinates should allow the same.

Tool accepts coordinates to be entered in Lat Long...
![image](https://cloud.githubusercontent.com/assets/4635490/21410693/9d6b9056-c797-11e6-9950-02b70b5d9512.png)

Tool does not accept coordinates to

[2016-12-22 16:42] pHill5136 commented on #180
@nfeuerstein @topowright @elinz @kgonzago @mfunk Fixed geodesic lines and radials in Pro. Should show up in next build...

[2016-12-22 17:04] ACueva commented on #180
Build is kicking off right now,  should see the changes in a few minutes.

[2016-12-22 17:14] pHill5136 commented on #223
@elinz @nfeuerstein @kgonzago To do this correctly we will have to define a new field for user to define the format for incoming points. This requires ui changes. Lots of coding. Is this something we want to document and add as enhancement to version after next (same goes for all the other dd tools)?

[2016-12-22 17:20] elinz commented on #223
@pHill5136 @nfeuerstein @kgonzago Maybe I'm missing something, but from my testing the tool already is handling how to interpret the input format.

[2016-12-22 17:22] nfeuerstein commented on #223
The Coordinate Conversion tool was modified to allow lat/long OR long/lat.  Is this the same modification, but in Distance and Direction?  Or something more complex?

[2016-12-22 17:33] pHill5136 commented on #223
@nfeuerstein @elinz  @kgonzago I think the best way to do this is have a combo box that allows the user to define the input format for cases where it is not obvious the format needed (i.e points like (10, 0, 20.0)). To do this will require quite a bit of coding including ui changes that we want to avoid as much as possible at this time.

[2016-12-22 17:55] mfunk commented on #180
Going to test now...

[2016-12-22 18:03] nfeuerstein commented on #194
@kgonzago @Thargoids can this be moved to verify?

[2016-12-22 18:31] mfunk commented on #180
So here is our Lines (Geodesic) and Range Ring (with Radials) in Pro with a Mercator projection (no, not Web Mercator). What I am expecting to see is Lines that bend (Geodesic) and Radials that are straight (they define a bearing and are therefore loxodromes). Loxodromes are straight in a Mercator projection.
![image](https://cloud.githubusercontent.com/assets/3093182/21435461/e48c0122-c82e-11e6-8

[2016-12-22 18:36] mfunk opened #226 "Geodesy lines (Lines and Radials) don't split for Geographic Coordinate Systems"
In fixing #180 there is a new challenge to working with geodesy lines in geographic coordinate systems in ArcGIS Pro. Basically lines that cross the dateline should "split" and move to the other side of the map. This works for Projected Coordinate Systems, but isn't working for Geographic Coordinate Systems (of the Map). This problem is illustrated in the notes from the previous issue that are cop

[2016-12-22 19:04] mfunk commented on #194
No. They rolled back the changes from the original. Looks like it's still in progress.

[2016-12-22 22:51] ACueva commented on #165
Guys, I'm a little confused.  Who's working on this issue?  I've reproduced this issue for @jmhauck and @pHill5136.  I was under the impression it's been fixed?

[2016-12-23 11:11] Thargoids commented on #165
I think what happened is that I was looking for bugs to work on and came to this one which was unassigned at the time. Please ignore me if I have added confusion :)

[2016-12-23 11:55] Thargoids commented on #194
A fix is ready but I made a mistake with the pull request, which necessitated the roll back. I will create another PR.

The change I have made sets Time and Rate to zero after each point is created. This resolves the issue whereby the fields had to be refreshed after creating a point, but note it means that if a user wants to create multiple circles with the same Time/Rate, they have to reenter th

[2016-12-23 17:45] kgonzago commented on #194
@Dbarnes1 Can you verify? Thanks.

[2016-12-23 18:03] kgonzago commented on #223
@pHill5136 Agreed. I suggest tackling any UI changes in our next release.

[2016-12-28 19:43] pHill5136 commented on #206
@nfeuerstein @Thargoids  Unable to reproduce. The  graphics are clearing for me.... Sending to verify. See if anyone else sees this issue...

[2016-12-28 19:53] pHill5136 commented on #197
This problem popped up with the fix to https://github.com/Esri/distance-direction-addin-dotnet/issues/189. When I removed the properties and sketch tool the map point tool no longer worked. Reverted back to original. May need to revisit issue 189.

[2016-12-29 19:03] pHill5136 commented on #176
fixed this pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/228

[2017-01-03 10:37] Thargoids commented on #197
I don't understand how this issue could have arisen as a result of #195 (i.e. the pull request intended to fix #189). #189 appears to relate strictly to Pro, whereas I opened this case strictly for an issue in ArcMap. Please clarify?

[2017-01-03 15:25] ACueva commented on #165
Tested against latest build.  Error no longer occurs.

[2017-01-03 15:25] #165 closed

[2017-01-03 16:03] pHill5136 commented on #197
@Thargoids Yep. Still issue in arcmap... Looked at it incorrectly and conflated with another unrelated issue.

[2017-01-03 17:19] Dbarnes1 commented on #194
@kgonzago verified that the distance calculator parameters reset to zero after each circle is created using the enter key:
![image](https://cloud.githubusercontent.com/assets/13024357/21616277/b4e9c376-d195-11e6-9de1-4a4fb9cb10d4.png)

[2017-01-03 17:19] #194 closed

[2017-01-04 16:18] pHill5136 commented on #197
@Thargoids @nfeuerstein Fixed this. Pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/230

[2017-01-04 17:41] Thargoids commented on #206
This could be down to my dev VM. My laptop profile is locked down else I would install ArcMap locally to test. Perhaps better to assign to someone else to test on a different environment to mine? Alternatively since it seems I'm the only one seeing this, perhaps we should go with the majority and close it as not reproducible?

[2017-01-04 18:32] mfunk commented on #206
Tried this on todays build of the Add-Ins on 10.3.1 and the graphics are cleared on all tabs immediately after graphic is drawn.
Closing as non-repro.

[2017-01-04 18:32] #206 closed

[2017-01-04 18:54] mfunk commented on #205
Tested in 10.3.1 & 10.5.1 daily (10.4.1 getting patched and rebooted at this time) and works OK on all 4 tabs.

[2017-01-04 18:54] #205 closed

[2017-01-04 20:31] elinz commented on #197
@pHill5136 @mfunk Check out the Pro Addin. It uses a cross hair icon.

[2017-01-04 21:00] mfunk commented on #197
No build going on yet. Starting one now.

[2017-01-04 21:29] mfunk commented on #197
Duh. Realized that this isn't merged yet.

[2017-01-04 22:24] dfoll commented on #176
verified, using the same values for full and semi, the one generated using full is approximately half the size of the one generated using semi. this is correct

[2017-01-04 22:24] #176 closed

[2017-01-05 17:09] mfunk commented on #197
PR merged, waiting to see if it gets into the newest builds.

[2017-01-05 17:10] mfunk commented on #184
PR merged, waiting to see if it gets into the newest builds.

[2017-01-05 17:40] mfunk commented on #192
Still an issue at Build 1057 (1/5/2017 @ 9:07 AM) on ArcGIS Pro 1.4.0.7197

[2017-01-05 17:48] mfunk commented on #21
Tried this on build 1057 and switching tabs with values still in parameter boxes will clear them out and loose data. However I feel this is a minor issue. At best the boxes would retain the values between tab switching, but then what happens if they want to change all of the values? Adding a "Clear Dialog" button would be too much. I'm in favor of keeping it as-is.

[2017-01-05 17:55] mfunk commented on #49
Testing this one on Build 1057 in ArcGIS Pro 1.4. So what happens now is the Escape key switches focus to Pro's **Explore** tool (pan/zoom). The effect is that the current draw operation is suspended. For example If I choose the *Lines* tab, select the Map Point tool to draw a line, click a starting point on the map, I can then select Esc, and the rubber-band feedback line just freezes in place an

[2017-01-05 18:06] Dbarnes1 opened #233 "Dark Theme in Pro makes settings invisible"
Like the other parts of the add-in, using the dark theme in pro messes with the visibility of settings. The example I have is the drop down in the edit settings dialog has no visible text until you scroll over it.

![image](https://cloud.githubusercontent.com/assets/13024357/21692490/fcd640a4-d331-11e6-95d9-54bb76da4557.png)

[2017-01-05 18:16] mfunk opened #234 "Pro tooltips for Distance and Direction are gone"
Found this one in today's Build 1057 from Jenkins. The Distance and Direction Add-In lost it's tool tips.
![image](https://cloud.githubusercontent.com/assets/3093182/21691978/a2bb5e08-d32f-11e6-8e59-75d268b225d1.png)

This was originally logged as #185.

1) install the add-in
2) Open Pro
3) Go to Add-In ribbon and hover over *Distance and Direction*

Per the previous issue this should read:

[2017-01-05 18:20] mfunk commented on #233
Thanks @Dbarnes1 , can you add a screenshot as an example of what it looks like? Thanks.

[2017-01-05 18:32] Dbarnes1 opened #235 "Warning ensuring starting point is created for lines with distance and bearing- Pro"
If a user is creating multiple lines from distance and bearing, and forgets to enter a starting point each time, they may get frustrated typing in distance and length values, selecting enter, and not understanding why nothing happens. There should be a warning sign popping up telling the user that they need to create a starting point.

To reproduce:
1. create several lines from distance and bearin

[2017-01-05 18:39] mfunk commented on #198
Ok so this brings up the idea that there are critical limits for different units for these parameters. We'll need to research what each one should be for each relevant parameter on each tool. Essentially what is happening is that the graphic is wrapping around the globe and over itself many times... and looks like crap. We'll need to trap those numbers and display some kind of message about self-o

[2017-01-05 18:40] Dbarnes1 commented on #233
And again with the save output button.

![image](https://cloud.githubusercontent.com/assets/13024357/21692778/46a1c9d2-d333-11e6-8de6-658555e8a490.png)

[2017-01-05 18:43] mfunk commented on #199
Similar if not same as #198

[2017-01-05 19:14] Dbarnes1 opened #236 "Creating circle from Radius or diamater and having circle cross date line creates red outlines along edge of map that shouldn't exist."
See screenshot:
![image](https://cloud.githubusercontent.com/assets/13024357/21693958/ce32000c-d337-11e6-8c69-add28dccf546.png)

When creating a circle from radius or diamater, these straight red lines appear. I shouldn't see these red lines around the border of the map

[2017-01-05 19:20] Dbarnes1 opened #237 "Create circle from diamater- Map Point Tool doesn't work properly"
I'm getting this issue where if I use the map point tool to create a circle from diameter, I can't get the map point tool to properly drag out the circle to the size I want.

What should happen: the map point cursor and the black preview circle follow each other interactively, the map point cursor should be on some point in the circumference of the circle.

What is happening: the black preview cir

[2017-01-05 20:30] Dbarnes1 opened #238 "Map point tool cursor shows up as soon as you open distance and direction for any shape, even though cursor should still be default "explore""
When opening the distance and direction tool for the first time, or switching between any of the different tabs for creating different features, you will see that the cursor for your mouse is using the map point tool icon when panning over the map. This is wrong because the mouse is still in explore mode until you actually click on the map point tool button and navigate over the map to create feat

[2017-01-05 20:43] Dbarnes1 opened #239 "Doc- add final two steps to "Create Range Rings using a set ring number and distance" topic"
Final two steps are:
click save as to export
clear graphics

These steps exist in all the other distance and direction topics, so I'll make sure to add these for consistency

[2017-01-05 21:49] #239 closed

[2017-01-05 22:46] joebayles opened #240 "Distance and Direction - Pane Title - ArcGIS Pro"
On the ribbon it has a lowercase "a", but in the pane it as an uppercase "A".

It should be Distance and Direction in both places, not Distance And Direction.

![image](https://cloud.githubusercontent.com/assets/5016557/21700530/c2202974-d355-11e6-84c1-38dbae79c3f0.png)

[2017-01-06 10:18] Thargoids commented on #237
It appears that when Diameter is selected in the drop down the value in the Radius / Diameter text box is half the value it should be, and this same halved value is apparently used to draw the circle.

[2017-01-06 16:07] pHill5136 commented on #234
@mfunk @nfeuerstein fixed pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/242.

[2017-01-06 17:08] mfunk commented on #184
@pHill5136
Not seeing the change in 10.4.1 from today's build 1067.

![image](https://cloud.githubusercontent.com/assets/3093182/21725976/80a0a0ec-d3ef-11e6-916d-85d7e6b3cf47.png)

[2017-01-06 17:12] mfunk commented on #197
Testing in 10.4.1 on Build 1067 and Map Point cursor changes to  **+** over the map for *Lines*, *Circle*, *Ellipse*, and *Rings*:

![image](https://cloud.githubusercontent.com/assets/3093182/21726080/018d5bf0-d3f0-11e6-99c8-e7eb94f8e9f1.png)

[2017-01-06 17:12] #197 closed

[2017-01-06 17:30] BobBooth commented on #184
@mfunk @pHill5136 @nfeuerstein @lfunkhouser - the tool tips for all three should have similar style & content. Right now Visibility's is the same, and Coordinate Conversion's tip is "Displays Coordinate Conversion" - maybe a little better, but not as descriptive as @elinz's suggestion.

[2017-01-06 18:05] mfunk opened #243 "Labels not drawn for manually typed input coordinates in ArcMap"
Drawing Lines by typing coordinates in for **Starting Point** and **Ending Point** produces a line without labels, whereas using the *Map Point* tool's line produces labels.

Steps:
1) Select *Lines* tab
2) Type '0.0 .0.0' for the **Starting Point** (without the single quotes)
3) Type '5.0 5.0' for the **Ending Point** (without the single quotes)
4) Select "Enter"
A line is drawn in Gulf of Guinea

[2017-01-06 18:51] joebayles opened #244 "Create lines - Documentation - ArcMap and ArcGIS Pro"
Currently, the two options for creating lines are "interactively" and "from distance and bearing". I would contend that both of them are interactive. I suggest changing them to be:

Create lines from a known point
Create lines from distance and bearing

I don't know that I like _from_ in relation to distance and bearing, but I can't really come up with a better word (with, using, etc.)

[2017-01-06 21:43] joebayles opened #245 "Creating a geodesic line from distance and bearing - ArcMap"
There are several times when I have to restart ArcMap because the Map Point tool doesn't work properly. I can click the button and my cursor turns into the crosshairs, but clicking around does nothing.

Daily Build Military Tools and ArcGIS Desktop 10.5

[2017-01-06 22:21] joebayles opened #246 "Creating a line from distance and bearing - angle warning - ArcMap"
When adding the angle, if the angle exceeds 360 degrees, it still renders a line. In it's defense, 2700 degrees really is 180 degrees, but I think it should at least show a warning.

[2017-01-06 22:37] joebayles opened #247 "Creating a Ring in Distance and Direction - ArcMap"
The instructions say:
7. Click the Map Point tool.
8. Click on the map to designate the center range ring.
9. Press the Enter key.

This workflow will not work. There needs to be an additional step between 8 and 9 to click back into the Distance and Direction pane to reactivate it (or change that issue in the add-in).

[2017-01-06 22:40] joebayles opened #248 "Creating a Ring zeroes out some values - ArcMap"
When creating a ring from a distance and number of rings, hitting enter to create the ring zeroes out Distance Between Rings and Number of Radials, but not Number of Rings.

[2017-01-06 22:46] joebayles opened #249 "Capitalization in the Add-In - ArcMap"
Distance Between Rings doesn't need capitalization for the word between.

[2017-01-09 17:16] pHill5136 commented on #237
@Dbarnes1 fixed pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/250

[2017-01-09 20:49] pHill5136 commented on #233
@Dbarnes1 fixed pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/251

[2017-01-09 21:10] lfunkhouser commented on #234
Assigning to @mfunk to verify

[2017-01-09 21:48] pHill5136 commented on #243
@mfunk fixed pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/252

[2017-01-09 21:50] pHill5136 commented on #247
@joebayles @nfeuerstein Is this just a documentation issue?

[2017-01-09 23:01] joebayles commented on #247
Ideally, no. While it seems inane, it's just a little kludgy to have to reactivate the pane.

So, for v.next? Yes, it's a doc issue. for v.after-next, I would say we should try to enhance the software.

[2017-01-10 00:21] Dbarnes1 commented on #237
confirmed fixed. closing.

[2017-01-10 00:21] #237 closed

[2017-01-10 16:11] Dbarnes1 commented on #247
I'm assigning it to myself- this is pretty much a doc issue, you don't have to reactivate the pane if you click on the map point tool, then enter the parameters. That workflow makes more sense anyway. I'm going to rewrite the steps and reassign it to @joebayles to verify.

[2017-01-10 16:15] Dbarnes1 commented on #247
Ok I switched the steps around so they work properly with the way the add-in is designed. @joebayles this will be ready to verify in the next build.

[2017-01-10 21:51] joebayles commented on #233
@pHill5136 looks pretty good! The only thing I see is Distance Calculator is still hard to read.
![image](https://cloud.githubusercontent.com/assets/5016557/21826199/6f2db9cc-d73b-11e6-83a0-887daff773bf.png)

[2017-01-10 21:52] #247 closed

[2017-01-10 21:58] Dbarnes1 commented on #233
adding on to @joebayles distance calculator comment, the rate and time labels are also hard to read when the distance calculator is expanded:

![image](https://cloud.githubusercontent.com/assets/13024357/21826579/e7ff05b2-d73c-11e6-9d4e-76366c82ab0f.png)

[2017-01-11 11:22] Thargoids commented on #248
@mfunk @pHill5136 I'm wondering if this is by design - please confirm.

[2017-01-11 11:49] rjones0 opened #253 "Range tool: Clicking Map Point tool twice disables Map Point tool (ArcMap)"
**Procedure**

In Rings tab click on Map Point tool
Hover mouse over map - cross hair cursor shown, indicating tool is active
Click on Map Point tool
Hover mouse over map - normal mouse cursor pointer shown

**Result**

Map Point tool is disabled

**Result expected**

The Map Point tool should remain enabled, whereas at the moment clicking on the tool multiple times causes toggling type behaviour.

[2017-01-11 13:28] rjones0 opened #254 "Rings: clicking Map Point tool changes icon to shaded blue version as shown only during mouse over for Lines, Circle, Ellipse tabs (ArcMap)"
**Procedure**

With Range tab displayed click on Map Point tool
Move mouse away from tool

**Result**

Map Point button changes to blue shaded version, as used to indicate mouse over on the other tabs

**Result expected**

Blue shaded version of button is only shown during mouse over

[2017-01-11 19:01] mfunk commented on #243
Looks good!

![image](https://cloud.githubusercontent.com/assets/3093182/21862242/396ee8c6-d7ed-11e6-8da4-4a87637b97cc.png)

[2017-01-11 19:01] #243 closed

[2017-01-11 19:03] mfunk commented on #184
Checked again and still seeing above screenshot in 10.4.1 as of today's build.

[2017-01-11 19:16] joebayles commented on #234
As of 11 January 0900 build, this is still an issue.
FYI @mfunk @pHill5136

[2017-01-11 19:18] joebayles commented on #233
As of the 11 January 0900 build:
- Distance Calculator is still dark gray.
- Time and Rate are still black.
 - Radial buttons are still empty.

FYI @Dbarnes1 @pHill5136

[2017-01-11 19:20] mfunk commented on #234
Getting a !@#$!@#$ certificate error opening Pro that is causing it to become unresponsive. Looks like I won't be able to check it out. 😠

[2017-01-11 19:27] mfunk commented on #234
Nvrmnd. Bad Project. But yes, @joebayles is correct I'm not seeing this fixed in Pro 1.4:

![image](https://cloud.githubusercontent.com/assets/3093182/21863068/c5977310-d7f0-11e6-9ec4-cf2fb3063a29.png)

I installed from the single add-in build 1091.
Sorry @pHill5136.

[2017-01-11 22:20] elinz opened #255 "Circle tool - created graphic is not labeled (ArcGIS Pro)"
build 11 Jan 2017 13:51 of ArcGIS Pro addin. Circles are not labeled.
![image](https://cloud.githubusercontent.com/assets/4635490/21868721/0ec70f74-d809-11e6-9a75-ad018b8dacc4.png)

[2017-01-11 22:25] elinz opened #256 "Distance and Direction: Line tool - created graphic is not labeled and has no arrowhead (ArcGIS Pro)"
build 11 Jan 2017 13:51 ArcGIS Pro addin

![image](https://cloud.githubusercontent.com/assets/4635490/21868882/b6979408-d809-11e6-839f-ca2c9dd17c30.png)

[2017-01-11 22:26] elinz opened #257 "Distance and Direction: Ellipse tool: Created graphic is not labeled (ArcGIS Pro)"
build 11 Jan 2017 13:51 ArcGIS Pro addin
![image](https://cloud.githubusercontent.com/assets/4635490/21868924/ef5845ee-d809-11e6-9a12-1f2f1c741b25.png)

[2017-01-11 22:28] elinz opened #258 "Distance and Direction: Rings tool - created graphic is not labeled (ArcGIS Pro)"
build 11 Jan 2017 13:51 ArcGIS Pro addin
![image](https://cloud.githubusercontent.com/assets/4635490/21868967/1f192dd4-d80a-11e6-91b4-7f60bda097e1.png)

[2017-01-11 22:31] elinz opened #259 "Distance and Direction: Rings tool - created graphic is not labeled (ArcMap)"
build 11 Jan 2017 13:51 addin (tested in ArcMap 10.3.1)
![image](https://cloud.githubusercontent.com/assets/4635490/21869048/8a0e458e-d80a-11e6-9207-474070036f99.png)

[2017-01-11 22:32] elinz commented on #257
Here's how it's labeled in ArcMap...
![image](https://cloud.githubusercontent.com/assets/4635490/21869117/d4bad7c8-d80a-11e6-966c-a0f059d68924.png)

[2017-01-11 22:34] elinz commented on #258
Can't include a screenshot of what it looks like in ArcMap as it's not labeling either #259

[2017-01-11 22:35] elinz commented on #255
Here's how it looks in ArcMap:
![image](https://cloud.githubusercontent.com/assets/4635490/21869176/28de1f5e-d80b-11e6-9730-76b905f9a4bc.png)

[2017-01-11 22:36] elinz commented on #256
Here's how it looks in ArcMap:
![image](https://cloud.githubusercontent.com/assets/4635490/21869219/6479791e-d80b-11e6-98dc-431a1d494b47.png)

[2017-01-11 22:54] nfeuerstein commented on #259
@elinz what is the expected label?

[2017-01-11 22:57] elinz opened #260 "Circle tool: Radius/Diameter values are being converted when unit is changed (ArcMap)"
build 11 Jan 2017 13:51 addin

- I enter a center point, a radius of 1000. Units were set to meters when tab was accessed...
![image](https://cloud.githubusercontent.com/assets/4635490/21869661/8d75b8bc-d80d-11e6-8914-97786704720e.png)

- I now change the Units from Meters to Kilometers...
![image](https://cloud.githubusercontent.com/assets/4635490/21869715/c2798bc4-d80d-11e6-9b7c-c7c03ccf7375.png

[2017-01-11 23:02] elinz commented on #259
@nfeuerstein oops. Sorry. Should have included it. I can't show you from the Pro addin as that's not working either, but here is what the labels looks like from the widget:
![image](https://cloud.githubusercontent.com/assets/4635490/21869954/ebf90780-d80e-11e6-867f-b70bceaaddb5.png)

[2017-01-11 23:03] elinz commented on #258
@nfeuerstein I can't show you what it looks like from the ArcMap addin as that's not working either, but here is what the labels looks like from the widget:
![image](https://cloud.githubusercontent.com/assets/4635490/21869954/ebf90780-d80e-11e6-867f-b70bceaaddb5.png)

[2017-01-11 23:06] chris-fox commented on #233
In regards to changing the text of the combo boxes to black, you can make a pretty small change to the combo box style to have them inherit the Pro combo box style so that they have a black background and white foreground.

You just need to change need to make the following change to the [MAResourceDictionary.xaml](https://github.com/Esri/distance-direction-addin-dotnet/blob/dev/source/DistanceAnd

[2017-01-12 00:50] Dbarnes1 commented on #255
I can duplicate these labeling issues.

[2017-01-12 13:48] rjones0 opened #261 "Circle tool: ArcMap hangs with 99% CPU core usage on trying to create circle with certain inputs (ArcMap)"
**Procedure**

(note that the order of steps below is important)

1. Click in Center Point text box and add following: 0 0
2. Change distance unit combobox to Kilometers
3. Enter following in Radius/Diameter: 100
4. Change distance unit combobox to Feet
5. Click in Radius/Diameter text box
6. Press Enter

**Result**

ArcMap hangs with a single CPU core maxed out at 100% usage

**Result expected**

[2017-01-12 14:37] rjones0 commented on #260
PR #262

[2017-01-12 14:52] rjones0 commented on #261
Similar issue with Rings - perhaps the Center Point being at 0 0 is the underlying problem:

**Procedure**

1. Add dataset with coord sys WGS 84
2. Enter following inputs in Rings tool:

Center Point: 0 0
Number of Rings: 10
Distance Between Rings: 1
Units combobox: Meters
Number of Radials: 0

**Result**

ArcMap hangs with single CPU core maxed out at 100%

[2017-01-12 14:56] rjones0 opened #263 "Rings tool: ArcMap hangs when creating rings with Center Point at/near 0 0 (ArcMap)"
**Procedure**

1. Add dataset with coord sys WGS 84
2. Enter following inputs in Rings tool:

Center Point: 0 0
Number of Rings: 10
Distance Between Rings: 1
Units combobox: Meters
Number of Radials: 0

**Result**

ArcMap hangs with single CPU core maxed out at 100%

Perhaps related to #261

[2017-01-12 16:09] Dbarnes1 commented on #261
I was able to replicate this hang

[2017-01-12 16:55] rjones0 commented on #259
PR #264

[2017-01-12 18:04] nfeuerstein commented on #263
0,0 should be a valid coordinate

[2017-01-12 18:30] joebayles commented on #233
As of the 0900 build today:
- Lines
  - [ ] Save As - Save Outputs Radial buttons are blank
- Circle
  - [ ] Distance Calculator drop-downs are blank (From and Radius/Diameter drop-downs work fine)
  - [ ] Time and Rate text is black
  - [ ] Save As - Save Outputs Radial buttons are blank
- Ellipse
  - [ ] Save As - Save Outputs Radial buttons are blank
- Rings
  - [ ] Save As - Save Outputs Radia

[2017-01-13 00:05] joebayles commented on #263
I just ran this on 10.5 and still had the issue.

[2017-01-13 00:14] joebayles commented on #261
Same, I did notice that it drew something, so probably hanging on the zoom.

[2017-01-13 00:19] joebayles commented on #259
I don't see a label, tested on 10.5 and the latest build.
![image](https://cloud.githubusercontent.com/assets/5016557/21913707/e799bbf6-d8e2-11e6-819b-a0e7d8ada847.png)

[2017-01-13 15:27] rjones0 commented on #259
Tested at 10.5 and looks ok to me - perhaps the build you have doesn't include the fix for some reason?

![image](https://cloud.githubusercontent.com/assets/24588999/21935281/d9838368-d9a4-11e6-82c7-9eb5314a6620.png)

[2017-01-13 15:54] rjones0 commented on #259
Ok I think I see now - no labels are created when in Interactive mode. I will investigate.

[2017-01-13 17:14] #234 closed

[2017-01-13 18:18] Dbarnes1 commented on #263
no longer crashing, rings are created:
![image](https://cloud.githubusercontent.com/assets/13024357/21940492/75ce8582-d979-11e6-92c5-a9c20c121865.png)

closing.

[2017-01-13 18:18] #263 closed

[2017-01-13 18:19] Dbarnes1 commented on #261
![image](https://cloud.githubusercontent.com/assets/13024357/21940542/ba4cea1e-d979-11e6-93b8-487c1d41e5cd.png)

verified. closing.

[2017-01-13 18:19] #261 closed

[2017-01-13 18:28] joebayles commented on #233
FYI @pHill5136 @nfeuerstein everything is fixed except for Distance Calculator drop-downs and the dark text, of which only the former is what I would call a showstopper.
![image](https://cloud.githubusercontent.com/assets/5016557/21940871/081a18e2-d97b-11e6-9721-7536f415acf1.png)

[2017-01-13 19:07] joebayles commented on #184
Verified.

[2017-01-13 19:07] #184 closed

[2017-01-13 19:08] nfeuerstein commented on #233
Changing priority of all "dark theme" issues to medium-priority.  If we can nail it - do it and do it right - we do it.  Otherwise, it can wait until next-release.  Not a show stopper.

[2017-01-13 19:12] joebayles commented on #260
Verified @elinz

[2017-01-13 19:28] joebayles commented on #259
Just tested in 10.5 Interactive and... not.

Interactive:
![image](https://cloud.githubusercontent.com/assets/5016557/21942799/4e476268-d983-11e6-82b4-cd91979cd8db.png)

Non:
![image](https://cloud.githubusercontent.com/assets/5016557/21942804/535d2378-d983-11e6-83e7-aa3590201fe5.png)

[2017-01-13 20:05] joebayles opened #270 "Different Distance Annotations for Range Rings"
So, created a range ring using metric and imperial measurements, and found this:
![image](https://cloud.githubusercontent.com/assets/5016557/21943265/4db3de42-d985-11e6-8d34-6030149ed6f2.png)

That's 1000 Mile_USs instead of 1000 Miles.

[2017-01-13 20:12] elinz commented on #260
@joebayles @pHill5136 @rjones0 Issue verified. Closing issue.

[2017-01-13 20:12] #260 closed

[2017-01-13 20:28] elinz commented on #259
@rjones0 @pHill5136 @joebayles @nfeuerstein Issue with labeling when user selects "Miles" as units.

The Rings tool is now labels miles as "Mile_USs":
![image](https://cloud.githubusercontent.com/assets/4635490/21944392/d7c7164e-d98a-11e6-94f9-3d8d0adce8c0.png)
(There is a formatting issue this should have been "Miles_US")

While specifying "US" to represent statue miles is correct. For all other

[2017-01-13 21:04] nfeuerstein commented on #270
Issue was also found by @elinz here: https://github.com/Esri/distance-direction-addin-dotnet/issues/259 (as a comment).  Closing as a dup.

[2017-01-13 21:04] #270 closed

[2017-01-13 21:06] nfeuerstein commented on #233
Moving all "dark theme" issue to version- after next.

[2017-01-14 01:10] elinz commented on #259
@nfeuerstein @rjones0 @pHill5136 Verified on build 13 Jan 2017 16:08. Rings are now being labeled and labeled with Miles instead of Miles_USs.

![image](https://cloud.githubusercontent.com/assets/4635490/21950767/0f0858ac-d9b3-11e6-805b-ebf0b4053e71.png)

Closing issue.

[2017-01-14 01:10] #259 closed

[2017-01-14 01:21] dfoll commented on #253
is this expected behavior? the way this is written, it sounds like the map point tool was enabled, then disabled

[2017-01-14 18:53] elinz commented on #253
@dfoll @rjones0 I tested the latest build 14 Jan 2017 09:12 and the Map Point tool on the Rings tools is working as I would expect. Meaning that the Map Point tool is only enabled or disabled when the user clicks on the tool. The Map Point tool should not remain enabled at all times.

[2017-01-14 22:09] NatalieCampos opened #273 "DD create double arrows when using the distance and bearing option"
In ArcMap, when using the distance and bearing option a double arrow is generated.  See below.  To reproduce:

1.  Select a location for starting point.
2.  Input a value for distance.
3.  Give a value for bearing.
4.   A double arrow will be generated.

![image](https://cloud.githubusercontent.com/assets/5116835/21958430/f654b61a-da62-11e6-899c-4deb43c11f2a.png)

[2017-01-14 22:13] NatalieCampos opened #274 "DD Clear graphics button does not clear graphics on screen (ArcMap)"
the clear graphics button does not automatically clear graphics on the line tab.  An additional click on the map display is required to clear the graphics. This issue was seen when using a layer on disk in the table of contents.  However, this issue is not present if there is a basemap in the display.

To reproduce:

1. Create an arrow of any kind in DD.
2.  Click the clear graphics button.
3.  No

[2017-01-14 23:39] dfoll commented on #258
We are able to create labels on the top of targets in ArcGIS Pro using the Visibility add-in. We should look at this as a possible way forward.

[2017-01-14 23:40] dfoll commented on #257
We are able to create labels on the top of targets in ArcGIS Pro using the Visibility add-in. We should look at this as a possible way forward.

[2017-01-14 23:40] dfoll commented on #256
We are able to create labels on the top of targets in ArcGIS Pro using the Visibility add-in. We should look at this as a possible way forward.

[2017-01-14 23:41] dfoll commented on #255
We are able to create labels on the top of targets in ArcGIS Pro using the Visibility add-in. We should look at this as a possible way forward.

[2017-01-14 23:43] dfoll commented on #254
as designed

[2017-01-14 23:43] #254 closed

[2017-01-14 23:44] #253 closed

[2017-01-14 23:47] dfoll commented on #248
This is as designed, but I think @kgonzago or @jmccausland can give more background on this issue.

[2017-01-14 23:51] dfoll commented on #245
@joebayles This is not happening in the current build.

[2017-01-14 23:57] dfoll commented on #246
This is something that should be added to the validation based on the selection of mils or degrees. Good Catch

[2017-01-15 00:03] dfoll commented on #238
This is not happening in the current build.

[2017-01-15 00:08] topowright commented on #236
![image](https://cloud.githubusercontent.com/assets/5488313/21959147/7f45cb8e-da73-11e6-9ad8-42de3c6d13df.png)
Arcgis Pro in a 2D Map does not support continuous features across the International date line this has to be supported by using a multi part feature. This can be seen by the one entry in the feature table.

[2017-01-15 00:35] dfoll commented on #202
If you move from the map to the D and D pane with the map point tool enabled the last coordinate will be what was collected from the map if the user does not update the coordinate.

[2017-01-15 17:22] lfunkhouser commented on #273
Assigning to @pHill5136 to look into this

[2017-01-15 21:57] pHill5136 commented on #273
@NatalieCampos Fixed and merged

[2017-01-16 14:57] rjones0 commented on #198
I examined using get_IsSimpleEx to determine when the polygon becomes self-intersecting (as an indicator that the polygon should not be displayed) but the operation is slow to execute when the intersections are many.

Ref:
http://desktop.arcgis.com/en/arcobjects/latest/net/ITopologicalOperator3_IsSimpleEx.htm

[2017-01-16 15:09] rjones0 commented on #248
@dfoll @joebayles are you able to advise on protocol with regards to closing issues - since we think this is as designed can I close the case or do we leave it to the originator (as in some other issue tracking I've come across)?

[2017-01-16 15:42] rjones0 opened #278 "Circle tab - unexpected behaviour of Delete key in Radius/Diameter text box if ending in all zeros"
**Procedure**

1. Add a point
2. Add a distance in Radius / Diameter (ADDED) - ending in zeros, ex: 100000 (meters)
3. Click in Radius / Diameter to position cursor before initial digit, ex before 1
4. Press Delete key

**Result**

The whole number in the text box is removed to a single 0

**Result expected**

Only the initial digit should be removed

**Environment**

ArcMap and Pro

[2017-01-16 16:00] rjones0 opened #279 "Circle/Ellipse tool: superfluous precision in certain fields when using Interactive mode (ArcMap)"
**Procedure**

1. Using Circle tab create a point using Map Point tool
2. Drag mouse to alter size of circle

**Result**

The number shown in Radius / Diameter contains 7 digits beyond the decimal point

**Result expected**

Sub-meter accuracy is probably superfluous. Round up to the nearest meter

[2017-01-16 16:17] joebayles commented on #248
@rjones0 I would just comment when you close it out, and say "this is intended functionality" or "this works as designed." I think it is helpful to mention _why_ it's intended functionality if possible, but if this is not what @nfeuerstein I'm sure she can weigh in and reopen an issue.

As designed.

[2017-01-16 16:17] #248 closed

[2017-01-16 17:14] joebayles commented on #245
Verified, closing.

[2017-01-16 17:14] #245 closed

[2017-01-16 17:16] rjones0 opened #280 "Circle tool tells the user inputs are not valid when using keyboard input, if the resulting circle will cross the International Date Line. (ArcMap)"
**Procedure:**

Using Circle tab:
1. Ensure From dropdown is set to Radius
2. Ensure units dropdown is set to Kilometers
3. Enter a Center Point of 0 90
4. Enter following in Radius / Diameter: 11000
5. Export the graphic to a feature class or shapefile

**Result:**

The graphic is created, but if that graphic is exported to a feature class or a shapefile it is an empty feature.

**Result expected

[2017-01-16 17:24] rjones0 commented on #198
It would seem to me that the limit for Radius should be the value at which the polygon will encompass the entire earth, i.e. just slightly over 20000km. However when investigating I discovered dateline issues as described in #280. I think that case should be resolved before this one, as improved handling of the dateline may well make the issue described in this case disappear.

[2017-01-16 17:25] rjones0 commented on #280
If we fix this issue we may well fix #198 at the same time, i.e. improved handling of the value in the Radius / Diameter text box should prevent us having to explicitly catch #198.

[2017-01-16 17:41] rjones0 commented on #280
@mfunk @jmccausland I would expect this issue to be handled by having a Radius limit of around 20000km, and by creating a separate polygon on the other side of the dateline in the case that the circle crosses the dateline. Please confirm.

[2017-01-16 23:48] joebayles opened #281 "Tab Plurality"
![image](https://cloud.githubusercontent.com/assets/5016557/22002571/ee27f100-dc01-11e6-8eb1-a16d4b9ee9f3.png)

Currently, the tabs display as:

- Lines - Plural
- Circle - Singular
- Ellipse - Singular
- Rings - Plural

Granted, Rings should be plural regardless, because in a single operation we are creating more than one, but not so for the others. So, I suggest we do one of the following:

- Li

[2017-01-17 01:38] dfoll opened #282 "Geodetic -vs- Geodesic lines"
Do our tools create "geodetic" or "geodesic" features? I personally am confused by this. I was under the impression that features that are created that honor the Earth's curvature are "geodetic" while something that relates directly to geodesy is "geodesic". To me, this means that we create "geodetic" lines, not "geodesic". However, our distance and direction add-in says it is creating "geodesic"

[2017-01-17 15:55] rjones0 commented on #249
Fix now merged.

[2017-01-17 15:55] #249 closed

[2017-01-17 17:43] Dbarnes1 commented on #238
verified fixed. closing

[2017-01-17 17:43] #238 closed

[2017-01-17 17:46] joebayles opened #284 "Unit Plurality for the Ellipse Tab"
In the Ellipse tab for both Pro and ArcMap, the units drop-down for Axis and Orientation are labeled differently:
![image](https://cloud.githubusercontent.com/assets/5016557/22032560/aff1aca8-dc99-11e6-8b2c-a3f0d4c9e59a.png)
![image](https://cloud.githubusercontent.com/assets/5016557/22032564/b1842474-dc99-11e6-9a3a-8ffb5bd22525.png)

Suggest changing the Orientation Unit to Units.

[2017-01-17 17:59] joebayles opened #285 "Geodesic vs. Geodetic... the showdown"
What's the difference? Semantics?

![image](https://cloud.githubusercontent.com/assets/5016557/22032693/59775f16-dc9a-11e6-8067-66cd4b5cde98.png)

_http://resources.arcgis.com/en/help/main/10.2/index.html#//01m70000003q000000_

FYI @dfoll @mfunk @topowright

[2017-01-17 18:06] dfoll commented on #285
as far as correctness, it is semantics, but we should pick a way and stick with it. we look silly using them interchangeably without any reason. my vote is for "geodetic" as that is the way that core software refers to the type of lines our software is creating.

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/bearing-distance-to-line.htm

google told me they are nearly interchang

[2017-01-17 18:08] dfoll commented on #282
as far as correctness, it is semantics, but we should pick a way and stick with it. we look silly using them interchangeably without any reason. my vote is for "geodetic" as that is the way that core software refers to the type of lines our software is creating.

https://pro.arcgis.com/en/pro-app/tool-reference/data-management/bearing-distance-to-line.htm

google told me they are nearly interchang

[2017-01-17 18:10] kgonzago commented on #282
to-may-to vs to-mah-to situation?

[2017-01-17 18:17] dfoll commented on #282
@pHill5136 this is the issue i was yacking about... i think the only note i don't already state in this issue is that we want to make these changes in all three ... pro, arcmap, and the widgets

[2017-01-17 18:18] dfoll commented on #282
also ... "geodetic" is what we decided we are going to use

[2017-01-17 18:19] dfoll commented on #282
@kgonzago since you're here... can we get this to happen in the widgets? me and @pHill5136 talked about this... we think it should only exist in distance and direction.

[2017-01-17 18:20] dfoll commented on #282
replicated by #285

[2017-01-17 18:20] joebayles commented on #285
So, @dhagens, can you change the option in the drop-down to Geodetic?

[2017-01-17 18:21] dfoll commented on #285
duplicated by #282, @pHill5136 is going to work on this

[2017-01-17 18:28] #285 closed

[2017-01-18 04:03] elinz opened #288 "Map Point tool issues (ArcGIS Pro)"
Tested build 17 Jan 2017 13:13.

### Current Behavior:
The Map Point tool can't be disabled on the following tools: Lines, Circles, and Ellipse. All these tools have the following behavior:
- Click on Map Point tool to enable. Result: The tool is made active and provides coordinates from map as you move cursor over map. Cursor is crosshairs with center dot. There is not change to the look of the b

[2017-01-18 17:46] NatalieCampos commented on #273
verified and closing

[2017-01-18 17:46] #273 closed

[2017-01-18 19:04] topowright opened #289 "Drawing line graphics across the International Date Line causes label issues (ArcMap)"
When creating graphics across the International Date Line the labels show up in the center location of the graphic, which is not correct for this use case: This is because the graphic spreads across the entire world.

![image](https://cloud.githubusercontent.com/assets/5488313/22078709/d425820a-dd6d-11e6-877b-1987e5c0004d.png)

[2017-01-18 22:56] topowright commented on #282
This has been verified.

[2017-01-18 22:56] #282 closed

[2017-01-19 00:22] elinz commented on #288
Verified using build 01-18-2018_1143:
- Map Point tool on Lines tab now working as expected.
- Map Point tool on Circles tab now working as expected.
- Map Point tool on Ellipse tab now working as expected.
- Map Point tool on Rings tab now working as expected.

Closing issue.

[2017-01-19 00:22] #288 closed

[2017-01-19 01:42] elinz opened #291 "Map Point tool issues (ArcMap)"
@nfeuerstein My apologies. I thought I had submitted this issue last night when I had submitted the same issue for the ArcGIS Pro addin.

Tested build 18 Jan 2017 12:25 (#1140).

### Current Behavior:
The Map Point tool can't be disabled on the following tools: Lines, Circles, and Ellipse. All these tools have the following behavior:
- Click on Map Point tool to enable. Result: The tool is made ac

[2017-01-19 07:41] elinz commented on #291
Verified fixed in build 18 Jan 2017 23:07 (build 1144). Closing issue.

[2017-01-19 07:41] #291 closed

[2017-01-19 15:21] elinz opened #292 "Distance and Bearing creating bad results (ArcMap)"
Tested with Build 19 Jan 2017 05:11

- Open ArcMap
- Add the topographic basemap
- Open Distance and Direction tool
- Line tab is enabled
- For "From:" parameter, select "Distance and Bearing".
- For "Starting Point" parameter, enter 45N 120W
- ISSUE #298 : as you are typing in coordinate, the tool is creating the "temp" line; . I believe at this point in user interaction, that only the green dot

[2017-01-19 17:58] rjones0 commented on #280
I have created a partial fix, but no pull request until we start work on the next version. The relevant code is here: https://github.com/rjones0/distance-direction-addin-dotnet/commit/64d3f51cd2ab5e3a555f27ac5021e141689e2018#diff-88394ed48d50d1b77ba5fffe994da80b

It may be worth someone reviewing to check my approach looks ok before I go any further.

[2017-01-19 18:34] pHill5136 commented on #292
@elinz fixed please test next build pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/293

[2017-01-19 22:47] elinz opened #295 "Line tool does not "clear" parameter input controls after line is created (ArcMap)"
Tested build 19 Jan 2017

In "Point" mode:
After creating a line, the input parameter such as starting/ending point distance are not cleared, forcing the user to manually clear these inputs.

For example,
Entered 45N 120E as Starting Point; entered 10S 100E as Ending Point. Click return so that line graphic is created...
![image](https://cloud.githubusercontent.com/assets/4635490/22128492/b71660d8

[2017-01-19 22:48] elinz commented on #295
@nfeuerstein Not critical. I would say move to version after next.

[2017-01-19 22:49] elinz commented on #295
Same issue applies when you use the Distance and Bearing option. the appropriate textboxes are not cleared after the graphic is created.

[2017-01-19 22:57] elinz opened #296 "Line tool does not zoom/pan to created line (ArcMap)"
Tested with build 19 Jan 2017 13:18 #1155
After the line is created, the map is not zoomed/panned to the newly created line. All other tools (Circle, Ellipse, and Rings) in ArcMap addin and all tools including the Line tool in ArcGIS pro adding zooms/pans to newly created graphic

[2017-01-19 23:28] pHill5136 commented on #296
fixed pull request https://github.com/Esri/distance-direction-addin-dotnet/pull/297

[2017-01-19 23:47] elinz opened #298 "Green "location" dots are left on the map when creating Lines (ArcMap)"
Tested with build 19 Jan 2017 13:18 Build Number 1155

For this test case I set the "From" parameter to "Distance and Bearing" (issue applies to "Points" option as well).

- As I'm typing in a coordinate the Line tool is interpreting and if it can evaluate to a valid coordinate it places a green dot on the map at that location. For example, I want to enter the coordinate 45N 120W as the Starting P

[2017-01-19 23:51] elinz commented on #292
Verified on build 19 Jan 2017 13:18 Build Number 1155. Closing issue.

[2017-01-19 23:51] #292 closed

[2017-01-20 00:11] lfunkhouser opened #299 "Distance and Direction - Save As not exporting relevant fields (ArcGIS Pro)"
_From @ACueva on January 17, 2017 23:47_

## Expected Behavior
I should see exactly what the addin displays:

![1-17-2017 3-46-46 pm](https://cloud.githubusercontent.com/assets/3093940/22044940/34239ebe-dccc-11e6-95a8-9a2328fc01db.png)

Starting Point
Ending Point
Distance/ Lenght
Angle

## Current Behavior
Save As- Export to Feature Class
![1-17-2017 3-38-26 pm](https://cloud.githubusercontent.co

[2017-01-20 00:19] lfunkhouser commented on #298
@Dbarnes1 @dfoll Please add to list of known issues in ArcMap for this release

[2017-01-20 00:19] elinz commented on #296
@nfeuerstein Just waiting for the fix to be merged.

[2017-01-20 00:19] lfunkhouser commented on #295
@dfoll @Dbarnes1 Please add to list of known issues for this release

[2017-01-20 00:21] elinz commented on #296
@kgonzago Can you review and merge #297 ? Thanks.

[2017-01-20 00:21] nfeuerstein commented on #296
@elinz done

[2017-01-20 00:22] elinz commented on #296
@nfeuerstein haha. I was wondering if I should click on the Merge button.

[2017-01-20 00:23] elinz commented on #296
@nfeuerstein I will start a new jenkins build.

[2017-01-20 00:28] Dbarnes1 commented on #295
@lfunkhouser issue has been added.

[2017-01-20 00:29] lfunkhouser commented on #284
Verified as fixed in build 1157. Closing.

[2017-01-20 00:29] #284 closed

[2017-01-20 00:29] Dbarnes1 commented on #298
@lfunkhouser issue has been added to doc.

[2017-01-20 00:30] lfunkhouser commented on #281
Verified as fixed in build 1157. Closing issue.

[2017-01-20 00:30] #281 closed

[2017-01-20 01:02] elinz commented on #296
@nfeuerstein Verified fixed on build 19 Jan 2017 16:49, build number 1158. Closing issue.

[2017-01-20 01:02] #296 closed

[2017-01-20 01:13] elinz commented on #295
@Dbarnes1 Can you please remove this from the know issue doc? when I was verifying #296 it turns out that this issue was fixed. But none of us were notified that it was being fixed or was fixed. I'll remove the known issue label.

Verified fixed on build 19 Jan 2017 16:49, build number 1158. Closing issue.

@lfunkhouser @dfoll FYI.

[2017-01-20 01:15] elinz commented on #295
On second thought I reopen. Once @Dbarnes1 removes this from know issue doc, then we can close this issue.

[2017-01-20 02:21] kgonzago commented on #298
I decided to tackle this issue since it was a simple fix (one liner  PR #300). Green/Start points are now cleaned up.

@Dbarnes1 Sorry this will affect doc.

[2017-01-20 03:00] elinz commented on #298
@kgonzago Thank you for fixing.

[2017-01-20 11:14] rjones0 commented on #201
@nfeuerstein I'm guessing priority might not be high any longer since the case is Version - After Next?

[2017-01-20 14:15] rjones0 commented on #279
Fixed in following commit: https://github.com/rjones0/distance-direction-addin-dotnet/commit/1ffd8e4237eb6ef5f8780a3d0cd93db3a23df943

Pull request awaiting end of pause for current release.

[2017-01-20 15:03] rjones0 commented on #279
Same for Ellipse tab: Major, Minor, Angle fields all have superfluous precision.

[2017-01-20 15:11] rjones0 opened #301 "After switching between tabs, two clicks are required to enable Map Point tool (ArcMap)"
**Procedure:**

1. On any tab click on Map Point tool
2. Switch to another tab
3. Switch back to initial tab (Map Point tool should be unshaded i.e. not shaded in blue at this point, as it should have been deactivated on switching to another tab)
4. Click on Map Point tool

**Result:**

Map Point tool icon changes to unshaded (not shaded blue to indicate activation), cursor does not change to cros

[2017-01-20 15:14] elinz commented on #301
@rjones0 I would not expect enabling the Map Point tool on one tab means that the Map Point tool should be enabled on all the other tabs.

[2017-01-20 15:15] rjones0 commented on #301
Sorry perhaps I wasn't clear - the issue is that after changing tabs, two clicks are required to enable the Map Point tool, whereas surely one click should enable the tool.

[2017-01-20 15:23] rjones0 commented on #301
@elinz ok slightly different than I first thought - I have updated the description.

[2017-01-20 15:24] Dbarnes1 commented on #295
@elinz I removed this from known issues. closing out.

[2017-01-20 15:24] #295 closed

[2017-01-20 15:27] csmoore commented on #298
Got autoclosed with PR - reopening for verify

[2017-01-20 15:30] Dbarnes1 commented on #298
I'll remove from known issues list once @elinz verifies.

[2017-01-20 15:32] elinz commented on #298
@kgonzago @csmoore @Dbarnes1 Starting a build right now.

[2017-01-20 16:19] elinz commented on #298
@Dbarnes1 @kgonzago @csmoore Verifed fixed in build 20 Jan 2017 07:39, build number 1163.

@Dbarnes1 Ready for you to update known issues doc and remove known issue label.

Closing issue.

[2017-01-20 16:19] #298 closed

[2017-01-20 16:21] elinz commented on #301
@rjones0 Oh ok. Thank for the update. I'll install latest build and check the behavior.

[2017-01-20 16:46] elinz commented on #301
@rjones0 I was able to replicate the issue in the latest build.

[2017-01-20 17:41] Dbarnes1 commented on #298
removed from known issues.

[2017-01-20 19:18] joebayles opened #302 "ArcMap Crash - Too many rings."
![image](https://cloud.githubusercontent.com/assets/5016557/22162100/124f48c8-df02-11e6-9f13-5b116cdd80ea.png)
Using ArcMap 10.5 and Military Tools for ArcGIS 1.0.0, I created a 20-ring range ring using a distance of 100,000 meters. It fails consistently.

[2017-01-20 19:28] ACueva commented on #302
I reproduced this issue as well.

[2017-01-20 19:31] joebayles commented on #302
It'll work at 15 100K-Meter range rings, but 17 is too many. Regardless of the fact that this may or may not be a useful workflow, we've established a limitation for the tool and should probably document it.

[2017-01-20 19:34] joebayles commented on #302
@ACueva - Maybe this is a use case?
![image](https://cloud.githubusercontent.com/assets/5016557/22162648/617c2f04-df04-11e6-9b0b-3d31f2f7a85d.png)

[2017-01-20 21:26] pHill5136 commented on #302
@nfeuerstein Code all completes this appears to be a bug in arcmap.

[2017-01-20 21:47] nfeuerstein commented on #302
@Dbarnes1 @dfoll @lfunkhouser we can't fix bugs in ArcMap, but we should document this limitation.

[2017-01-20 21:47] pHill5136 commented on #302
@nfeuerstein @lfunkhouser @kgonzago Kevin and I have been looking at this. This appears to be a bug in arcmap when adding lots of graphics to a map. I tested that it crashes if I copy and paste too many graphics at once.

[2017-01-23 11:06] rjones0 commented on #279
Additional fixes in following commit, with all superfluous precision now resolved (I think):

https://github.com/Esri/distance-direction-addin-dotnet/commit/575b520e810e54a550e64f50106b622ba503796f

[2017-01-24 19:05] rjones0 commented on #301
Despite my efforts I have not been able to resolve this issue. My approach is:

1. When Map Point tool is enabled, store the identity of the tab
2. When tab is changed, check whether the Map Point tool should be enabled for the tab (using identity of tab on which Map Point tool is enabled)

This should mean that every time the user clicks on the Map Point tool it is enabled for the currently displ

[2017-01-25 14:52] rjones0 commented on #278
I have spent some time investigating this looking for a quick fix but have not been able to find one and am wary of changing the coupling between DistanceString / Distance variables in CircleViewModel.cs and TabBaseViewModel.cs. The issue seems to be that changes to Radius / Diameter are translated into a double number and then back into a string, thereby changing e.g. 000 to 0 in the process.

[2017-01-25 15:30] rjones0 commented on #274
Strangely enough I used to see this issue, but now I cannot recreate it.

[2017-01-25 16:59] rjones0 commented on #246
I have a fix for this locally, will make a pull request when possible.

[2017-01-25 18:14] rjones0 commented on #222
I have a fix for this locally, will make pull request when possible.

[2017-01-25 18:14] rjones0 commented on #220
I have a fix for this locally, will make pull request when possible.

[2017-01-25 18:14] rjones0 commented on #218
I have a fix for this locally, will make pull request when possible.

[2017-01-25 18:26] rjones0 commented on #216
I have a fix for this locally, will make pull request when possible.

[2017-01-25 18:30] rjones0 commented on #223
I have a fix for this locally which just reverses coordinates order when trying to parse lat long coords. I will hang on to this in case we need it. Same fix should work for all issues involving lat/long coord order: #216, #217, #218, #219, #220, #221, #222.

[2017-01-25 18:31] rjones0 commented on #221
I have a fix for this locally, can make pull request when possible if necessary (see #223).

[2017-01-25 18:31] rjones0 commented on #219
I have a fix for this locally, can make pull request when possible if necessary (see #223).

[2017-01-25 18:31] rjones0 commented on #217
I have a fix for this locally, can make pull request when possible if necessary (see #223).

[2017-01-25 20:22] pHill5136 commented on #223
@rjones0 @kgonzago @nfeuerstein I think we should hold onto this for now. We will have to discuss exactly how we want to approach this for all the dd tools. For instance do we want long lat coords to be user defined i.e user tells us s/he is adding coordinates as long lat. Will have to turn off functionality when not using decimal coordinates also might consider turning off map point tool when ent

[2017-01-26 11:14] rjones0 opened #303 "Circle/Ellipse tool: Graphical glitch in preview after changing Center Point (ArcMap)"
**Procedure:**

1. Using Circle tab Enable Map Point tool
2. Move mouse over map but do not click
3. Click in Radius / Diameter fieldsteps
4. Add a value large enough to make preview visible
5. Click in Center Point field and change value

**Result:**

The preview circle is not completed properly

**Result expected:**

Preview circle should complete properly

**Additional**

Procedure for Ellipse

[2017-01-26 13:03] kgonzago commented on #223
@rjones0 @pHill5136 sorry for the late reply and am not ignoring the suggestion. We have a meeting to discuss the lat/long and long/lat issue. Decisions made from that meeting will dictate how this issue will be resolved.

[2017-01-26 17:29] rjones0 commented on #207
Fixed in local branch, will hold off making a pull request until appropriate.

[2017-01-26 18:13] rjones0 commented on #208
I think the issue here is that the text box that is bound to TravelTime uses ValidatesOnExceptions=True. This means that when the text box is completely cleared as in step 4. in the procedure, the set method for TravelTime is not called because ValidatesOnExceptions kicks in. This means that the code (in CircleViewModel.cs) to clear the preview is not called, and therefore when the time units drop

[2017-01-27 12:47] rjones0 commented on #246
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/305

[2017-01-27 13:11] rjones0 commented on #279
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/306

[2017-01-30 11:45] rjones0 commented on #49
I could not find references to capturing the Escape key in the code, and therefore assumed that the current behaviour is default, and that the hook to capture the Escape key press was required. I have implemented the hook in this commit:

https://github.com/rjones0/distance-direction-addin-dotnet/commit/5a4137038b254ca1f7bfd8ea05128201d13fceee

At the moment it just calls Reset(true) on the tool i

[2017-01-30 11:50] rjones0 commented on #49
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/308

[2017-02-02 13:18] rjones0 commented on #90
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/309

[2017-02-06 16:26] rjones0 commented on #49
PR with final part of required code i.e. take appropriate action when Escape key is pressed: https://github.com/Esri/distance-direction-addin-dotnet/pull/310

[2017-02-06 20:41] elinz opened #311 "Allow user to create unequally spaced rings through keyboard"
#### Background
We allow the user to interactively create unequally spaces rings interactively, we should allow the user to create unequally spaced rings through the keyboard/from known intervals.

#### Expected Results
For ArcGIS Pro  and ArcMap

User should have four options for creating rings using the add-in.
- "Interactive" (**already implemented**)
- "Fixed" (**already implemented**, a user

[2017-02-06 20:42] elinz opened #312 "Allow user to create unequally spaced rings through keyboard"
We allow the user to interactively create unequally spaces rings...
![image](https://cloud.githubusercontent.com/assets/4635490/22665345/4f18f1f4-ec69-11e6-8433-e44b7b717219.png)

It would be very useful to be able to create unequally spaces rings through the keyboard. For user input the user could enter a delimited list of distances, for example...
![image](https://cloud.githubusercontent.com/ass

[2017-02-09 17:23] rjones0 commented on #207
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/316

[2017-02-10 12:59] rjones0 commented on #207
@kgonzago I'd appreciate your input on something - the Time and Rate text boxes on the Circle tab suffer the same issue as the Distance text box (before my last PR), i.e. clearing them does not clear the graphic. However, I cannot use the same fix for Time and Rate as for Distance due to differing data types of the bound variables - Distance is bound to a string, whereas Time and Rate are bound to

[2017-02-10 16:26] rjones0 commented on #49
@dhagens as the originator of the case please review and close if fix is satisfactory.

[2017-02-10 16:30] rjones0 commented on #279
Fixed. Closing.

[2017-02-10 16:30] #279 closed

[2017-02-10 16:39] rjones0 commented on #199
Cannot recreate now, closing.

[2017-02-10 16:39] #199 closed

[2017-02-10 17:03] rjones0 commented on #202
@dfoll I've reopened this issue because I think it's my responsibility as the originator of the case to close it, I hope you don't mind :)

I understand why the issue happens, but I would be very surprised if it were confirmed that this behaviour is intentional or desirable. I think it would be a very strange way to use the tool to be deciding to set your Center Point based on the place where the

[2017-02-10 18:14] dhagens commented on #49
@rjones0, @kgonzago, @NatalieCampos, @topowright

A few issues that I have found when testing this fix:

- You may be aware of this but Jenkins is no longer building the tools.  Looks like they haven't been built since 1/20

- None of the tools appear to be working from the Military Tools toolbar.  I cloned the military-tools-desktop-addins repo and tested from there and none of the tools capture

[2017-02-10 18:43] rjones0 commented on #49
@dhagens ok thanks for testing. I thought that the V - Pro 1.4 label meant the fix was required in Pro only, but I guess the label just means the version in which the issue was detected. I will add the fix to ArcMap also.

Ellipse is working fine for me - enable tool, click once to create point, drag out to set major axis, click again to fix that value, drag to set minor axis, click to create feat

[2017-02-10 18:49] rjones0 commented on #49
The default value for Number of Rings appears to be 10.

[2017-02-10 19:04] dhagens commented on #49
@rjones0, I tested the Ellipse tool again and it does appear to be working correctly.  The Number of Rings should be set back to 0 when in Interactive mode.  The other issue I've found is that the tools are not all consistent.  On some the Escape key turns off the MapPoint tool, on others the tool remains active.  This should be consistent across all of the tools.

[2017-02-10 19:08] rjones0 commented on #49
Before a point has been created, pressing Escape should deactivate the tool. After a point has been created but the feature not completed, pressing Escape should clear the point and any preview graphic but leave the tool active. Is it not behaving like this?

[2017-02-10 19:14] rjones0 commented on #49
Ok so it's not working properly for Ellipse, but others look ok to me. Will fix Ellipse.

[2017-02-10 19:17] dhagens commented on #49
Correct, looks like Ellipse is the only one not working properly.  Also noticed that the MapPoint tool does not function properly when moving from tab to tab.  For example, if you have the MapPoint tool enabled in the Line tab and move to the Circle tab, when you go back to the Line tab the tool looks as if it is still enabled, but it actually isn't.  I'm not sure if this was broke before or somet

[2017-02-10 19:20] rjones0 commented on #49
@dhagens I logged #301 for some behaviour involving switching tabs that didn't look quite right. Will see whether my fix has influenced this at all. Thanks!

[2017-02-13 14:32] rjones0 commented on #202
Having difficulty finding a mechanism for catching the 'mouse out' event of the map in ArcMap. I think I need to catch that to be able to clear the text box when the mouse leaves the map.

[2017-02-13 16:56] kgonzago commented on #207
@rjones0  I believe another developer authored the rate and time logic and did not follow what was already outlined with distance. I'm perfectly fine with having rate and time handled the same way as distance.

[2017-02-13 17:40] kgonzago commented on #202
@rjones0 Could you use IDisplayTransformation::DeviceFrame based off of your activeView (map)? this will give you a client rect that can be used in the mouse_move event to determine if your mouse is off the map.

[2017-02-13 19:00] mfunk commented on #255
Duplicate of earlier issue: https://github.com/Esri/distance-direction-addin-dotnet/issues/192

[2017-02-14 14:57] rjones0 commented on #198
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/318

[2017-02-14 15:41] rjones0 commented on #49
@dhagens this should now be fully fixed. Please check and close if possible. The switching tabs issue #301 is still present.

[2017-02-14 15:43] rjones0 commented on #90
@mcalamito @pshowalter the basics of the functionality have been added. Please review and provide comments or close if appropriate. Note that saving from Pro is a little slow with this fix - this is due to a limitation in the API (the fields have to be added to the output Feature Class one by one).

[2017-02-14 21:41] elinz commented on #180
The dateline issue was fixed, but the original problem where radials are not being created as geodetic was not fixed. The dateline issue should have been created as a separate issue. Reopening issue.

[2017-02-15 16:16] rjones0 commented on #202
I have the majority of the code ready now. Some dll interop was required, hopefully this won't be a problem! I couldn't see how to do it without this.

[2017-02-15 18:48] rjones0 commented on #202
Almost fixed, pending final testing: https://github.com/rjones0/distance-direction-addin-dotnet/commit/1bbc2af9b18f993a2eb9fceefebc00b1a03a515c

[2017-02-16 10:49] rjones0 commented on #201
Fixed in PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/319

[2017-02-16 10:49] rjones0 commented on #202
Fixed in PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/319

[2017-02-16 11:30] rjones0 commented on #214
Also present on Rings tab:

1. Add point
2. Change units combobox to Miles
3. Click in Distance between Rings field
4. Add value 100000000000000
5. Press Enter

Result:

Massive graphic is created. Zooming in caused ArcMap to crash.

[2017-02-16 11:31] rjones0 commented on #198
Fix for:

Ellipse tab:
Axis: Major

still outstanding

[2017-02-16 17:23] rjones0 commented on #49
As described in #317, automated test cannot be written for this issue therefore manual testing will be required with each release.

[2017-02-16 17:43] rjones0 commented on #207
Expect this will require manual testing as explained in #316.

[2017-02-17 11:35] rjones0 commented on #198
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/322

[2017-02-17 15:53] rjones0 commented on #214
Resolved by PRs https://github.com/Esri/distance-direction-addin-dotnet/pull/318 and https://github.com/Esri/distance-direction-addin-dotnet/pull/322

[2017-02-17 16:32] rjones0 commented on #214
Circle issues resolved by PRs #318 and #322.

Rings issue resolved by https://github.com/Esri/distance-direction-addin-dotnet/pull/323

[2017-02-17 16:49] elinz opened #324 "Distance Calculation should ignore "From" parameter; current tool produces incorrect results (ArcGIS Pro)"
Tested 1.0 release of Military Tools for ArcGIS.

When users perform a distance calculation, the tool should ignore the "From" parameter. The current tool produces incorrect output if the "From" parameter is set to "Diameter". The tool should always create the graphic based radius no matter what the "From" parameter is set to.

For example, if the "From" is set to "Radius" then the tool produces c

[2017-02-17 16:58] elinz commented on #324
Note: ArcMap addin creates the correct graphic no matter if "From" is set to Radius or Diameter.

[2017-02-17 17:05] elinz opened #325 "Distance Calculation should label based on units specified in Distance Calculation parameters (ArcMap)"
Tested 1.0 release of Military Tools for ArcGIS

Perform distance calculation where center point is on New York City, time is 24 hours, rate is 60 miles per hour, which equals 1440 miles.

The tool labels the output graphic based on the Radius/Diameter units instead of the units set in the Rate parameter. For this example, I specified the rate as "Miles / Hour" so the labeled units should be Miles

[2017-02-20 09:53] rjones0 commented on #49
@dhagens I am going to go ahead and close this issue as I am confident it is resolved.

[2017-02-20 09:55] rjones0 commented on #90
@mcalamito @pshowalter I am going to close this issue as I am confident it is resolved. Please let me know if you disagree.

[2017-02-21 11:02] rjones0 commented on #325
@elinz @kgonzago On the second issue - the behaviour described (i.e. always label circle with Radius regardless of whether Radius or Diameter is specified in the From combobox) was previously raised as a bug and fixed as such: https://github.com/Esri/distance-direction-addin-dotnet/issues/190

[2017-02-21 11:20] rjones0 commented on #324
@elinz @kgonzago I cannot recreate this in my branch rjones0-207 - pretty sure I spotted it myself and that the fix is included in this PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/326

I've added a note in here to the indicate the fix, just in case it's of interest: https://github.com/Esri/distance-direction-addin-dotnet/pull/326/files

[2017-02-21 14:39] #207 closed

[2017-02-21 17:25] rjones0 commented on #325
When Distance Calculator is displayed the distance unit from the Rate combobox is used for the label. PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/327

[2017-02-21 22:03] mfunk opened #328 "Pro 1.4.1 Lines not accepting decimal in Radius/Diameter box"
Found some problems entering Radius/Diameter values in the Circle tab on DD in Pro 1.4.1.

1) Click **Map Point** tool by *Center Point*
2) Click a location on map (I used point off coast of Colombia in South America
3) Click in *Radius/Diameter* and type 1000.00
Note that the decimal does not show up and by the hundredths "0" actually shows an error in the box:

![image](https://cloud.githubuserc

[2017-02-21 23:16] mfunk opened #329 "Range Rings output first KMZ is 'bad', second is fine."
1) Create Range Rings:
   - Center point approximately at 10.2 11.4
   - 10 Rings, 200 KM between, 5 Radials
2) Rings draw just fine in Pro 1.4.1
![image](https://cloud.githubusercontent.com/assets/3093182/23189428/b83d4b00-f847-11e6-9803-439fd50e3287.png)

3) **Save As** >> **KMZ**
4) Open *.kmz in Google Earth (features are not drawing as expected)
![image](https://cloud.githubusercontent.com/as

[2017-02-22 21:33] joebayles opened #330 "Select [an] existing feature(s) as inputs"
As a user, I want to the ability to choose existing features as inputs for Line Start and End Points, and Circle, Ellipse, and Range Ring Center Points.

[2017-02-23 14:31] rjones0 commented on #201
As designed

[2017-02-23 14:31] rjones0 commented on #202
Behavior is as designed.

[2017-02-23 14:32] #202 closed

[2017-02-23 15:08] rjones0 commented on #200
Cannot be recreated at latest version.

[2017-02-23 15:08] #200 closed

[2017-02-23 15:11] rjones0 opened #331 "Deleting Center/Starting/Ending Point does not delete properly (ArcMap)"
Procedure:

Enter 1 1 in Circle tab - Center Point
Select text in Center Point text box
Press Delete

Result:

Text is replaced by 1.0 1.0

Result expected:

Box should be cleared

[2017-02-23 18:27] rjones0 commented on #331
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/332

[2017-02-23 21:27] elinz commented on #325
@rjones0 @kgonzago This fix is only part correct. The only thing that is correct now is that the circle created by performing distance calculation is labeled with the unit of length specified in the Rate parameter.

When users are performing a Distance Calculation, the code should not take into account the "From" parameter value, i.e. no matter what the "From" parameter is set to, the code should

[2017-02-23 21:54] elinz commented on #324
@rjones0 @kgonzago Tested on build 23 Feb 2017 09:05. Verified fixed. Closing issue.

[2017-02-23 21:54] #324 closed

[2017-02-23 22:00] elinz opened #333 "Circle tool: can no longer type in diameter distance if I've interactively added the center point (ArcGIS Pro)"
Tested on build 23 Feb 2017 09:05

- Set "From" parameter to "Diameter"
- Click on the Map Point tool to interactively set the center point based on a click on the map.
- Try to set the Radius/Diameter parameter by typing in the textbox; the textbox does not allow you to type in a value.

[2017-02-23 22:40] elinz commented on #331
@rjones0 @kgonzago I tested ArcMap adding build 23 Feb 2017 13:08 which I believe should have this change however I'm able to reproduce the issue. For me after I entered "1 1" into the Center Point textbox and then selected the text and pressed Delete the center point textbox was populated with "111325.1 111319.5"

[2017-02-23 22:52] elinz commented on #331
@rjones0 @kgonzago Same issue for Lines, Ellipse, and Rings. Also same issue in ArcGIS Pro; I'll open a separate issue for Pro.

What's happening is that when you click Delete, the addin is re-displaying the coordinate that the user entered converted into the selected "Display Coordinate" property set on the "Edit Properties" dialog.

[2017-02-23 22:56] elinz opened #334 "Deleting Center/Starting/Ending Point does not delete properly (ArcGIS Pro)"
Procedure:

Enter a coordinate, for example 1 1 in the Center Point, Starting Point, Ending Point parameter on the Line, Circle, Ellipse, and Rings tools.
Select the text in the Center Point, Starting Point, Ending Point textbox.
Press Delete key.

Result:
Instead of the textbox being cleared, the textbox is populated with the entered coordinate converted to the "Display Coordinate" set on the "Ed

[2017-02-23 22:56] elinz commented on #331
Pro issue is #334

[2017-02-25 00:26] pshowalter commented on #90
@rjones0
Would it make sense to copy an existing empty schema, and then populate with features, rather than building up the schema by adding fields one at atime?

[2017-03-01 17:19] topowright opened #337 "Change the name of the Add-in"
Please make a change to the add-in description and name

[2017-03-02 14:39] kgonzago commented on #337
@topowright What will the new name and description be?

[2017-03-02 16:17] rjones0 commented on #90
@pshowalter I think that is a superior approach, and I referred to similar/same in my PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/309

I think the obvious method is to include files with template schema i.e. Shapefile/FGDB containing FC with appropriate fields as embedded resources in the solution. I would have to check if this approach works with an AddIn. Happy to investigat

[2017-03-02 16:34] rjones0 commented on #325
@elinz I suspect the extra precision is a side effect of another fix of mine. I think the other issue - always use Radius for labelling if the Distance Calculator is displayed - is a pretty quick fix. I will look at both.

[2017-03-02 20:49] topowright commented on #337
@kgonzago This is not a real issue. This is an issue we will be creating for DevSummit. This is to share to the community how we work.

[2017-03-02 20:49] #337 closed

[2017-03-02 21:49] kgonzago commented on #90
@rjones0 an empty shapefile with a predefined schema and executing the FC to FC tool to create output FC. Seems like a good approach which might be more efficient than calling the add field tool numerous times over.

[2017-03-03 16:51] rjones0 commented on #325
PR: https://github.com/Esri/distance-direction-addin-dotnet/pull/338

[2017-03-03 19:52] #325 closed

[2017-03-08 21:27] topowright opened #339 "Can we change the description"
Would it be possible to change the description to a customer description?

[2017-03-09 19:54] topowright commented on #339
This was used for our Dev Summit session.

[2017-03-09 19:54] #339 closed

[2017-03-14 18:00] Dbarnes1 opened #342 "Labels are hard to read over imagery- add a text halo"
Testing Distance and Direction against an imagery basemap in 10.5.1 is making me realize how hard it is to read the labels over imagery. We should add a halo to our labels so they are easier to read.

This is what I'm talking about:
![rangeringslabelsimagery](https://cloud.githubusercontent.com/assets/13024357/23915064/3038948a-08a5-11e7-9e76-40faa2ae3cf3.PNG)

[2017-03-14 18:33] Dbarnes1 opened #343 "draw label along line for DD Add-In"
The distance and direction widget renders labels along the line (at the centerpoint of the line drawn). Lets do this for the add-in as well. I think that this makes more sense than what we are currently doing, which is placing the labels above the origin point of the line.

If we want to maintain labeling at the start of the line, I have this enhancement idea as well, although it would be much eas

[2017-03-14 20:28] Dbarnes1 opened #345 "Create circle from distance calculator: inconsistencies in unit labeling in output."
When creating circles using the distance calculator add-in, the circle units labeled will default to the rate unit (miles per hour, etc.). This seems good, but the Radius/Diameter drop down is still active. This is confusing, an easy solution would be to disable the Radius/Diameter unit drop down. In addition, it doesn't make sense to have the distance calculator operate from a specific diameter,

[2017-03-14 20:42] Dbarnes1 opened #346 "Create Circle from Diameter using Map Point Tool, circle preview and Map Point cursor don't match."
When using the map point tool to create a circle, and when creating a circle from diameter, the map point cursor is twice as large as the circle preview. Once the user clicks enter and the circle is created, the circle reflects the location of the map point cursor, not the circle preview. I think that the circle preview needs to be expanded to reflect the diameter, although this inconsistency coul

[2017-03-14 20:48] Dbarnes1 opened #347 "Create circle from Diameter- output label is labeling the radius distance."
When creating a circle from diameter in the add-in, the output length labeled is half of what it should be, so the output Diameter label is actually labeling the radius. I figured this out using the measure tool in ArcMap:
![diameterbroken](https://cloud.githubusercontent.com/assets/13024357/23921695/d33b9850-08bc-11e7-8c07-60bde3be9217.PNG)

[2017-03-14 21:28] pHill5136 commented on #180
Radials are created as Loxodromes so are straight in mercator projections. Should see distortion in non mercator projections....

[2017-03-14 21:35] Dbarnes1 opened #348 "Ellipse Tool- create Full Ellipse with map point tool outputs Semi labels"
When creating an ellipse and setting ellipse type to full, I'd expect that the ellipse would be outputting the full major and minor axis as labels. However, it is still outputting semi major and minor axis labels, which are half of the length of the full axes.

[2017-03-14 21:40] Dbarnes1 commented on #180
I guess the question is whether radials should be loxodromes or geodetic lines?

[2017-03-15 13:46] mfunk commented on #180
**NOT** Geodetic. They are intentionally created as Loxodromes which show lines of constant bearing. The whole idea of the radials is that they show a direction from the center to it's outside ring. Instead of defining what bearing to draw for each radial we simply take the number the user wants to draw, divide by 360 to find the interval, then start the first one at 0 degrees north, etc.

[2017-03-17 14:30] Dbarnes1 commented on #348
for reference:
![image](https://cloud.githubusercontent.com/assets/13024357/24047662/a3269f06-0ae3-11e7-9651-ed0966634600.png)

[2017-03-20 16:19] topowright opened #351 "Add information about graphics to exported features"
Currently the lines do not have length, start point and end point stored in the table information

![image](https://cloud.githubusercontent.com/assets/5488313/24109590/5b4092d8-0d4e-11e7-8ccc-bc6d5c2dd1a8.png)

[2017-03-20 16:20] #351 closed

[2017-03-20 18:42] topowright opened #352 "Can you provide a custom description for the add-in"
This custom description should have my name included.

[2017-03-21 18:10] #352 closed

[2017-03-21 18:15] topowright opened #353 "Change the Tool tip information"
Can we include my name in the description

[2017-03-22 15:28] pHill5136 commented on #347
fixed please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/354

[2017-03-22 15:29] pHill5136 commented on #347
@Dbarnes1 fixed please verify. pr: #354

[2017-03-22 15:54] pHill5136 commented on #348
@Dbarnes1 fixed please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/355

[2017-03-22 17:54] pHill5136 commented on #343
@Dbarnes1 fixed pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/356

[2017-03-22 21:30] Dbarnes1 commented on #347
@pHill5136 verified, closing.

[2017-03-22 21:37] #347 closed

[2017-03-22 22:06] pHill5136 commented on #333
@elinz please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/357

[2017-03-23 17:14] elinz commented on #333
@pHill5136 Issue still exists. When I select "Diameter" in the "From" parameter I can't specify the Radius/Diameter value using the keyboard.

[2017-03-23 17:18] elinz opened #358 "Circle Tool: can't specify a decimal point in Radius/Diameter parameter (ArcGIS Pro)"
I can specify a decimal point in the ArcMap addin.

[2017-03-24 07:09] topowright commented on #353
This was an issue used for a webinar

[2017-03-24 07:09] #353 closed

[2017-03-24 17:11] pHill5136 commented on #333
@elinz please verify

[2017-03-24 17:11] pHill5136 commented on #333
@elinz  pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/359

[2017-03-24 19:53] Dbarnes1 commented on #348
verified, closing.

[2017-03-24 19:53] #348 closed

[2017-03-24 21:07] Dbarnes1 opened #360 "Saving Distance and Direction Graphics as KMZ - Bad Outputs"
Trying to save out some Distance and Direction graphics as a KMZ from ArcGIS Pro 1.4, and I'm able to save the graphics, but they are not being added to the table of contents, nor are they visible once I do add them to the table of contents.

When I open these kmz files in ArcGIS Earth, this is what I found:

![image](https://cloud.githubusercontent.com/assets/13024357/24313541/722b8ef4-109a-11e7-

[2017-03-24 21:17] mfunk commented on #360
@Dbarnes1 I did not as I don't have much experience with KML/KMZ files.

[2017-03-27 23:05] Dbarnes1 commented on #343
@pHill5136 verified fixed, closing.

[2017-03-27 23:05] #343 closed

[2017-03-28 23:19] Dbarnes1 opened #362 "Documentation - improve instructions for adding the stand-alone add-in to ArcMap"
Currently, there is a gap in instructions between adding the add-in to ArcMap and instructions explaining functionality. We need to add these instructions to the documentation for distance and direction, as the add-in doesn't automatically get added to the toolbar.

These are the instructions for Coordinate Conversion. They are identical for what we need for Distance and Direction:

_Click Customi

[2017-03-28 23:22] Dbarnes1 commented on #362
related to https://github.com/Esri/visibility-addin-dotnet/issues/180 @dfoll fyi

[2017-04-27 23:01] Dbarnes1 commented on #214
verified, closing.

[2017-04-27 23:01] #214 closed

[2017-04-27 23:13] Dbarnes1 commented on #333
verified, closing.

[2017-04-28 13:02] lfunkhouser commented on #334
Assigning to @elinz who originally submitted the issue and the MT PEs to verify.

[2017-04-28 13:03] lfunkhouser commented on #246
Assigning to @joebayles  who originally submitted the issue and the MT PEs to verify.

[2017-04-28 22:51] topowright commented on #246
This is still an issue.
We should have the same interaction that happens in the Visibility Add in when an angle is put in that is higher than 360

![image](https://cloud.githubusercontent.com/assets/5488313/25549961/11287b0c-2c2a-11e7-9e26-2bbd22c37f6c.png)

This should be done when using degrees for one and for mils it would be 6400 mil. From my research that is that amount of mils in a circle. I

[2017-04-28 22:53] topowright commented on #334
This is still an issue.

you cannot delete a coordinate by highlighting the text.

[2017-04-28 23:04] topowright commented on #246
Saw that this covered ArcMap and I found the following error with the verification:

![image](https://cloud.githubusercontent.com/assets/5488313/25550219/3ddfd044-2c2c-11e7-9788-0d1d74f77ece.png)

ArcGIS Pro does not conduct any validation. I think this issue should cover ArcMap and ArcGIS Pro.

@pHill5136 FYI; thought you would care based on the pull request that you merged.

[2017-04-28 23:19] topowright commented on #192
@pHill5136 Based on the work that was done for the webinar is this something that we could fix?

[2017-04-30 23:11] topowright commented on #334
@pHill5136 just FYI

[2017-05-01 20:04] lfunkhouser commented on #240
Assigning to MT PEs to verify fix.

[2017-05-02 03:55] lfunkhouser commented on #246
Assigning Devs - @csmoore and @kgonzago and adding ```backlog``` label

[2017-05-02 03:56] lfunkhouser commented on #334
Assigning to Devs - and adding ```backlog``` label

[2017-05-02 17:35] NatalieCampos commented on #302
unable to verify this issue.  I added 50+ range rings to my ArcMap 10.5 session without a crash.

![image](https://cloud.githubusercontent.com/assets/5116835/25630709/e8d90580-2f22-11e7-99b2-3673905708f5.png)

@lfunkhouser shall I close the issue? Or do we add it to "known issues" documentation as a catch all just in case?

[2017-05-02 22:58] NatalieCampos commented on #302
I tested this on my laptop (same machine as earlier) @10.3 and had no crashes. I also tested this on a different (desktop) machine and was able to create 50+ rings with no crashes.  @topowright @ACueva.....I dont know where to go from here except to add the blurb about graphics being limited by the users graphics cards.   Any ideas?

[2017-05-02 22:59] NatalieCampos commented on #302
Adding @lfunkhouser

[2017-05-02 23:08] topowright commented on #240
This is still an issue:

[2017-05-02 23:10] topowright commented on #240
![image](https://cloud.githubusercontent.com/assets/5488313/25642924/b27be172-2f51-11e7-85f5-6821f9c79a1a.png)
I see that there was change in the code; however, the dock pane is still showing up wrong.

[2017-05-02 23:44] joebayles commented on #302
Well, I just re-ran it, same parameters (although not a fresh map). Didn't crash, but I got this:
![image](https://cloud.githubusercontent.com/assets/5016557/25643801/8a152284-2f56-11e7-882e-95e8869cd59b.png)

[2017-05-03 15:27] ACueva commented on #302
Thanks @joebayles.  Make sure you go downstairs and let help desk know your blender is having issues.  :)

[2017-05-03 15:38] csmoore opened #364 "Line Graphic/Feedback issues on Line(Tab) in From:Distance and Bearing Mode"
While testing #246 I noticed some other issues with the map feedback graphic:

Version: Lastest dev/daily
Tab: Line
Mode:  Distance and Bearing

Issue 1:
In many circumstances, the feedback graphic does seem to update, the only sequence that works reliably is:
1. Select the Map Tool to set the Starting Point
2. Then change the Distance/Length

Issue 2:
Changing the Starting Point does not update t

[2017-05-03 15:48] csmoore commented on #246
I wasn't exactly able to reproduce this issue, but I did notice some badness when distance=0 (as show in the screenshot), so added a check for that - can you retest in the next daily?  Reassigning for re-test.

I also noticed several other issues with the feedback graphic while testing this recorded in new issue #364

[2017-05-03 16:48] ACueva commented on #246
@csmoore I don't know, is this the output you were expecting?
![2017-05-03_9-47-23](https://cloud.githubusercontent.com/assets/3093940/25671641/9b228672-2fe5-11e7-9ae6-bf3f9ab8dcd0.png)

[2017-05-03 17:30] csmoore commented on #302
I can reproduce this issue(crash), though similar to #364, I'm having some issues knowing the correct input sequence to get the range rings to draw on the map.

But these circles do appear to be too densified (too many points) - it seems like perhaps a [radians/degrees issue](https://github.com/Esri/distance-direction-addin-dotnet/blob/dev/source/DistanceAndDirection/ArcMapAddinDistanceAndDirectio

[2017-05-03 20:18] NatalieCampos commented on #246
verified.  values between 340-360 work.  values greater than 360 do not.

[2017-05-03 20:51] topowright commented on #302
The performance that I see on build 05-03-2017_1426 is what I would expect when we create graphics. Great job @csmoore. I was able to create 180 circles quickly. Is there a reason why we choose 180 rings as the most a user can create?

[2017-05-03 20:55] ACueva commented on #302
As @mfunk would say "Works on my machine".

[2017-05-03 20:58] topowright commented on #302
This has been verified.

[2017-05-03 20:58] #302 closed

[2017-05-04 17:37] NatalieCampos commented on #246
This issue still isnt fixed.  The graphic still draws past 360.  It actually draws the last valid angle that was dynamically drawn.

![image](https://cloud.githubusercontent.com/assets/5116835/25716903/a7d3be56-30b5-11e7-9d7f-f04724ecf70e.png)

[2017-05-06 02:18] lfunkhouser commented on #198
Reopened issue for MT PEs to verify

[2017-05-06 02:22] lfunkhouser commented on #201
Reopening for MT PEs to verify

[2017-05-08 17:20] NatalieCampos opened #366 "Error with features when saving to KML"
The following feaures were saved as KML.
![image](https://cloud.githubusercontent.com/assets/5116835/25816159/0a73335a-33d8-11e7-97ff-ce6579914c1f.png)
This is how they look in ArcGIS Earth
![image](https://cloud.githubusercontent.com/assets/5116835/25816183/25494d7c-33d8-11e7-9e6f-1d131101f51d.png)
Unsure what could be causing the issue.

[2017-05-08 17:35] csmoore commented on #246
I have a change for this that resets the the feedback angle to zero (its initial state) - hopefully this will work to clear up the confusion above:

![image](https://cloud.githubusercontent.com/assets/3090809/25814038/e338f3e4-33e9-11e7-9654-11323d40205c.png)

[2017-05-08 19:17] NatalieCampos opened #368 "Error when saving different line types"
I get the following error message after  saving/exporting graphics to features classes multiple .  To reproduce
1. save first graphics as any line type:
2.  clear graphics
3. save graphics as a DIFFERENT line type:

![image](https://cloud.githubusercontent.com/assets/5116835/25820976/17e6a67e-33e8-11e7-866b-7d9ed7c2212a.png)

[2017-05-08 19:21] NatalieCampos commented on #368
@lfunkhouser @nfeuerstein

[2017-05-08 19:21] NatalieCampos commented on #366
@lfunkhouser @nfeuerstein

[2017-05-08 19:35] NatalieCampos opened #369 "missing features when exporting to kml"
some graphics are missing after saving as KML.  Steps to reproduce:
1.  create multiple line graphics
2. save as kml
3.  The KML is automatically added to Pro.
4. Noticed that not all created graphics were saved.  See pic below.

![image](https://cloud.githubusercontent.com/assets/5116835/25821584/94160990-33ea-11e7-98e3-6e9ff2aacbb1.png)

[2017-05-08 19:35] NatalieCampos commented on #369
@nfeuerstein @lfunkhouser

[2017-05-08 23:25] NatalieCampos commented on #90
This enhancement recommended the following fields be added when graphics are saved.

Lines: Start_Pt, End Pt, Dist_x, Angle_x - where x is the unit the user chose from the unit dropdown.
Circle: Center_Pt, Radius_x OR Diameter_x - depending on if the user chose Radius or Diameter
Ellipse: Center_Pt, Minor_x, Major_x, Orient_x - where x is the unit the user chose from the unit dropdown.
Rings: Cent

[2017-05-09 16:44] csmoore commented on #246
This is ready for re-retest in the next build (with/note the behavior mentioned in the last comment)

[2017-05-09 17:26] pHill5136 commented on #358
![decimalinput](https://cloud.githubusercontent.com/assets/4691261/25863761/e4ac6a18-34a1-11e7-8a85-43e9e2646d5c.png)

[2017-05-09 17:27] pHill5136 commented on #358
@elinz sending this one back to verify.

[2017-05-09 21:50] pHill5136 commented on #366
I am unable to consistently reproduce this issue. Most tests my kmls export without error. I have seen occasions where the kml appears to be corrupted. It seems to be occurring inside the gptool...

[2017-05-10 16:05] pHill5136 commented on #328
verify pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/370

[2017-05-10 17:03] lfunkhouser commented on #299
@ACueva Is this happening in ArcMap also?

[2017-05-10 17:11] ACueva commented on #299
@lfunkhouser Just tested in ArcMap.  Yes, same behavior.  I'll log an issue.

[2017-05-10 17:30] ACueva commented on #299
Update: Tested Feature Class does work.  Shapefile does not export attributes.  KMZ is doing it's own thing.
![2017-05-10_10-29-47](https://cloud.githubusercontent.com/assets/3093940/25912296/9c47bd34-356b-11e7-91a4-3c2eed15ceb5.png)

[2017-05-10 18:13] ACueva opened #371 "Distance and Direction - Save As not exporting relevant fields (ArcMap)"
Same issue in Pro: https://github.com/Esri/distance-direction-addin-dotnet/issues/299

Save As is not exporting all the appropriate attributes.

![1-17-2017 3-46-46 pm](https://cloud.githubusercontent.com/assets/3093940/22044940/34239ebe-dccc-11e6-95a8-9a2328fc01db.png)

## Current Behavior
Save As- Export to Feature Class - Only has length.
![1-17-2017 3-38-26 pm](https://cloud.githubusercontent.

[2017-05-10 20:04] NatalieCampos commented on #246
i got this one.

[2017-05-10 20:16] NatalieCampos commented on #246
Verified.  Any angle over 360 throws an invalid input

![image](https://cloud.githubusercontent.com/assets/5116835/25919213/e50fc220-3582-11e7-90ad-983d5e6f5f63.png)

[2017-05-10 20:16] #246 closed

[2017-05-10 20:27] lfunkhouser commented on #90
Assigning back to developers to add the fields @NatalieCampos pointed out that are still missing.

[2017-05-10 20:33] NatalieCampos commented on #198
The errors that created this issue have been resolved.  When adding a large value to either the radius or diameter of circles or the Major axis of Ellipse an invalid input error is thrown.

![image](https://cloud.githubusercontent.com/assets/5116835/25919972/2e587948-3585-11e7-839a-34812135a3b0.png)

[2017-05-10 20:33] #198 closed

[2017-05-10 20:34] dfoll commented on #328
looks to me like it works on 1.4
![image](https://cloud.githubusercontent.com/assets/5322669/25920015/5125d63c-3585-11e7-8b19-99d090e122b1.png)
[press enter]
![image](https://cloud.githubusercontent.com/assets/5322669/25920026/5f502a78-3585-11e7-811a-89537ed70624.png)

[2017-05-10 20:39] dfoll commented on #328
seems ok for 1.4.1 as well, tested using build 1453

[2017-05-10 20:39] #333 closed

[2017-05-10 20:40] #328 closed

[2017-05-10 20:52] topowright commented on #301
@dfoll , @ACueva , @NatalieCampos I am not sure what we want to do with this issue.

Based on the last comment that was made by rob jones he could not figure out how to change the behavior. The expected outcome was to have the map point tool deactivate each time the user left the tab; however, he could not figure out how to implement this fix.

The current behavior makes the user click on the tool

[2017-05-10 20:54] topowright commented on #49
I have verified that the escape key now is honored in stopping the graphic.

[2017-05-10 20:54] #49 closed

[2017-05-10 21:41] NatalieCampos commented on #201
Following the steps outlined below no longer cause the ellipse/circle/ring to be drawn at the last mouse location.

Procedure:

1. In ArcMap add a world background data source
2. Display Ellipse tab on Distance and Direction addin UI panel
3. Click Map Point tool
4. Move mouse over map but do not click on map
5. Enter values in Major, Minor, Angle text boxes
6. Press Enter

[2017-05-10 21:41] #201 closed

[2017-05-10 21:48] NatalieCampos opened #372 "entering numberic values into the major axis causes crash"
Procedure:

1. In ArcMap add a world background data source
2. Display Ellipse tab on Distance and Direction addin UI panel
3. Click Map Point tool
4. Move mouse over map but do not click on map
5. Enter values in Major, Minor, Angle text boxes

You can enter in major axis values with no crash if the map point tool is not selected.

[2017-05-10 22:28] dfoll commented on #244
@nfeuerstein i don't think the value is there right now in making this change.

[2017-05-10 22:39] dfoll commented on #358
this sounds the same as #328  which i verified was fixed this morning. also looked at it again when i came across this issue and from the small amount of detail in the original issue write up, this looks to be fixed

[2017-05-12 16:08] pHill5136 commented on #346
pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/375

[2017-05-12 17:14] pHill5136 commented on #180
lines should be straight in mercator projections. They are loxodromes (constant bearing).

[2017-05-12 17:26] ACueva commented on #331
I got this one.

[2017-05-12 17:37] dfoll commented on #246
This looks like it is fixed. If you start entering a value, say .... 4 then 0 it will draw a preview at 40 degrees. if you continue on to enter 5 (thus trying to create an angle of 405) you get the red X warning and it won't draw when you press enter. Closing this issue, however i am opening a new one, as it seems like mils is not working correctly, from my understanding 405 would be a valid angle

[2017-05-12 17:51] #358 closed

[2017-05-12 17:52] ACueva commented on #331
Functionality appears to be working properly now.  I am able to delete the Center Point input without any issues.

[2017-05-12 17:52] #331 closed

[2017-05-12 17:55] ACueva commented on #346
I got this one.

[2017-05-12 18:09] dfoll opened #376 "Using Distance and Bearing method of creating a line Mils will not accept values over 360 - ArcMap"
When creating a line from distance and bearing and using mils, you should be able to enter a value up to 6400. Currently it only accepts values 0-360.
![image](https://cloud.githubusercontent.com/assets/5322669/26010713/e36a61d8-3702-11e7-817a-097ebafc131a.png)

[2017-05-12 18:10] dfoll commented on #376
@pHill5136  i found this specifically on 10.5, let me know if you need me to start reaching back and seeing if it happens elsewhere (i'm assuming it does). Also, i felt like the undesirable behavior, and how to reproduce is pretty straight forward, let me know if you want more description or specific repro steps

[2017-05-12 18:13] dfoll opened #377 "Using Distance and Bearing method of creating a line with Mils will not accept values over 360 - ArcGIS Pro"
When creating a line from distance and bearing and using mils, you should be able to enter a value up to 6400. Currently it only accepts values 0-360.
![image](https://cloud.githubusercontent.com/assets/5322669/26010990/05985de0-3704-11e7-97aa-54c10bc1b45a.png)

[2017-05-12 18:15] dfoll commented on #377
@pHill5136  i found this specifically on 1.4.1, let me know if you need me to start reaching back and seeing if it happens elsewhere (i'm assuming it does). Also, i felt like the undesirable behavior, and how to reproduce is pretty straight forward, let me know if you want more description or specific repro steps

[2017-05-12 21:43] ACueva commented on #346
@pHill5136 Fix hasn't been applied yet, looks like you have a conflict to resolve before being able to merge.

[2017-05-15 15:30] pHill5136 commented on #90
pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/378
please verify

[2017-05-15 15:38] pHill5136 commented on #274
Looks like this is fixed now. Not seeing this behavior.

[2017-05-15 15:45] pHill5136 commented on #368
Unable to reproduce this behavior. please verify

[2017-05-15 16:29] pHill5136 commented on #376
fixed pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/379
please verify

[2017-05-15 16:45] pHill5136 commented on #377
please verify pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/380

[2017-05-15 16:59] pHill5136 commented on #372
Unable to reproduce. Able to specify maj axis without crash

[2017-05-15 18:57] pHill5136 commented on #303
please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/381

[2017-05-15 20:28] lfunkhouser commented on #368
@NatalieCampos I cannot follow your steps to reproduce. What do you mean by"feature classes multiple"? Once I complete step 2 listed above, Clear Graphics, there are no graphics in the map to save and the ```Save As``` button is grayed out. I cannot reproduce the issue as logged. I followed these steps with no issue:

1. Chose a line type, such as Geodetic.
2. Click the Map Point Tool, click on th

[2017-05-15 20:44] NatalieCampos commented on #368
@lfunkhouser @pHill5136 I will try to reproduce this in the next day.  I will say that this one was really hard to narrow down. I will get with  @pHill5136 and see if we can reproduce it together

[2017-05-15 20:49] NatalieCampos commented on #368
Ok I am able to create the following crash using these methods

1.  Draw Lines
2. Save as KMZ
3. Clear Graphics
4. Change line type
5. Draw lines
6. Save as Feature Class
I think it has to do with either the saving of different formats or the line type.

![image](https://cloud.githubusercontent.com/assets/5116835/26078694/2f8ea92e-3975-11e7-962c-5d343f742ef1.png)

[2017-05-15 22:15] pHill5136 commented on #240
looks like this has been fixed. Please verify

[2017-05-16 15:28] pHill5136 commented on #213
Error reads 'enter value' when the time or rate are empty. Still reads 'invalid input' when invalid values are added. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/382

[2017-05-16 16:18] lfunkhouser commented on #368
@NatalieCampos Following your steps to reproduce, I was able to reproduce the error. Assigning back to @pHill5136

[2017-05-16 16:50] pHill5136 commented on #208
please verify pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/384

[2017-05-16 17:15] NatalieCampos commented on #90
I got this one.

[2017-05-16 17:34] pHill5136 commented on #301
I too have looked into this and cannot find a solution. I have codded it so that the map point tool is not deactivated when tabs are changed. This works for changing between tabs unless the tool is deactivated in one tab. then moving to the next tab the tool appears to be active but does not activate until 2 clicks.

[2017-05-16 17:39] dfoll commented on #90
with build 1474 these fields are being added to feature class and shapefile. Still at 1474, some of the kmz are seemingly randomly getting corrupted, however the ones that did work did not have the fields added

[2017-05-16 17:41] dfoll commented on #371
with build 1474 these fields are being added to feature class and shapefile. Still at 1474, some of the kmz are seemingly randomly getting corrupted, however the ones that did work did not have the fields added

[2017-05-16 17:48] dfoll commented on #299
with build 1474 these fields are being added to feature class and shapefile. Still at 1474, some of the kmz are seemingly randomly getting corrupted, however the ones that did work did not have the fields added

[2017-05-16 18:25] dfoll opened #385 "ArcGIS Pro gives an error if the user does not explicitly name a feature class on "Save As""
ArcGIS Pro gives an error if the user does not explicitly name a feature class on "Save As"

Using the Save As button if the user tries to create a feature class and just point at the target .gdb expecting Pro to create a name for them, they get this error message.
![image](https://cloud.githubusercontent.com/assets/5322669/26121704/006cdb06-3a2a-11e7-8bf2-40450571ed62.png)

Sometimes if a .gdb of

[2017-05-16 18:27] dfoll commented on #385
@nfeuerstein @lfunkhouser milestone? i'm thinking "after next" unless we clear all our existing bugs before the 24th, as this is not a show stopper, just ugly

[2017-05-16 18:29] dfoll commented on #274
i've working heavily with distance and direction this morning, using build 1474, have not seen this. closing.

[2017-05-16 18:29] #274 closed

[2017-05-16 18:46] dfoll commented on #240
still seeing this in 1474
![image](https://cloud.githubusercontent.com/assets/5322669/26122715/433c72cc-3a2d-11e7-8420-504037f52ac8.png)
the ArcMap add-in uses a small "a" for "and" suggest we go with that

[2017-05-16 20:14] NatalieCampos commented on #334
This has been fixed and verifed in the line, circle, ellipse, and rings tab.

[2017-05-16 20:14] #334 closed

[2017-05-16 20:17] NatalieCampos commented on #372
unable to reproduce on build 1475. Closing issue.

[2017-05-16 20:17] #372 closed

[2017-05-16 20:28] NatalieCampos commented on #303
Verified on build 1475.

[2017-05-16 20:28] #303 closed

[2017-05-16 20:48] NatalieCampos commented on #208
verified on build 1475. closing

[2017-05-16 20:48] #208 closed

[2017-05-16 20:55] NatalieCampos commented on #213
Verified on build 1475. Closing issue.

[2017-05-16 20:55] #213 closed

[2017-05-16 21:12] #377 closed

[2017-05-16 21:12] #376 closed

[2017-05-16 21:13] dfoll commented on #377
you can now enter a value over 360 for mils, checked to make sure that you are still limited to 360 with degrees

[2017-05-16 21:13] dfoll commented on #376
you can now enter a value over 360 for mils, checked to make sure that you are still limited to 360 with degrees

[2017-05-16 21:20] dfoll opened #386 "Using Mils is not drawing correct output in ArcMap"
In ArcMap when using mils to draw a line, an incorrect output is being draw. I am drawing a line using degrees value of 180, and get an output that looks correct. I then switch to mils draw a line that is 3200 which should resemble the same angle, and i get something way off. Note that the preview draws where you expect it, but when you hit enter, the line zips off in the wrong direction.

![image

[2017-05-16 21:21] dfoll commented on #386
@lfunkhouser @nfeuerstein  milestone and backlog labels ?

[2017-05-16 22:02] pHill5136 commented on #299
added attributes to shapefile please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/387

[2017-05-17 00:09] joebayles commented on #386
@dfoll is that angle 320 Degrees?

[2017-05-17 15:54] pHill5136 commented on #386
fixed pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/388

[2017-05-17 15:56] pHill5136 commented on #346
redid this one

[2017-05-17 16:50] pHill5136 commented on #240
@dfoll This should be fixed now. Had to modify the combined addin

[2017-05-17 22:14] pHill5136 commented on #369
@nfeuerstein @NatalieCampos I have looked into this. I personally have seen the kmz get corrupted once in dozens of tries. This has been reported by several people. I believe that the kmz is occasionally getting corrupted when it is created inside an esri gptool. The shapefile that is created and used to convert to kmz in the gp tool appears to be valid even in cases where the kmz is corrupted. I

[2017-05-17 23:27] ACueva commented on #346
@pHill5136 retesting.

[2017-05-17 23:32] ACueva commented on #346
Verified this is working the same as the Radius pull down.  The circle now follows the cursor on the map.

[2017-05-17 23:32] #346 closed

[2017-05-18 16:43] nfeuerstein commented on #258
Labels are still a limitation in Pro.

[2017-05-18 16:44] nfeuerstein commented on #257
Labels are still a limitation in Pro.

[2017-05-18 16:44] nfeuerstein commented on #255
Labels are still a limitation in Pro.

[2017-05-18 16:45] nfeuerstein commented on #192
Labels are still a limitation in Pro.

[2017-05-18 16:53] nfeuerstein commented on #366
Try passing output shapefile to GP Tool to see if this is an issue with how we call the GP tool or if its an issue with the GP tool.

[2017-05-18 16:53] nfeuerstein commented on #369
Try passing output shapefile to GP Tool to see if this is an issue with how we call the GP tool or if its an issue with the GP tool.

[2017-05-18 18:12] csmoore commented on #192
@kgonzago @pHill5136 - Pro does have a TextSymbol (at least in the latest) - can you explain a little more about the limitation?

https://pro.arcgis.com/en/pro-app/sdk/api-reference/index.html#topic12379.html

[2017-05-18 20:57] dfoll commented on #386
verified fixed

[2017-05-18 20:57] #386 closed

[2017-05-18 21:22] dfoll commented on #240
sending this one back over, 1484  still looks like this

[2017-05-19 16:10] pHill5136 commented on #366
@nfeuerstein @kgonzago @NatalieCampos We tried saving to kmz with the gptool. I had success. We tried with Avi's computer and we got a corrupted kmz. So this tells us that the problem is with the gp tool. Avi is opening a support issue since he has a reproducible case.

[2017-05-19 16:38] dfoll commented on #240
looks good in 1487 for combined and single add-in

[2017-05-19 16:38] #240 closed

[2017-05-19 17:19] dfoll commented on #180
after reading the comments on this, this issue should be closed. The issue is actually opposite of what what originally logged. Opening a new issue to reflect what was originally logged.

[2017-05-19 17:19] #180 closed

[2017-05-19 17:26] dfoll opened #389 "Ring radials are being created as geodetic lines when they should be created as loxodromes (ArcMap)."
Radials should reflect a constant bearing, so in a mercator projection they should appear as straight lines that reflect a constant bearing from the center point to the outer ring. In ArcMap they are being created as geodetic lines.

![image](https://cloud.githubusercontent.com/assets/5322669/26259307/44ffb48c-3c7d-11e7-8981-261127f132a7.png)
ArcGIS Pro

![image](https://cloud.githubusercontent.co

[2017-05-19 17:26] dfoll commented on #389
someone else may want to weigh in and check my logic before going too far into the development effort first, but this is my understanding

[2017-05-19 17:45] ACueva commented on #329
I was able to reproduce this issue.  I've logged a case with Tech Support.  Esri Case #01933479
I believe this is going to be an issue with the Layer to KML geoprocessing tool in Pro.  Will update this issue once a bug has been logged.

[2017-05-19 18:02] dfoll commented on #299
attributes are carrying over and populating ok for feature class and shapefile for lines rings circles and ellipses. still could not get any of them to produce a valid kmz (). Case has been created with Tech Support. Esri Case #1933479. See issue for more details on the kmz issue until tech support opens a bug will update once tech support opens an issue.

[2017-05-19 18:04] dfoll commented on #329
@ACueva i have carried over this information to the relevant issue i had in Pro #299 When tech support opens an issue, please let me know so i can update #299 or feel free to update #299 yourself with the support issue details.

[2017-05-19 21:44] nfeuerstein commented on #389
Do bearings not follow the curvature of the earth?

[2017-05-22 15:37] pHill5136 commented on #90
please verify

[2017-05-22 21:21] NatalieCampos commented on #90
@pHill5136
There are differences in attribute when written to shp vs feature class.  The lines are missing the DestinationX and DestinationY fields.

[2017-05-22 22:03] NatalieCampos commented on #90
@pHill5136 Also my KMZs still have no attributes when saved from Pro 1.4

https://github.com/Esri/distance-direction-addin-dotnet/issues/90

[2017-05-22 22:49] NatalieCampos commented on #389
The output radials are loxodrome now.  See screen grab below.  Closing issue.
![image](https://cloud.githubusercontent.com/assets/5116835/26331471/e3100ea8-3f05-11e7-97ab-cf38e2926558.png)

[2017-05-22 22:50] #389 closed

[2017-05-23 15:38] pHill5136 commented on #90
please verify pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/391

[2017-05-23 20:26] pHill5136 commented on #299
please verify kmz. Now reprojecting shapefile from which kmz is derived to 4326. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/392

[2017-05-23 21:21] NatalieCampos commented on #90
The missing fields have been added. Closing issue.

[2017-05-23 21:21] #90 closed

[2017-05-23 23:55] NatalieCampos commented on #299
@pHill5136 The reproject seems to have worked.  There are still some issues.

1. KMZs saved from rings do not have attributes.  (Circles, Ellipses, and Lines do have attributes)
2.  My lines are named lines.kmz.  When I bring in the lines.kmz file to Pro, Pro names them LInes_proj.  Can you remove the _proj?
![image](https://cloud.githubusercontent.com/assets/5116835/26380321/c25f57d6-3fd2-11e7-97

[2017-05-24 18:11] pHill5136 commented on #299
please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/394

[2017-05-25 17:29] NatalieCampos commented on #301
Verified and closed.

[2017-05-25 17:30] #301 closed

[2017-05-25 23:06] NatalieCampos commented on #299
@pHill5136 the extra shp files are still being left behind.  Can these be removed?

[2017-05-25 23:24] NatalieCampos commented on #299
@pHill5136 there is still an issue with name of the file as it is brought into pro...
![image](https://cloud.githubusercontent.com/assets/5116835/26474166/495b3470-4164-11e7-8e4c-29e2c3747127.png)

[2017-05-25 23:25] NatalieCampos commented on #299
additionally I am totally unable to save rings out to kmz

![image](https://cloud.githubusercontent.com/assets/5116835/26474581/b4251648-4166-11e7-9b32-d273753023ad.png)

[2017-05-30 02:52] ACueva commented on #368
I can get this issue to occur pretty much on demand.  Working with @pHill5136 to see how this can be resolved.

[2017-05-30 15:54] dfoll commented on #299
This issue needs to be broken into two different issues. This will be done by @NatalieCampos .

[2017-05-30 17:12] NatalieCampos opened #397 "unable to save features to kmz sometimes"
There is an issue with saving features to KMZ that is erratic and only sometimes repeatable.  To reproduce:

1.  Create features as any geometry (line, circle, ellipse, ring)
2. Save as KMZ

The program will hang sometimes and will need to be shut down via task manager.  This issue was first documented in #299 and was seen/observed by multiple team members on different machines.

[2017-05-31 17:29] pHill5136 commented on #397
please verify pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/399

[2017-05-31 17:54] ACueva commented on #397
Waiting for #399 to merge before testing.

[2017-05-31 18:02] csmoore commented on #397
@ACueva - Merged, plz kickoff build

[2017-05-31 19:31] ACueva commented on #397
Build completed, ready to be tested.

[2017-05-31 20:19] topowright commented on #397
I have verified this fix using build 05-31-2017_1540

[2017-05-31 20:19] #397 closed

[2017-05-31 20:20] topowright commented on #299
I have verified that this works using build 05-31-2017_1540

[2017-05-31 20:20] #299 closed

[2017-05-31 20:23] ACueva commented on #397
I've also tested Lines, Rings, Circles, and Ellipses.  Looks good on the latest build.   I did not get it to crash.

[2017-05-31 20:26] ACueva commented on #368
Just tested this issue again.  Wasn't able to get it to crash.

[2017-05-31 20:33] #368 closed

[2017-06-06 21:27] NatalieCampos opened #401 "Parts (shp.xml and prj )of the shapefile remain when saving rings to kml"
When saving rings to KML one of the ,shp files used to create the kmz file is not deleted.  To repoduce:

1. Draw rings
2. Save as KMz
3.  Look in the location where the kmzs were saved.  You will see the files associated with .shp.

[2017-06-14 14:40] dfoll opened #404 "Make preview for drawing ellipses with the add-in the same experience as the widget - ArcGIS Pro"
The way the mouse is moved is same if you think about what is going on, but the preview feedback makes much more sense the way it is displayed in the widget versus the feedback in Pro. In Pro you click to set your center point, then drag out to create a circle with a diameter that represents your major axis. Click again and you squeeze the circle to shrink it down to get your minor axis.
![image](

[2017-06-14 14:42] dfoll commented on #404
@nfeuerstein @lfunkhouser i spoke with @kgonzago about this, and it may actually turn out to be a decent sized effort, so you guys can take the time to decide when it gets pulled in, but like I mentioned early, I think the business value is there.

[2017-06-14 14:44] dfoll opened #405 "Make preview for drawing ellipses with the add-in the same experience as the widget - ArcMap"
The way the mouse is moved is same if you think about what is going on, but the preview feedback makes much more sense the way it is displayed in the widget versus the feedback in Pro. In Pro you click to set your center point, then drag out to create a circle with a diameter that represents your major axis. Click again and you squeeze the circle to shrink it down to get your minor axis.
![image](

[2017-06-14 14:44] dfoll commented on #405
@nfeuerstein @lfunkhouser i spoke with @kgonzago about this, and it may actually turn out to be a decent sized effort, so you guys can take the time to decide when it gets pulled in, but like I mentioned early, I think the business value is there.

[2017-06-14 14:45] dfoll commented on #405
I realize I reused screenshots from ArcGIS Pro ... it works exactly the same in ArcMap and Pro

[2017-06-14 14:59] dfoll opened #406 "After pressing enter to create graphics all the input values are cleared from the pane - ArcMap"
In Distance and Direction after entering all your parameters and pressing Enter to create your graphic, all the inputs you used are cleared out.  I would like to see those values stay there until you explicitly change them. I realize that the graphics are labeled, however you still immediately lose information about the center point of things like ellipses until your export the graphics and get th

[2017-06-14 15:05] dfoll opened #407 "After pressing enter to create graphics all the input values are cleared from the pane - ArcGIS Pro"
In Distance and Direction after entering all your parameters and pressing Enter to create your graphic, all the inputs you used are cleared out.  I would like to see those values stay there until you explicitly change them.This is a problem because after you press Enter you lose all information about your graphic until you export and get the information from the attribute table.

It looks like thi

[2017-06-14 17:55] NatalieCampos opened #408 "extraneous shapefiles remain after exporting ellipses to kmz"
The extraneous shapefile remains after exporting an ellipse to kmz.  See graphic below. This was previously seen with rings.  Though no longer occurs as of 6/14.

![image](https://user-images.githubusercontent.com/5116835/27146973-08f5e66e-50f0-11e7-8371-67fca102b625.png)

[2017-06-15 14:50] pHill5136 commented on #364
please verify

[2017-06-15 15:27] ACueva commented on #364
@nfeuerstein Looks like this issue is ready to be tested.  It's labeled Version after next.  Please review and if appropriate move to version next.

[2017-06-15 15:29] nfeuerstein commented on #364
@pHill5136 can you provide some context please?

[2017-06-15 16:05] pHill5136 commented on #364
@nfeuerstein I read the tag wrong. I've been looking at this one for a while now and found a solution.

[2017-06-15 22:01] ACueva commented on #364
@pHill5136 Kicking it back, still appears to be an issue in Pro.

[2017-06-16 22:10] ACueva commented on #364
@pHill5136 It's still not honoring the following in ArcGIS Pro:

Issue 2:
Changing the Starting Point does not update the feedback graphic on the map using the existing Distance/Angle parameters (sometimes you can see the feedback graphic flash then disappear)

Let me know if you want me to step through it with you.

[2017-06-21 15:06] pHill5136 commented on #364
Please verify. The behavior now is that you have to create the map point 1st before you populate the distance and azimuth.

[2017-06-21 15:43] pHill5136 commented on #233
please verify. pr: https://github.com/Esri/distance-direction-addin-dotnet/pull/414

[2017-06-21 17:49] ACueva commented on #233
Verified the following issues have been addressed.

- Lines
  - [ ] Save As - Save Outputs Radial buttons are blank
- Circle
  - [ ] Distance Calculator drop-downs are blank (From and Radius/Diameter drop-downs work fine)
  - [ ] Time and Rate text is black
  - [ ] Save As - Save Outputs Radial buttons are blank
- Ellipse
  - [ ] Save As - Save Outputs Radial buttons are blank
- Rings
  - [ ] Save

[2017-06-21 17:49] #233 closed

[2017-06-22 15:51] NatalieCampos commented on #364
Issue 2 has been fixed.  working to verify other issues

[2017-06-22 16:34] NatalieCampos commented on #364
@csmoore I cant reproduce  issue 1.  I think the fix @pHill5136 implemented might have solved this problem. Continuing to work on other issues.

[2017-06-22 17:01] NatalieCampos commented on #364
Issue 3:  After entering a start point with From Point as the draw method and then switch to Distance and Bearing ... the original starting point disappears.  I see nothing wrong with this behavior.... again I think this might be related to @pHill5136 fix.

[2017-06-22 17:01] NatalieCampos commented on #364
Issue 4:  in the testing of issues 1-3, I have not seen this occur.  For now I will close this issue as verified.

[2017-06-22 17:01] #364 closed

[2017-06-22 17:55] NatalieCampos opened #415 "DD not disabling when moving to CC"
When working with DD after a while and then moving to CC.  CC will draw DD lines.  This was also repeated by @ACueva .  To reproduce:

1. Draw DD lines
2. Close DD Pane or Switch to CC
3. Click map point tool on CC pane and begin collecting points
4. At some point, CC will begin creating DD lines.

@ACueva and I tried to switch off the DD map pointer tool to correct the issue.  However, did not fi

[2017-06-22 18:27] lfunkhouser commented on #415
Also test using individual components. Uninstall Military Tools and install both CC and Distance and Direction to help determine the cause of issue.

[2017-06-22 20:14] NatalieCampos commented on #408
i exported all geometries as kmz... no extra shp files were found. Closing issue.

[2017-06-22 20:14] #408 closed

[2017-06-22 20:22] NatalieCampos commented on #415
@kgonzago @topowright @lfunkhouser @nfeuerstein I do not see this happening in the individual addins

[2017-06-22 22:32] topowright commented on #415
The experience that you are seeing is as designed; however, we should think about how we could possibly change this going forward.

[2017-06-22 22:50] topowright commented on #415
I am currently logging an issue for each add-in to have the same UI experience.

[2017-06-22 22:50] #415 closed

[2017-06-26 10:18] adgiles opened #416 "Opening Distance and Direction causes ArcMap 10.5.1 to crash"
Trying to open the tool using the single addIn causes ArcMap 10.5.1 to crash.

[2017-06-26 14:29] kgonzago commented on #416
@pHill5136 Can you look at this issue when you have a moment?

[2017-06-26 14:43] pHill5136 commented on #416
Working for me with latest build.

[2017-06-26 15:45] NatalieCampos commented on #416
Just installed 10.5.1 and MT build 1611.  Clicking DD button to bring up the pane causes ArcMap to crash.

[2017-06-26 15:55] NatalieCampos commented on #416
The crash does not seem to be happening within the single DD component.

[2017-06-26 16:31] topowright commented on #416
I have the same issue on 10.3.1 when trying to access the Distance and Direction component installing Military Tools. I am using build 1611 as well.

[2017-06-26 16:34] NatalieCampos commented on #416
Seen in 10.5 as well.

[2017-06-26 16:40] kgonzago commented on #416
@NatalieCampos safe to assume issue exists in 10.3.1?

[2017-06-26 17:22] NatalieCampos commented on #416
@kgonzago ..yes safe to assume as @topowright see it in 10.3.1

[2017-06-26 17:26] kgonzago commented on #416
Oops didn't see @topowright's comment.

[2017-06-26 17:42] pHill5136 commented on #416
I only get the crash when installing from the addin on jenkins. If I build the addin manually I don't see it.

[2017-06-26 18:27] lfunkhouser commented on #416
@NatalieCampos will continue to test previous builds to determine when the crash was introduced. Possibly just an issue with the single add-in.

[2017-06-26 18:54] NatalieCampos commented on #416
Build 1591 - does not cause crash.
Build 1592 - does cause crash.

@kgonzago @pHill5136 @lfunkhouser @nfeuerstein

[2017-06-26 21:53] pHill5136 commented on #416
@lfunkhouser @nfeuerstein @NatalieCampos @dfoll
@kgonzago is looking into the jenkins build with this. Our testing has pointed to a likely jenkins related issue.
fwiw: I noticed that the addin size of the good (built manually) addin is slightly larger than the addin on jenkins (one that crashes dd).

[2017-06-27 16:23] NatalieCampos opened #417 "add build number to add in similar to ArcMap"
It would be useful for the add in to have the build number associated with it similar to ArcMap.  This will help ensure we know what build number we are testing or what build we found the issues in.

This is the about ArcGIS Desktop dialog.  It contains the build number 6491.
![image](https://user-images.githubusercontent.com/5116835/27596508-98b06a26-5b14-11e7-8ef3-d69c44eea936.png)
Adding the bu

[2017-06-27 17:55] NatalieCampos commented on #416
Build 1614 @10:36 does not cause a crash

[2017-06-27 17:58] dfoll commented on #416
with MTA build 1614 I no longer have this crash with AM10.3.1

[2017-06-27 18:44] #416 closed

[2017-06-27 18:56] NatalieCampos opened #419 "DD addin creates duplicate features when exporting"
When exporting to (FC, SHP, and kmz) DD creates duplicate features.  See screen grab below. To reproduce:
1.  Create features (lines)
2. Save As file type
3. Open attribute table

![image](https://user-images.githubusercontent.com/5116835/27604776-3be1763a-5b2f-11e7-8953-3bc41f730c08.png)

Edited: This is not seen in circles

[2017-06-27 20:16] NatalieCampos opened #420 "Distance units for rings not being populated"
This distance units for rings are not populated in the attribute table.  The Distance Units attribute should be populated for circles as they are for radials.

![image](https://user-images.githubusercontent.com/5116835/27608022-c1f8f328-5b3a-11e7-92d1-daee4ca9eb8e.png)

[2017-06-27 21:35] NatalieCampos commented on #420
This is NOTseen in Pro.  Seen screen grab below.
![image](https://user-images.githubusercontent.com/5116835/27611134-e0488c8e-5b45-11e7-82f2-be23a0388755.png)